<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="dbconfigFile" value="SqlDb.config" />
		<!-- Do get internal loginformation for log4net when troubleshooting faild logging uncumment the line below  -->
		<!--<add key="log4net.Internal.Debug" value="true"/>-->
	</appSettings>
</configuration>