<?xml version="1.0"?>
<FileTypeList xmlns="http://www.scb.se"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.scb.se ../XSDSchemas/FileSchema.xsd">

  <FileType Active="true">
    <Type>xlsx</Type>
    <AssemblyQualifiedName>PCAxis.Excel.XlsxSerializer, PCAxis.Excel</AssemblyQualifiedName>
    <Creator>PCAxis.Excel.Web.Controls.ExcelSerializerCreator, PCAxis.Excel.Web.Controls</Creator>
    <FileInfos>
      <FileInfo>FileTypeExcelX</FileInfo>
      <FileInfo>FileTypeExcelXDoubleColumn</FileInfo>
    </FileInfos>
    <WebControl>PCAxis.Excel.Web.Controls.SaveAsXlsx, PCAxis.Excel.Web.Controls</WebControl>
    <MimeType>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</MimeType>
    <FileExtension>xlsx</FileExtension>
    <CssClass>?</CssClass>
    <Image>button_save_as_xlsx.png</Image>
    <ShortcutImage>small_button_xlsx.png</ShortcutImage>
  </FileType>
  <FileType Active="true">
    <Type>json</Type>
    <AssemblyQualifiedName>PCAxis.Serializers.JsonStat.JsonStatSerializer, PCAxis.Serializers.JsonStat</AssemblyQualifiedName>
    <Creator>PCAxis.JsonStat.Web.Controls.JsonStatSerializerCreator, PCAxis.JsonStat.Web.Controls</Creator>
    <FileInfos>
      <FileInfo>FileTypeJsonStat</FileInfo>
    </FileInfos>
    <WebControl>PCAxis.JsonStat.Web.Controls.JsonStatFileType, PCAxis.JsonStat.Web.Controls</WebControl>
    <MimeType>application/json</MimeType>
    <FileExtension>json</FileExtension>
    <CssClass>?</CssClass>
    <Image>big_button_JsonStatgif.png</Image>
    <ShortcutImage>small_button_jsonstat.png</ShortcutImage>
  </FileType>
  <FileType Active="true">
    <Type>Html5 table</Type>
    <AssemblyQualifiedName>PCAxis.Html5Table.Html5TableSerializer, PCAxis.Html5Table</AssemblyQualifiedName>
    <Creator>PCAxis.Html5Table.Web.Controls.Html5TableSerializerCreator, PCAxis.Html5Table.Web.Controls</Creator>
    <FileInfos>
      <FileInfo>FileTypeHtml5Table</FileInfo>
    </FileInfos>
    <WebControl>PCAxis.Html5Table.Web.Controls.SaveAsHtml5Table, PCAxis.Html5Table.Web.Controls</WebControl>
    <MimeType>text/html</MimeType>
    <FileExtension>html</FileExtension>
    <CssClass>?</CssClass>
    <Image>button_save_as_html.png</Image>
    <ShortcutImage>small_button_h-tab.png</ShortcutImage>
  </FileType>
  <FileType Active="true">
    <Type>Json</Type>
    <AssemblyQualifiedName>PX.Serializers.Json.JsonSerializer, PX.Serializers.Json</AssemblyQualifiedName>
    <Creator>PX.Json.Web.Controls.JsonSerializerCreator, PX.Json.Web.Controls</Creator>
    <FileInfos>
      <FileInfo>FileTypeJson</FileInfo>
    </FileInfos>
    <WebControl>PX.Json.Web.Controls.SaveAsJson, PX.Json.Web.Controls</WebControl>
    <MimeType>text/json</MimeType>
    <FileExtension>json</FileExtension>
    <CssClass>?</CssClass>
    <Image>button-big.gif</Image>
    <ShortcutImage>small_button_json.png</ShortcutImage>
  </FileType>
</FileTypeList>