<?xml version="1.0" encoding="UTF-8"?>
<Databases>
  <DatabaseSet language="en">
    <Database id="Example" type="PX" rootPath="C:\Users\scbmoss\Source\Repos\statisticssweden\PxWeb\PXWeb\Resources\PX\Databases\Example">
      <Name>Example</Name>
    </Database>
    <Database id="ssd" type="CNMM">
      <Name>ssd</Name>
    </Database>
  </DatabaseSet>
</Databases>