<?xml version="1.0" encoding="utf-8"?>
<SqlDbConfig version="2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="SqlDbConfig.xsd">

	<Database id="#{DATABASEID}#" metaModel="#{METAMODEL}#">
		<Descriptions>
			#{DESCRIPTIONS}#
		</Descriptions>
		<Connection databaseType="MSSQLSERVER" dataProvider="Sql" useTemporaryTables="true">
			<ConnectionString>Data Source=#{DATASOURCE}#;Initial Catalog=#{INITIAL_CATALOG}#;enlist=false;ApplicationIntent=ReadOnly;User Id=USER;Password=PASSWORD;</ConnectionString>
			<DefaultUser>#{DEFAULT_USER}#</DefaultUser>
			<DefaultPassword>#{DEFAULT_PASSWORD}#</DefaultPassword>
		</Connection>
		<Languages>
			#{LANGUAGES}#
		</Languages>
		<Codes />

		<Keywords>

		</Keywords>
		<Tables>
			<Table modelName="Contents" tableName="Contents" alias="CNT">
				<Columns>

					<Column modelName="LastUpdated" columnName="Published"/>

				</Columns>
			</Table>
		</Tables>
	</Database>

</SqlDbConfig>