.ssb-fact-box {
  border: 1px solid $pxweb-green-3;
  margin: 16px 0;
  padding: 20px 16px;
  width: 100%;

  &:focus-within {
    outline: $pxweb-purple-3 solid 2px;
  }

  .accordion-header:focus {
    outline: none;
  }

  &:hover {
    border: 1px solid $pxweb-green-4;
  }
}
