$large-number-size: 148px;
$medium-number-size: 100px;
$small-number-size: 56px;

.ssb-number {
  @include roboto-condenced;
  color: $pxweb-dark-5;
  line-height: normal;
  white-space: nowrap;

  &.small {
    font-size: $small-number-size;

    @media #{$mobile} {
      font-size: 56px;
    }
  }

  &.medium {
    font-size: $medium-number-size;

    @media #{$mobile} {
      font-size: 56px;
    }
  }

  &.large {
    font-size: $large-number-size;

    @media #{$mobile} {
      font-size: 77px;
    }
  }
}
