.ssb-references {
  display: inline-flex;
  flex-direction: column;

  .reference-header {
    @include roboto;
    color: $pxweb-dark-6;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.25;
  }
}
