<?xml version="1.0" encoding="utf-8"?>
<settings>
  <!-- GENERAL -->
  <general>
    <!-- SITE -->
    <site>
      <applicationName>PxWeb</applicationName>
      <logoPath>px-web-logo.gif</logoPath>
      <mainHeaderForTables>TableName</mainHeaderForTables>
    </site>
    <!-- PATHS -->
    <paths>
      <languagesPath>~/Resources/Languages</languagesPath>
      <imagesPath>~/Resources/Images/</imagesPath>
      <!--  even if you do not use pxDatabases ,only cnmm, the pxDatabasesPath still has to resolve to an existsing directory  -->
      <pxDatabasesPath>~/Resources/PX/Databases/</pxDatabasesPath>
      <pxAggreagationsPath>~/Resources/PX/Aggregations/</pxAggreagationsPath>
    </paths>
    <!-- LANGUAGE -->
    <languages>
      <language>
        <name>en</name>
        <default>True</default>
        <decimalSeparator>Point</decimalSeparator>
        <thousandSeparator>Comma</thousandSeparator>
        <dateFormat>M/d/yyyy</dateFormat>
      </language>
      <language>
        <name>sv</name>
        <default>False</default>
        <decimalSeparator>Comma</decimalSeparator>
        <thousandSeparator>Space</thousandSeparator>
        <dateFormat>yyyy-MM-dd</dateFormat>
      </language>
    </languages>
    <!-- FILE FORMATS -->
    <fileFormats>
      <cellLimitDownloads>100000</cellLimitDownloads>
      <excel>
        <informationLevel>AllInformation</informationLevel>
        <doubleColumn>False</doubleColumn>
        <showDataNotes>False</showDataNotes>
      </excel>
      <fileBaseName>Matrix</fileBaseName>
    </fileFormats>
    <!-- MODULES-->
    <modules>
      <showLogin>False</showLogin>
      <usageLogging>False</usageLogging>
      <savedQueries>False</savedQueries>
    </modules>
    <!-- GLOBALS -->
    <global>
      <removeSingleContent>False</removeSingleContent>
      <secrecyOption>None</secrecyOption>
      <roundingRule>RoundUp</roundingRule>
      <symbol1>.</symbol1>
      <symbol2>..</symbol2>
      <symbol3>...</symbol3>
      <symbol4>....</symbol4>
      <symbol5>.....</symbol5>
      <symbol6>......</symbol6>
      <dataSymbolNil>-</dataSymbolNil>
      <dataSymbolSum>#SUM</dataSymbolSum>
      <showSourceDescription>False</showSourceDescription>
      <tableInformationLevel>AllInformation</tableInformationLevel>
      <uppercase>True</uppercase>
      <dataNotePlacment>After</dataNotePlacment>
      <showInformationTypes>
        <officialStatistics enabled="True" />
        <unit enabled="True" />
        <contact enabled="True" />
        <lastUpdated enabled="True" />
        <refPeriod enabled="True" />
        <stockFA enabled="True" />
        <cfPrices enabled="True" />
        <dayADj enabled="True" />
        <seasAdj enabled="True" />
        <basePeriod enabled="True" />
        <updateFrequency enabled="True" />
        <nextUpdate enabled="True" />
        <survey enabled="True" />
        <link enabled="True" />
        <creationDate enabled="True" />
        <copyright enabled="True" />
        <source enabled="True" />
        <matrix enabled="True" />
        <database enabled="True" />
      </showInformationTypes>
      <strictAggregationCheck>True</strictAggregationCheck>
      <showinfofile>True</showinfofile>
    </global>
    <databases>
      <pxDatabases>
        <database>Example</database>
      </pxDatabases>
      <cnmmDatabases>
      </cnmmDatabases>
    </databases>
    <administration>
      <useIPFilter>true</useIPFilter>
      <ipAddresses>
        <ipAddress>127.0.0.1</ipAddress>
      </ipAddresses>
    </administration>
  </general>
  <!-- MENU -->
  <menu>
    <menuMode>TreeViewWithFiles</menuMode>
    <numberOfValuesInDefaultView>3</numberOfValuesInDefaultView>
    <!-- TableOfContents -->
    <showRoot>False</showRoot>
    <expandAll>False</expandAll>
    <sortByAlias>True</sortByAlias>
    <!-- TableList -->
    <showSelectLink>True</showSelectLink>
    <viewLinkMode>DefaultValues</viewLinkMode>
    <showDownloadLink>ShowIfSmallFile</showDownloadLink>
    <showModifiedDate>True</showModifiedDate>
    <showLastUpdated>True</showLastUpdated>
    <showFileSize>True</showFileSize>
    <showVariablesAndValues>True</showVariablesAndValues>
    <showTableCategory>False</showTableCategory>
    <metadataAsIcons>True</metadataAsIcons>
    <showTableUpdatedAfterPublish>False</showTableUpdatedAfterPublish>
    <showTextToMetadata>False</showTextToMetadata>
    <showMenuExplanation>False</showMenuExplanation>
  </menu>
  <!-- SELECTION -->
  <selection>
    <cellLimitScreen>5000</cellLimitScreen>
    <showMandatoryMark>True</showMandatoryMark>
    <showSelectionLimits>True</showSelectionLimits>
    <allowAggregations>True</allowAggregations>
    <hierarchies>
      <showHierarchies>True</showHierarchies>
      <hierarchicalLevelsOpen>1</hierarchicalLevelsOpen>
    </hierarchies>
    <markingTips>
      <showMarkingTips>False</showMarkingTips>
    </markingTips>
    <maxRowsWithoutSearch>600</maxRowsWithoutSearch>
    <alwaysShowTimeVariableWithoutSearch>True</alwaysShowTimeVariableWithoutSearch>
    <listSize>6</listSize>
    <presentationViews>
      <plugin>tableViewLayout1</plugin>
      <plugin>tableViewLayout2</plugin>
      <plugin>chartViewColumn</plugin>
      <plugin>chartViewLine</plugin>
    </presentationViews>
    <outputFormats>
      <outputFormat>FileTypePX</outputFormat>
      <outputFormat>FileTypeCsvWithHeadingAndTabulator</outputFormat>
      <outputFormat>FileTypeCsvWithHeadingAndComma</outputFormat>
      <outputFormat>FileTypeCsvWithHeadingAndSpace</outputFormat>
      <outputFormat>FileTypeCsvWithHeadingAndSemiColon</outputFormat>
      <outputFormat>FileTypeExcelX</outputFormat>
    </outputFormats>
    <valuesetMustBeSelectedFirst>False</valuesetMustBeSelectedFirst>
    <showAllAvailableValuesSearchButton>True</showAllAvailableValuesSearchButton>
    <searchButtonMode>ManyValues</searchButtonMode>
    <alwaysShowTimeVariableWithoutSearch>False</alwaysShowTimeVariableWithoutSearch>
    <titleFromMenu>False</titleFromMenu>
    <metadataAsLinks>False</metadataAsLinks>
    <selectValuesFromGroup>True</selectValuesFromGroup>
    <showPathToMetadataSystem>False</showPathToMetadataSystem>
    <enablePathToMetadataSystem>True</enablePathToMetadataSystem>
    <buttonsForContentVariable>False</buttonsForContentVariable>
    <standardApplicationHeadTitle>False</standardApplicationHeadTitle>
    <searchValuesBeginningOfWordCheckBoxDefaultChecked>False</searchValuesBeginningOfWordCheckBoxDefaultChecked>
    <preSelectFirstContentAndTime>True</preSelectFirstContentAndTime>
    <showNoFootnoteForSelection>True</showNoFootnoteForSelection>
    <clientsideValidation>True</clientsideValidation>
  </selection>
  <!-- PRESENTATION -->
  <presentation>
    <promptMandatoryFootnotes>False</promptMandatoryFootnotes>
    <table>
      <tableTransformation>NoTransformation</tableTransformation>
      <defaultLayout>Layout1</defaultLayout>
      <maxColumns>30</maxColumns>
      <maxRows>1000</maxRows>
      <titleVisible>True</titleVisible>
      <attributes>
        <displayAttributes>True</displayAttributes>
        <displayDefaultAttributes>True</displayDefaultAttributes>
      </attributes>
      <useStickyHeaderFullscreen>True</useStickyHeaderFullscreen>
    </table>
    <commandBar>
      <viewMode>DropDown</viewMode>
      <operations>
        <plugin>pivotManual</plugin>
        <plugin>pivotCW</plugin>
        <plugin>pivotCCW</plugin>
        <plugin>changeValueOrder</plugin>
        <plugin>splitTimeVariable</plugin>
        <plugin>changeDecimal</plugin>
        <plugin>deleteValue</plugin>
        <plugin>deleteVariable</plugin>
        <plugin>changeTextPresentation</plugin>
        <plugin>changeTextCodePresentation</plugin>
        <plugin>perPart</plugin>
        <plugin>sum</plugin>
        <plugin>subtract</plugin>
        <plugin>divide</plugin>
        <plugin>multiply</plugin>
      </operations>
      <operationShortcuts>
        <plugin>pivotManual</plugin>
        <plugin>pivotCW</plugin>
        <plugin>pivotCCW</plugin>
      </operationShortcuts>
      <operationButtons>
        <plugin>pivotManual</plugin>
        <plugin>pivotCW</plugin>
        <plugin>pivotCCW</plugin>
        <plugin>changeValueOrder</plugin>
        <plugin>splitTimeVariable</plugin>
        <plugin>changeDecimal</plugin>
        <plugin>deleteValue</plugin>
        <plugin>deleteVariable</plugin>
        <plugin>changeTextPresentation</plugin>
        <plugin>changeTextCodePresentation</plugin>
        <plugin>perPart</plugin>
        <plugin>removeNoRows</plugin>
        <plugin>removeZeroRows</plugin>
        <plugin>sum</plugin>
        <plugin>subtract</plugin>
        <plugin>divide</plugin>
        <plugin>multiply</plugin>
      </operationButtons>
      <commandBarShortcuts>
      </commandBarShortcuts>
      <outputFormats>
        <outputFormat>FileTypePX</outputFormat>
        <outputFormat>FileTypeExcel</outputFormat>
        <outputFormat>FileTypeExcelDoubleColumn</outputFormat>
        <outputFormat>FileTypeCsvWithHeadingAndTabulator</outputFormat>
        <outputFormat>FileTypeCsvWithoutHeadingAndTabulator</outputFormat>
        <outputFormat>FileTypeCsvWithHeadingAndComma</outputFormat>
        <outputFormat>FileTypeCsvWithoutHeadingAndComma</outputFormat>
        <outputFormat>FileTypeCsvWithHeadingAndSpace</outputFormat>
        <outputFormat>FileTypeCsvWithoutHeadingAndSpace</outputFormat>
        <outputFormat>FileTypeCsvWithHeadingAndSemiColon</outputFormat>
        <outputFormat>FileTypeCsvWithoutHeadingAndSemiColon</outputFormat>
        <outputFormat>FileTypeHtml</outputFormat>
        <outputFormat>FileTypeRelational</outputFormat>
        <outputFormat>FileTypeChartPng</outputFormat>
        <outputFormat>FileTypeChartGif</outputFormat>
        <outputFormat>FileTypeChartJpeg</outputFormat>
        <outputFormat>FileTypeExcelX</outputFormat>
        <outputFormat>FileTypeExcelXDoubleColumn</outputFormat>
        <outputFormat>FileTypeJsonStat</outputFormat>
        <outputFormat>FileTypeJsonStat2</outputFormat>
        <outputFormat>FileTypeHtml5Table</outputFormat>
        <outputFormat>FileTypeJson</outputFormat>
      </outputFormats>
      <outputFormatShortcuts>
      </outputFormatShortcuts>
      <fileTypeButtons>
        <outputFormat>px</outputFormat>
        <outputFormat>xls</outputFormat>
        <outputFormat>csv</outputFormat>
        <outputFormat>html</outputFormat>
        <outputFormat>xlsx</outputFormat>
      </fileTypeButtons>
      <presentationViews>
        <plugin>tableViewLayout1</plugin>
        <plugin>tableViewLayout2</plugin>
        <plugin>tableViewSorted</plugin>
        <plugin>chartViewColumn</plugin>
        <plugin>chartViewColumnStacked</plugin>
        <plugin>chartViewColumnStacked100</plugin>
        <plugin>chartViewBar</plugin>
        <plugin>chartViewBarStacked</plugin>
        <plugin>chartViewBarStacked100</plugin>
        <plugin>chartViewLine</plugin>
        <plugin>chartViewColumnLine</plugin>
        <plugin>chartViewPopulationPyramid</plugin>
        <plugin>chartViewPie</plugin>
        <plugin>chartViewArea</plugin>
        <plugin>chartViewAreaStacked</plugin>
        <plugin>chartViewAreaStacked100</plugin>
        <plugin>chartViewPoint</plugin>
        <plugin>chartViewRadar</plugin>
      </presentationViews>
      <presentationViewShortcuts>
      </presentationViewShortcuts>
      <presentationViewButtons>
        <plugin>tableViewLayout1</plugin>
        <plugin>tableViewLayout2</plugin>
        <plugin>tableViewSorted</plugin>
        <plugin>footnoteView</plugin>
        <plugin>informationView</plugin>
      </presentationViewButtons>
    </commandBar>
    <NewTitleLayout>True</NewTitleLayout>
  </presentation>
  <!-- NAVIGATION -->
  <navigation>
    <showNavigationFlow>True</showNavigationFlow>
  </navigation>
  <features>
    <general>
      <chartsEnabled>True</chartsEnabled>
      <apiEnabled>True</apiEnabled>
      <userFriendlyUrlsEnabled>True</userFriendlyUrlsEnabled>
      <userStatisticsEnabled>True</userStatisticsEnabled>
      <searchEnabled>True</searchEnabled>
      <backgroundWorkerEnabled>True</backgroundWorkerEnabled>
      <saveQueryEnabled>True</saveQueryEnabled>
      <clearCache>
      </clearCache>
    </general>
    <charts>
      <height>500</height>
      <maxHeight>2000</maxHeight>
      <width>900</width>
      <maxWidth>3000</maxWidth>
      <colors>
        <color>#0080FF</color>
        <color>#0775ba</color>
        <color>#294d8a</color>
        <color>#2c65c7</color>
        <color>#75b8ff</color>
        <color>#6b9fed</color>
        <color>#5ec7f7</color>
      </colors>
      <lineThickness>3</lineThickness>
      <maxLineThickness>5</maxLineThickness>
      <logotype>LogotypeSCB.gif</logotype>
      <maxValues>600</maxValues>
      <timeSortOrder>Ascending</timeSortOrder>
      <labelOrientation>Vertical</labelOrientation>
      <font>
        <name>Arial</name>
        <titleSize>20</titleSize>
        <axisSize>12</axisSize>
      </font>
      <legend>
        <visible>True</visible>
        <fontSize>8</fontSize>
        <height>20</height>
      </legend>
      <guidelines>
        <color>#b3b3b3</color>
        <horizontal>True</horizontal>
        <vertical>False</vertical>
      </guidelines>
      <showSourse>False</showSourse>
      <showLogo>False</showLogo>
      <backgroundColorGraphs>#eeeeee</backgroundColorGraphs>
      <lineColorPhrame>#030003</lineColorPhrame>
      <lineThicknessPhrame>0</lineThicknessPhrame>
    </charts>
    <api>
      <infoURL>
      </infoURL>
      <showQueryInformation>True</showQueryInformation>
      <routePrefix>api/v1/</routePrefix>
      <maxValuesReturned>1000</maxValuesReturned>
      <limiterRequests>10</limiterRequests>
      <limiterTimespan>10</limiterTimespan>
      <enableCORS>True</enableCORS>
      <enableCache>True</enableCache>
      <fetchCellLimit>100000</fetchCellLimit>
      <urlRoot>
      </urlRoot>
      <defaultExampleResponseFormat>px</defaultExampleResponseFormat>
      <showSaveApiQueryButton>True</showSaveApiQueryButton>
      <saveApiQueryText>pxapi-</saveApiQueryText>
    </api>
    <backgroundWorker>
      <sleepTime>3600</sleepTime>
    </backgroundWorker>
    <search>
      <cacheTime>60</cacheTime>
      <resultListLength>250</resultListLength>
      <defaultOperator>OR</defaultOperator>
    </search>
    <savedQuery>
      <storageType>File</storageType>
      <enableCache>True</enableCache>
      <cacheTime>3</cacheTime>
      <enableCORS>True</enableCORS>
      <showPeriodAndId>True</showPeriodAndId>
      <enableLimiterRequest>True</enableLimiterRequest>
      <limiterRequests>10</limiterRequests>
      <limiterTimespan>10</limiterTimespan>
    </savedQuery>
  </features>
</settings>