<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="pcaxis">
      <sectionGroup name="paxiom" />
      <sectionGroup name="web.core">
        <section name="stateprovider" type="PCAxis.Web.Core.Configuration.Sections.StateProviderSection, PCAxis.Web.Core, Version=1.1.0.0" />
      </sectionGroup>
      <sectionGroup name="web.controls">
        <section name="plugins" type="PCAxis.Web.Controls.Configuration.Sections.CommandBarSection, PCAxis.Web.Controls, Version=1.1.0.0" />
        <sectionGroup name="views">
          <section name="table" type="PCAxis.Web.Controls.Configuration.Sections.ViewSection, PCAxis.Web.Controls, Version=1.1.0.0" />
          <section name="sortedtable" type="PCAxis.Web.Controls.Configuration.Sections.ViewSection, PCAxis.Web.Controls, Version=1.1.0.0" />
          <section name="chart" type="PCAxis.Web.Controls.Configuration.Sections.ViewSection, PCAxis.Web.Controls, Version=1.1.0.0" />
          <section name="footnote" type="PCAxis.Web.Controls.Configuration.Sections.ViewSection, PCAxis.Web.Controls, Version=1.1.0.0" />
          <section name="information" type="PCAxis.Web.Controls.Configuration.Sections.ViewSection, PCAxis.Web.Controls, Version=1.1.0.0" />
        </sectionGroup>
        <section name="pxpage" type="PCAxis.Web.Controls.Configuration.Sections.PxPageSection, PCAxis.Web.Controls, Version=1.1.0.0" />
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\pxweb.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="visitorStatisticsAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\stats.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="ApiAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\api.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="4MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <!--<appender name="FeatureUsageLogger" type="log4net.Appender.RollingFileAppender">
      <file value="logs\FeatureUsage.log"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="50MB" />
      <rollingStyle value="Size" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>

    <logger additivity="false" name="FeatureUsage">
      <level value="DEBUG"/>
      --><!-- to enable feature logging uncomment line below. --><!--
      <appender-ref ref="FeatureUsageLogger" />
      --><!--appender-ref ref="FeatureUsageLogger" /--><!--
    </logger>-->

    <logger additivity="false" name="PCAxis.Web.Controls.PxDefaultLogger">
      <level value="INFO" />
      <appender-ref ref="visitorStatisticsAppender" />
    </logger>
    <logger name="api-usage">
      <level value="INFO" />
      <appender-ref ref="ApiAppender" />
    </logger>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>


  <pcaxis>
    <web.core>
      <stateprovider defaultstateprovider="session" timeout="20" managedhandler="False">
        <stateproviders>
          <add name="session" type="PCAxis.Web.Core.StateProvider.StateProviders.SessionStateProvider, PCAxis.Web.Core, Version=1.1.0.0" />
          <add name="filestate" type="PCAxis.Web.Core.StateProvider.StateProviders.FileStateProvider, PCAxis.Web.Core, Version=1.1.0.0" />
        </stateproviders>
      </stateprovider>
    </web.core>
    <web.controls>
      <plugins operationsFilepath="~/CommandBarCustomPlugins.config" viewsFilepath="~/CommandBarCustomViewsPlugins.config" fileTypesFilepath="~/CommandBarCustomFileTypesPlugins.config" />
      <views>
        <table defaultpage="~/Table.aspx" />
        <sortedtable defaultpage="~/DataSort.aspx">
          <!--
           Different pages for different languages can be configured this way:
           <pages>
              <add language="sv" url="~/DataSort.aspx"/>
              <add language="en" url="~/DataSort.aspx"/>
           </pages>
           -->
        </sortedtable>
        <chart defaultpage="~/Chart.aspx" />
        <footnote defaultpage="~/FootnotesPresentation.aspx" />
        <information defaultpage="~/InformationPresentation.aspx" />
      </views>
      <pxpage>
        <pxpages>
          <add id="apihelp" defaultpage="http://www.scb.se/api/">
            <!--
              Different pages for different languages can be configured this way: -->
            <pages>
              <add language="en" url="http://www.scb.se/api_en/" />
              <add language="sv" url="http://www.scb.se/api/" />
            </pages>
          </add>
          <add id="markingtips" defaultpage="~/MarkingTips.aspx" />
        </pxpages>
      </pxpage>
    </web.controls>
  </pcaxis>
  <appSettings>
    <add key="dbconfigFile" value="SqlDb.config" />
    <add key="dbmetaFile" value="databases.config" />
    <!-- The number of minutes Menu objects will live in the cache (1440 means they will live for 24 hours) -->
    <add key="CacheServiceExpirationInMinutes" value="1440" />
    <!-- Limit API requests from one IP-address -->
    <add key="enableLimiter" value="true" />
    <!--<add key="maxValuesReturned" value="10000"/>
    <add key="routePrefix" value="api/v1/"/>
    <add key="limiterRequests" value="30"/>
    <add key="limiterTimeSpan" value="1"/>
    <add key="enableCORS" value="true"/>
    <add key="enableCache" value="false"/>
    <add key="clearCache" value=""/>-->

    <!--Illegal characters that PxWeb will validate against in querystring parameter values and input fields (textboxes) -->
    <add key="characterBlackList" value="--|;|/*|@|char |alter |begin |cast |create |cursor |declare |delete |drop |end |exec |fetch |insert |kill |open |select |select*|sys |table |update" />

    <!-- Saved query settings -->
    <!--<add key="SavedQueryDataAccessor" value="PXWeb.SavedQuery.MsSql.DataAccessor, PXWeb.SavedQuery.MsSql" />
    <add key="SavedQueryConnectionString" value="Data Source=aaa;Initial Catalog=bbb;enlist=false;User Id=ccc;Password=ddd" />-->

    <!-- Setting for configuring custom implementation for reenabling the saved query Paxiom cache -->
    <!--<add key="savedQueryPaxiomCacheReenableMethod" value="MyAssembly.MyClass, MyAssembly, MyReenableMethod"/>-->

  </appSettings>

  <!--<connectionStrings>
    <add name="px_aspnetdb" connectionString="Data Source=aaa;Initial Catalog=bbb;User Id=ccc;Password=ddd;" />
  </connectionStrings>-->

  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.6.1">
      <expressionBuilders>
        <add expressionPrefix="PxString" type="PXWeb.Language.PxStringExpressionBuilder" />
        <add expressionPrefix="PxImage" type="PXWeb.Management.PxImageExpressionBuilder" />
        <add expressionPrefix="PxSetting" type="PXWeb.Management.PxSettingExpressionBuilder" />
      </expressionBuilders>
      <assemblies>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <!-- Overide and use AntiXssEncoder as the deafult encoder -->
    <!-- Hide which version of ASP.NET that is running -->
    <httpRuntime encoderType="System.Web.Security.AntiXss.AntiXssEncoder" enableVersionHeader="false" />

    <!--
        The <customErrors> section enables configuration 
        of what to do if/when an unhandled error occurs 
        during the execution of a request. Specifically, 
        it enables developers to configure html error pages 
        to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <!--<customErrors mode="RemoteOnly" defaultRedirect="~/ErrorGeneral.aspx" />-->
    <customErrors mode="On" defaultRedirect="~/ErrorGeneral.aspx" />
    <pages controlRenderingCompatibilityVersion="4.5" clientIDMode="AutoID">
      <controls>
        <add assembly="PCAxis.Web.Controls" namespace="PCAxis.Web.Controls.CommandBar" tagPrefix="pxc" />
        <add assembly="PCAxis.Web.Controls" namespace="PCAxis.Web.Controls" tagPrefix="pxc" />
      </controls>
    </pages>
    <httpModules>
      <add name="StateProviderModule" type="PCAxis.Web.Core.StateProvider.StateProviderModule, PCAxis.Web.Core, Version=1.1.0.0, Culture=neutral, PublicKeyToken=c0a818bde8f95c30" />
      <add name="PXWebHttpModule" type="PXWeb.Modules.PXWebHttpModule" />
      <add name="SecurityHttpModule" type="PXWeb.Modules.Security.SecurityHttpModule" />
      <add name="RoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
    <siteMap defaultProvider="PxWebSiteMap">
      <providers>
        <add name="PxWebSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web.sitemap" />
        <add name="AdminSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Admin/Admin.sitemap" />
      </providers>
    </siteMap>

    <!--
        The <authentication> section enables configuration 
        of the security authentication mode used by 
        ASP.NET to identify an incoming user. 
    -->



  <!-- ******************************************************************************************************************************************************************* -->
  <!-- *                                                                                                                                                                 * -->
  <!-- * Use this authentication configuration when you only want to authenticate users that access the administration pages and the rest of PxWeb is open for everyone * -->
  <!-- *                                                                                                                                                                 * -->
  <!-- ******************************************************************************************************************************************************************* -->

    <membership defaultProvider="PXWebDefaultMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="PXWebDefaultMembershipProvider" type="PXWeb.Security.PXWebDefaultMembershipProvider, PXWeb" connectionStringName="" applicationName="PXWEB" />
      </providers>
    </membership>

    <authentication mode="Forms">
      <forms name=".PXLogin" loginUrl="./Login.aspx">
        <credentials passwordFormat="SHA1">
          <user name="admin" password="37fa265330ad83eaa879efb1e2db6380896cf639" />
        </credentials>
      </forms>
    </authentication>

  </system.web>

  <location path="Admin">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <!-- ******************************************************************************************************************************************************************* -->
  <!-- *                                                                                                                                                                 * -->
  <!-- * Use this authentication configuration when all users must be authenticated (administration pages AND the rest of PxWeb)                                        * -->
  <!-- *                                                                                                                                                                 * -->
  <!-- ******************************************************************************************************************************************************************* -->

<!-- 
    <authorization>
      <deny users="?" />
    </authorization>
    <membership defaultProvider="PXWebLicenseMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add
          name="PXWebLicenseMembershipProvider"
          type="PXWeb.Security.PXWebLicenseMembershipProvider, PXWeb"
          connectionStringName="px_aspnetdb"
          applicationName="PX"
          enablePasswordRetrieval="false"
          enablePasswordReset="true"
          minRequiredNonalphanumericCharacters="0"
          minRequiredPasswordLength="3"
          requiresQuestionAndAnswer="false"
          requiresUniqueEmail="true"
          passwordFormat="Hashed" />
      </providers>
    </membership>
    <profile defaultProvider="AspNetSqlProfileProvider" enabled="true" automaticSaveEnabled="true" >
      <providers>
        <clear />
        <add
        name="AspNetSqlProfileProvider"
        connectionStringName="px_aspnetdb"
        applicationName="PX"
        type="System.Web.Profile.SqlProfileProvider"/>
      </providers>
      <properties>
        <add name="License" allowAnonymous="false" type="System.DateTime" />
        <add name="LicenseNumber" allowAnonymous="false" type="System.Int32" defaultValue="" />
      </properties>
    </profile>
    <authentication mode="Forms">
      <forms name=".RapsLogin" loginUrl="~/Login.aspx">
      </forms>
    </authentication>
    <roleManager enabled="true" defaultProvider="SqlRoleManager">
      <providers>
        <add name="SqlRoleManager"
             type="System.Web.Security.SqlRoleProvider"
             connectionStringName="px_aspnetdb"
             applicationName="PX" />
      </providers>
    </roleManager>

  </system.web>
  
  <location path="Resources">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

-->
  
  <!-- ******************************************************************************************************************************************************************* -->
  <!-- *                                                                                                                                                                 * -->
  <!-- * End of authentication configuration                                                                                                                             * -->
  <!-- *                                                                                                                                                                 * -->
  <!-- ******************************************************************************************************************************************************************* -->


  <!-- Configure longer timeout for the administration page that generate the databases -->
  <location path="Admin/Tools-GenerateDb.aspx">
    <system.web>
      <httpRuntime executionTimeout="600" />
    </system.web>
  </location>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="StateProviderModule" type="PCAxis.Web.Core.StateProvider.StateProviderModule" />
      <add name="PXWebHttpModule" type="PXWeb.Modules.PXWebHttpModule" />
      <add name="SecurityHttpModule" type="PXWeb.Modules.Security.SecurityHttpModule" />
    </modules>
    <security>
      <!-- Hide which IIS version is used -->
      <requestFiltering removeServerHeader="true">
        <!-- Deny the following sequences in url:s and querystring -->
        <denyQueryStringSequences>
          <add sequence="&gt;" />    <!-- > character -->
          <add sequence="&lt;" />    <!-- < character -->
          <add sequence=";" />
          <add sequence="/*" />
          <add sequence="@" />
          <add sequence="delete" />
          <add sequence="kill" />
          <add sequence="select(" />
          <add sequence="char(" />
          <add sequence="waitfor" />
          <add sequence="drop" />
          <add sequence="create" />
          <add sequence="ctl00$" />
          <add sequence="exec(" />
          <add sequence="exec()" />
          <add sequence="&quot;'," />     <!-- "', characters -->
          <add sequence="connect(" />
          <add sequence="sleep 10; &quot;); sleep; sleep(5)" />      <!-- sleep 10; "); sleep; sleep(5) -->
        </denyQueryStringSequences>
        <denyUrlSequences>
          <add sequence="%" />
          <add sequence="&amp;" /> <!-- & character -->
          <add sequence=".." />
          <add sequence="./" />
          <add sequence=";&amp;" /> <!-- ;& characters-->
          <add sequence=";:" />
          <add sequence="\" />
          <add sequence=";" />
          <add sequence="/*" />
          <add sequence="@" />
          <add sequence="select(" />
          <add sequence="char(" />
          <add sequence="waitfor" />
          <add sequence="drop" />
          <add sequence="create" />
          <add sequence="ctl00$" />
          <add sequence="exec(" />
          <add sequence="exec()" />
          <add sequence="&quot;'," /> <!-- "', characters -->
          <add sequence="%20" />
          <add sequence="connect(" />
          <add sequence="sleep 10; &quot;); sleep; sleep(5)" /> <!-- sleep 10; "); sleep; sleep(5) -->
        </denyUrlSequences>
        <verbs>
          <add verb="DEBUG" allowed="false" />
          <add verb="PUT" allowed="false" />
          <add verb="SEARCH" allowed="false" />
          <add verb="TRACE" allowed="false" />
          <add verb="TRACK" allowed="false" />
        </verbs>
      </requestFiltering>
    </security>
    
    <httpProtocol>
      <!-- Custom headers that will increase security in PxWeb and help to prevent different kinds of hacker attacks -->
      <customHeaders>
        <!-- Prevent MIME-sniffing attacks -->
        <add name="X-Content-Type-Options" value="nosniff" />
        
        <!-- Prevent cross-site scripting (XSS) attacks -->
        <add name="X-XSS-Protection" value="1; mode=block" />
        
        <!-- Prevent cross-site scripting (XSS) and data injection attacks by specifying that all dynamic resources must come from the sites own origin. -->
        <!--<add name="Content-Security-Policy" value="default-src 'self'" />-->
        <!-- Only possible to run javascript from the sites own origin (also inline scripts and evaluated scripts) -->
        <add name="Content-Security-Policy" value="script-src 'self' 'unsafe-inline' 'unsafe-eval' " />

        <!-- Prevent click-jacking attacks. You need to remove this header if you want to render PxWeb in an iframe -->
        <add name="X-Frame-Options" value="SAMEORIGIN" />

        <!-- Control how much referrer information should be included in requests. no-referrer-when-downgrade is the default level -->
        <add name="Referrer-Policy" value="no-referrer-when-downgrade" />
      </customHeaders>
    </httpProtocol>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.SqlClient" publicKeyToken="23ec7fc2d6eaa4a5" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.13.20136.2" newVersion="1.13.20136.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.12.0" newVersion="2.0.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration.ConfigurationManager" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.12.2.0" newVersion="2.12.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
