<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.1" targetFramework="net40" />
  <package id="PCAxis.Core" version="1.0.0-beta4" targetFramework="net461" />
  <package id="PCAxis.Metadata" version="1.0.0-beta3" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.Permissions" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net461" />
</packages>