<?xml version="1.0" encoding="utf-8"?>
<Menu>
  <Language lang="sv" default="yes">
    <MenuItem selection="0" sortcode="0">
      <prestext>
      </prestext>
      <description>
      </description>
      <MenuItem selection="14" sortcode="0">
        <prestext>Priser och kostnader</prestext>
        <description>Priser och kostnader</description>
        <MenuItem selection="27" sortcode="0">
          <prestext>Producentprisindex för tjänster</prestext>
          <description>Producentprisindex för tjänster</description>
          <Link type="table" sortcode="0">
            <selection>Pthi_sv.px</selection>
            <prestext>Producentprisindex för tjänster 2005=100</prestext>
            <attribute name="size">20 kb</attribute>
            <attribute name="modified">20070417 09:00</attribute>
          </Link>
        </MenuItem>
      </MenuItem>
      <MenuItem selection="34" sortcode="1">
        <prestext>Offentlig ekonomi</prestext>
        <description>Offentlig ekonomi</description>
        <MenuItem selection="36" sortcode="0">
          <prestext>Den offentliga sektorns inkomster och utgifter kvartalsvis </prestext>
          <description>Den offentliga sektorns inkomster och utgifter kvartalsvis </description>
          <Link type="table" sortcode="0">
            <selection>stpfs_se_ok.px</selection>
            <prestext>Offentliga inkomster och utgifter</prestext>
            <attribute name="size">23 kb</attribute>
            <attribute name="modified">20070330 09:00</attribute>
          </Link>
        </MenuItem>
        <MenuItem selection="37" sortcode="1">
          <prestext>Offentliga sektorns EMU-skuld</prestext>
          <description>Offentliga sektorns EMU-skuld</description>
          <Link type="table" sortcode="0">
            <selection>qemu_ru.px</selection>
            <prestext>Den offentliga sektorns EMU-skuld</prestext>
            <attribute name="size">5 kb</attribute>
            <attribute name="modified">20070405 09:56</attribute>
          </Link>
        </MenuItem>
        <MenuItem selection="38" sortcode="2">
          <prestext>Offentliga sektorns finansräkenskaper</prestext>
          <description>Offentliga sektorns finansräkenskaper</description>
          <Link type="table" sortcode="0">
            <selection>KFR_skulder.px</selection>
            <prestext>Den offentliga sektorns finansräkenskaper, skulder</prestext>
            <attribute name="size">18 kb</attribute>
            <attribute name="modified">20070405 09:00</attribute>
          </Link>
          <Link type="table" sortcode="1">
            <selection>KFR_tillgångar.px</selection>
            <prestext>Den offentliga sektorns finansräkenskaper, Tillgångar</prestext>
            <attribute name="size">19 kb</attribute>
            <attribute name="modified">20070405 09:56</attribute>
          </Link>
        </MenuItem>
        <MenuItem selection="40" sortcode="3">
          <prestext>Kvartalsstatistik över kommunernas ekonomi</prestext>
          <description>Kvartalsstatistik över kommunernas ekonomi</description>
          <Link type="table" sortcode="0">
            <selection>kutane_kumul_pxw_2006_04_sv.px</selection>
            <prestext>Kvartalsstatistik över kommunernas ekonomi, kumulativa kvartal</prestext>
            <attribute name="size">14 kb</attribute>
            <attribute name="modified">20070227 09:00</attribute>
          </Link>
          <Link type="table" sortcode="1">
            <selection>kutane_vuosin_pxw_2006_04_sv.px</selection>
            <prestext>Kvartalsstatistik över kommunernas ekonomi</prestext>
            <attribute name="size">20 kb</attribute>
            <attribute name="modified">20070227 09:00</attribute>
          </Link>
        </MenuItem>
        <MenuItem selection="41" sortcode="4">
          <prestext>Kommunernas och samkommunernas ekonomi och verksamhet</prestext>
          <description>Kommunernas och samkommunernas ekonomi och verksamhet</description>
          <Link type="table" sortcode="0">
            <selection>ktt_001_2005_001_sv.px</selection>
            <prestext>Kommunernas nyckeltal 2005</prestext>
            <attribute name="size">1254 kb</attribute>
            <attribute name="modified">20061114 11:00</attribute>
          </Link>
        </MenuItem>
        <MenuItem selection="44" sortcode="5">
          <prestext>Statens inkomster och utgifter efter område</prestext>
          <description>Statens inkomster och utgifter efter område</description>
          <Link type="table" sortcode="0">
            <selection>vtmma_2004_01_2006-06-30_db_001_sv.px</selection>
            <prestext>Statens skatteinkomster efter region 2004</prestext>
            <attribute name="size">4 kb</attribute>
            <attribute name="modified">20060613 09:00</attribute>
          </Link>
        </MenuItem>
      </MenuItem>
      <MenuItem selection="45" sortcode="2">
        <prestext>Nationalräkenskaper</prestext>
        <description>Nationalräkenskaper</description>
        <MenuItem selection="56" sortcode="0">
          <prestext>Finansräkenskaper</prestext>
          <description>Finansräkenskaper</description>
          <Link type="table" sortcode="0">
            <selection>FR_SKUL_BA.px</selection>
            <prestext>Financiella skulder, balansräkning.</prestext>
            <attribute name="size">23 kb</attribute>
            <attribute name="modified">20061016 16:17</attribute>
          </Link>
          <Link type="table" sortcode="1">
            <selection>FR_SKUL_TR.px</selection>
            <prestext>Finansiella skulder, transaktioner.</prestext>
            <attribute name="size">21 kb</attribute>
            <attribute name="modified">20061018 11:06</attribute>
          </Link>
          <Link type="table" sortcode="2">
            <selection>FR_TILLG_BA.px</selection>
            <prestext>Financiella tillgångar, balansräkning.</prestext>
            <attribute name="size">24 kb</attribute>
            <attribute name="modified">20061018 11:06</attribute>
          </Link>
          <Link type="table" sortcode="3">
            <selection>FR_TILLG_TR.px</selection>
            <prestext>Finansiella tillgångar, transaktioner.</prestext>
            <attribute name="size">21 kb</attribute>
            <attribute name="modified">20061018 11:06</attribute>
          </Link>
        </MenuItem>
        <MenuItem selection="58" sortcode="1">
          <prestext>Nationalräkenskaper årvis</prestext>
          <description>Nationalräkenskaper årvis</description>
          <Link type="table" sortcode="0">
            <selection>001_vtp_bktmarkkinahintaan_sv.px</selection>
            <prestext>Bruttonationalprodukt, till marknadspris, 1975-2006</prestext>
            <attribute name="size">3 kb</attribute>
            <attribute name="modified">20070301 10:00</attribute>
          </Link>
          <Link type="table" sortcode="1">
            <selection>002_vtp_huoltotase_sv.px</selection>
            <prestext>Försörjningsbalans till löpande och till referensårs 2000 priser samt volymförändringarna 1975-2006</prestext>
            <attribute name="size">11 kb</attribute>
            <attribute name="modified">20070301 10:00</attribute>
          </Link>
          <Link type="table" sortcode="2">
            <selection>003_vtp_nettoluotonanto_sv.px</selection>
            <prestext>Nettokreditgivning sektorvis, förändrade tidsserie 1975-2006</prestext>
            <attribute name="size">5 kb</attribute>
            <attribute name="modified">20070301 10:00</attribute>
          </Link>
          <Link type="table" sortcode="3">
            <selection>004_vtp_tuotos_sv.px</selection>
            <prestext>Produktion 1975-2005</prestext>
            <attribute name="size">173 kb</attribute>
            <attribute name="modified">20070131 09:00</attribute>
          </Link>
          <Link type="table" sortcode="4">
            <selection>005_vtp_vtk_sv.px</selection>
            <prestext>Insatsförbrukning 1975-2005</prestext>
            <attribute name="size">166 kb</attribute>
            <attribute name="modified">20070131 09:00</attribute>
          </Link>
          <Link type="table" sortcode="5">
            <selection>006_vtp_arvinlisays_sv.px</selection>
            <prestext>Förädlingsvärde 1975-2005</prestext>
            <attribute name="size">169 kb</attribute>
            <attribute name="modified">20070131 09:00</attribute>
          </Link>
          <Link type="table" sortcode="6">
            <selection>007_vtp_palkansaajakorv_sv.px</selection>
            <prestext>Löntagares kompensationer 1975-2005</prestext>
            <attribute name="size">57 kb</attribute>
            <attribute name="modified">20070131 09:00</attribute>
          </Link>
          <Link type="table" sortcode="7">
            <selection>008_vtp_toimintayl_sv.px</selection>
            <prestext>Driftsöverskott 1975-2005</prestext>
            <attribute name="size">49 kb</attribute>
            <attribute name="modified">20070131 09:00</attribute>
          </Link>
          <Link type="table" sortcode="8">
            <selection>009_vtp_tyollisyys_sv.px</selection>
            <prestext>Sysselsättning 1975-2005</prestext>
            <attribute name="size">79 kb</attribute>
            <attribute name="modified">20070131 09:00</attribute>
          </Link>
          <Link type="table" sortcode="9">
            <selection>010_vtp_palkansaajat_sv.px</selection>
            <prestext>Anställda 1975-2005</prestext>
            <attribute name="size">78 kb</attribute>
            <attribute name="modified">20070131 09:00</attribute>
          </Link>
          <Link type="table" sortcode="10">
            <selection>011_vtp_yrittajat_sv.px</selection>
            <prestext>Företagare 1975-2005</prestext>
            <attribute name="size">19 kb</attribute>
            <attribute name="modified">20070131 09:00</attribute>
          </Link>
          <Link type="table" sortcode="11">
            <selection>012_vtp_tyotunnit_sv.px</selection>
            <prestext>Totala antalet utförda arbetstimmar 1975-2005</prestext>
            <attribute name="size">81 kb</attribute>
            <attribute name="modified">20070131 09:00</attribute>
          </Link>
          <Link type="table" sortcode="12">
            <selection>013_vtp_palkstunnit_sv.px</selection>
            <prestext>Totala antalet utförda arbetstimmar av anställda 1975-2005</prestext>
            <attribute name="size">79 kb</attribute>
            <attribute name="modified">20070131 09:00</attribute>
          </Link>
          <Link type="table" sortcode="13">
            <selection>014_vtp_yrittunnit_sv.px</selection>
            <prestext>Totala antalet utförda arbetstimmar av företagare 1975-2005</prestext>
            <attribute name="size">21 kb</attribute>
            <attribute name="modified">20070131 09:00</attribute>
          </Link>
        </MenuItem>
      </MenuItem>
      <MenuItem selection="191" sortcode="3">
        <prestext>Val</prestext>
        <description>Val</description>
        <MenuItem selection="192" sortcode="0">
          <prestext>euvaa</prestext>
          <description>euvaa</description>
          <Link type="url" sortcode="0">
            <selection>http://omnis.stat.fi/StatWeb/start.asp?LA=se&amp;lp=home</selection>
            <prestext>Länk till StatFin databasen</prestext>
          </Link>
        </MenuItem>
      </MenuItem>
      <MenuItem selection="199" sortcode="4">
        <prestext>Befolkning</prestext>
        <description>Befolkning</description>
        <MenuItem selection="201" sortcode="0">
          <prestext>Erhållande av finskt medborgarskap</prestext>
          <description>Erhållande av finskt medborgarskap</description>
          <Link type="table" sortcode="0">
            <selection>kans_tau_001_sv.px</selection>
            <prestext>Personer som erhållt finskt medborgarskap efter tidigare medborgarskap 1990-2006</prestext>
            <attribute name="size">452 kb</attribute>
            <attribute name="modified">20070504 09:00</attribute>
          </Link>
        </MenuItem>
        <MenuItem selection="202" sortcode="1">
          <prestext>Avlidna</prestext>
          <description>Avlidna</description>
          <Link type="table" sortcode="0">
            <selection>kuol_tau_001_sv.px</selection>
            <prestext>Döda efter ålder, kön och område 1987-2006</prestext>
            <attribute name="size">1156 kb</attribute>
            <attribute name="modified">20070420 09:00</attribute>
          </Link>
          <Link type="table" sortcode="1">
            <selection>kuol_tau_002_sv.px</selection>
            <prestext>Döda efter ålder och kön 1980-2006</prestext>
            <attribute name="size">32 kb</attribute>
            <attribute name="modified">20070420 09:00</attribute>
          </Link>
          <Link type="table" sortcode="2">
            <selection>vamuu_tau_001_sv.px</selection>
            <prestext>Alla befolkningsförändringar efter område 1987-2006</prestext>
            <attribute name="size">503 kb</attribute>
            <attribute name="modified">20070420 09:00</attribute>
          </Link>
          <Link type="table" sortcode="3">
            <selection>vamuu_tau_002_sv.px</selection>
            <prestext>Befolkningsförändringar och folkmängden 1749-2006 hela landet</prestext>
            <attribute name="size">23 kb</attribute>
            <attribute name="modified">20070420 09:00</attribute>
          </Link>
          <Link type="table" sortcode="4">
            <selection>vamuu_tau_003_sv.px</selection>
            <prestext>Befolkningsförändringar efter område 1980-2006</prestext>
            <attribute name="size">512 kb</attribute>
            <attribute name="modified">20070420 09:00</attribute>
          </Link>
        </MenuItem>
        <MenuItem selection="203" sortcode="2">
          <prestext>Flyttningsrörelsen</prestext>
          <description>Flyttningsrörelsen</description>
          <Link type="table" sortcode="0">
            <selection>muutl_tau_004_sv.px</selection>
            <prestext>In- och utvandring efter ålder och kön och efter område 1987-2006</prestext>
            <attribute name="size">1493 kb</attribute>
            <attribute name="modified">20070427 09:00</attribute>
          </Link>
          <Link type="table" sortcode="1">
            <selection>muutl_tau_005_sv.px</selection>
            <prestext>In- och utvandring efter ut- och invandringsland samt ålder och kön 1987-2006</prestext>
            <attribute name="size">19234 kb</attribute>
            <attribute name="modified">20070420 09:00</attribute>
          </Link>
          <Link type="table" sortcode="2">
            <selection>vamuu_tau_001_sv.px</selection>
            <prestext>Alla befolkningsförändringar efter område 1987-2006</prestext>
            <attribute name="size">503 kb</attribute>
            <attribute name="modified">20070420 09:00</attribute>
          </Link>
          <Link type="table" sortcode="3">
            <selection>vamuu_tau_002_sv.px</selection>
            <prestext>Befolkningsförändringar och folkmängden 1749-2006 hela landet</prestext>
            <attribute name="size">23 kb</attribute>
            <attribute name="modified">20070420 09:00</attribute>
          </Link>
          <Link type="table" sortcode="4">
            <selection>vamuu_tau_003_sv.px</selection>
            <prestext>Befolkningsförändringar efter område 1980-2006</prestext>
            <attribute name="size">512 kb</attribute>
            <attribute name="modified">20070420 09:00</attribute>
          </Link>
        </MenuItem>
        <MenuItem selection="204" sortcode="3">
          <prestext>Familjer</prestext>
          <description>Familjer</description>
          <Link type="table" sortcode="0">
            <selection>perh_001_2000_001_sv.px</selection>
            <prestext>Familjer efter familjetyp och antal barn efter område 2000-2005</prestext>
            <attribute name="size">1052 kb</attribute>
            <attribute name="modified">20060601 09:00</attribute>
          </Link>
        </MenuItem>
        <MenuItem selection="205" sortcode="4">
          <prestext>Ändringar i civilstånd </prestext>
          <description>Ändringar i civilstånd </description>
          <Link type="table" sortcode="0">
            <selection>vamuu_tau_001_sv.px</selection>
            <prestext>Alla befolkningsförändringar efter område 1987-2006</prestext>
            <attribute name="size">503 kb</attribute>
            <attribute name="modified">20070420 09:00</attribute>
          </Link>
          <Link type="table" sortcode="1">
            <selection>vamuu_tau_002_sv.px</selection>
            <prestext>Befolkningsförändringar och folkmängden 1749-2006 hela landet</prestext>
            <attribute name="size">23 kb</attribute>
            <attribute name="modified">20070420 09:00</attribute>
          </Link>
        </MenuItem>
        <MenuItem selection="206" sortcode="5">
          <prestext>Födda</prestext>
          <description>Födda</description>
          <Link type="table" sortcode="0">
            <selection>synt_tau_001_sv.px</selection>
            <prestext>Levande födda efter kön och moderns ålder och område 1987-2006</prestext>
            <attribute name="size">495 kb</attribute>
            <attribute name="modified">20070420 09:00</attribute>
          </Link>
          <Link type="table" sortcode="1">
            <selection>vamuu_tau_001_sv.px</selection>
            <prestext>Alla befolkningsförändringar efter område 1987-2006</prestext>
            <attribute name="size">503 kb</attribute>
            <attribute name="modified">20070420 09:00</attribute>
          </Link>
          <Link type="table" sortcode="2">
            <selection>vamuu_tau_002_sv.px</selection>
            <prestext>Befolkningsförändringar och folkmängden 1749-2006 hela landet</prestext>
            <attribute name="size">23 kb</attribute>
            <attribute name="modified">20070420 09:00</attribute>
          </Link>
          <Link type="table" sortcode="3">
            <selection>vamuu_tau_003_sv.px</selection>
            <prestext>Befolkningsförändringar efter område 1980-2006</prestext>
            <attribute name="size">512 kb</attribute>
            <attribute name="modified">20070420 09:00</attribute>
          </Link>
        </MenuItem>
        <MenuItem selection="210" sortcode="6">
          <prestext>Befolkningsstruktur</prestext>
          <description>Befolkningsstruktur</description>
          <Link type="table" sortcode="0">
            <selection>vaerak_tau_001_sv.PX</selection>
            <prestext>Medborgarskap efter ålder och kön enligt landskap 1990-2006</prestext>
            <attribute name="size">8312 kb</attribute>
            <attribute name="modified">20070323 09:00</attribute>
          </Link>
          <Link type="table" sortcode="1">
            <selection>vaerak_tau_002_sv.px</selection>
            <prestext>Språk efter ålder och kön enligt landskap 1990-2006</prestext>
            <attribute name="size">6227 kb</attribute>
            <attribute name="modified">20070323 09:00</attribute>
          </Link>
          <Link type="table" sortcode="2">
            <selection>vaerak_tau_003_sv.px</selection>
            <prestext>Födelsestat efter ålder och kön enligt landskap 1990-2006</prestext>
            <attribute name="size">8775 kb</attribute>
            <attribute name="modified">20070323 09:00</attribute>
          </Link>
          <Link type="table" sortcode="3">
            <selection>vaerak_tau_004_sv.px</selection>
            <prestext>Befolkningen efter ålder (1 år) och kön enligt område 1980-2006</prestext>
            <attribute name="size">10297 kb</attribute>
            <attribute name="modified">20070323 09:00</attribute>
          </Link>
          <Link type="table" sortcode="4">
            <selection>vaerak_tau_005_sv.px</selection>
            <prestext>Befolkningen efter ålder (5 år) och kön hela landet 1865-2006</prestext>
            <attribute name="size">57 kb</attribute>
            <attribute name="modified">20070323 09:00</attribute>
          </Link>
          <Link type="table" sortcode="5">
            <selection>vaerak_tau_007_sv.px</selection>
            <prestext>Befolkningen efter språk samt antalet utlänningar och landareal efter område 1980-2006</prestext>
            <attribute name="size">347 kb</attribute>
            <attribute name="modified">20070323 09:00</attribute>
          </Link>
        </MenuItem>
      </MenuItem>
    </MenuItem>
  </Language>
  <Language lang="en" default="no">
    <MenuItem selection="230" sortcode="0">
      <prestext>
      </prestext>
      <description>
      </description>
      <MenuItem selection="244" sortcode="0">
        <prestext>Prices and Costs</prestext>
        <description>Prices and Costs</description>
        <MenuItem selection="257" sortcode="0">
          <prestext>Producer price indices for services</prestext>
          <description>Producer price indices for services</description>
          <Link type="table" sortcode="0">
            <selection>Pthi_en.px</selection>
            <prestext>Producer Price Index for Services 2005=100</prestext>
            <attribute name="size">20 kb</attribute>
            <attribute name="modified">20070417 09:00</attribute>
          </Link>
        </MenuItem>
      </MenuItem>
      <MenuItem selection="264" sortcode="1">
        <prestext>Government Finance</prestext>
        <description>Government Finance</description>
        <MenuItem selection="266" sortcode="0">
          <prestext>General government revenue and expenditure by quarter</prestext>
          <description>General government revenue and expenditure by quarter</description>
          <Link type="table" sortcode="0">
            <selection>stpfs_en_ok.px</selection>
            <prestext>General Governments revenue and expenditure</prestext>
            <attribute name="size">23 kb</attribute>
            <attribute name="modified">20070330 09:00</attribute>
          </Link>
        </MenuItem>
        <MenuItem selection="267" sortcode="1">
          <prestext>General government EMU debt</prestext>
          <description>General government EMU debt</description>
          <Link type="table" sortcode="0">
            <selection>qemu_en.px</selection>
            <prestext>Government Debt, Quaterly</prestext>
            <attribute name="size">5 kb</attribute>
            <attribute name="modified">20070405 09:55</attribute>
          </Link>
        </MenuItem>
        <MenuItem selection="268" sortcode="2">
          <prestext>General government financial accounts</prestext>
          <description>General government financial accounts</description>
          <Link type="table" sortcode="0">
            <selection>QFAGG_assets_en.px</selection>
            <prestext>Financial accounts for general government, Assets</prestext>
            <attribute name="size">19 kb</attribute>
            <attribute name="modified">20070405 09:00</attribute>
          </Link>
          <Link type="table" sortcode="1">
            <selection>QFAGG_liabilities_en.px</selection>
            <prestext>Financial accounts for general government, Liabilities</prestext>
            <attribute name="size">18 kb</attribute>
            <attribute name="modified">20070405 09:00</attribute>
          </Link>
        </MenuItem>
      </MenuItem>
      <MenuItem selection="275" sortcode="2">
        <prestext>National accounts</prestext>
        <description>National accounts</description>
        <MenuItem selection="282" sortcode="0">
          <prestext>Tourism account</prestext>
          <description>Tourism account</description>
          <Link type="table" sortcode="0">
            <selection>Kotim_e.px</selection>
            <prestext>Domestic tourism consumption</prestext>
            <attribute name="size">16 kb</attribute>
            <attribute name="modified">20070403 09:00</attribute>
          </Link>
          <Link type="table" sortcode="1">
            <selection>Matkyht_e.px</selection>
            <prestext>Internal tourism consumption</prestext>
            <attribute name="size">11 kb</attribute>
            <attribute name="modified">20070403 09:00</attribute>
          </Link>
          <Link type="table" sortcode="2">
            <selection>tarjkys_e.px</selection>
            <prestext>Domestic supply and internal tourism consumption</prestext>
            <attribute name="size">83 kb</attribute>
            <attribute name="modified">20070403 09:00</attribute>
          </Link>
          <Link type="table" sortcode="3">
            <selection>tunnusluvut_e.px</selection>
            <prestext>Tourism demand and supply</prestext>
            <attribute name="size">3 kb</attribute>
            <attribute name="modified">20070403 09:00</attribute>
          </Link>
        </MenuItem>
        <MenuItem selection="285" sortcode="1">
          <prestext>Input-output</prestext>
          <description>Input-output</description>
          <Link type="table" sortcode="0">
            <selection>kaant60e.px</selection>
            <prestext>Inverse matrix 1995-2004</prestext>
            <attribute name="size">293 kb</attribute>
            <attribute name="modified">20061215 09:00</attribute>
          </Link>
          <Link type="table" sortcode="1">
            <selection>kayttooh60e.px</selection>
            <prestext>Use table at purchasers 1995-2004</prestext>
            <attribute name="size">255 kb</attribute>
            <attribute name="modified">20061215 09:00</attribute>
          </Link>
          <Link type="table" sortcode="2">
            <selection>kayttoph60e.px</selection>
            <prestext>Use table at basic prices 1995-2004</prestext>
            <attribute name="size">264 kb</attribute>
            <attribute name="modified">20061215 09:00</attribute>
          </Link>
          <Link type="table" sortcode="3">
            <selection>panosk60e.px</selection>
            <prestext>Input coefficients 1995-2004</prestext>
            <attribute name="size">336 kb</attribute>
            <attribute name="modified">20061215 09:00</attribute>
          </Link>
          <Link type="table" sortcode="4">
            <selection>perusp60e.px</selection>
            <prestext>Components of price for output 1995-2004</prestext>
            <attribute name="size">55 kb</attribute>
            <attribute name="modified">20061215 09:00</attribute>
          </Link>
          <Link type="table" sortcode="5">
            <selection>pt60e.px</selection>
            <prestext>Input-output table at basic prices 1995-2004</prestext>
            <attribute name="size">305 kb</attribute>
            <attribute name="modified">20061215 09:00</attribute>
          </Link>
          <Link type="table" sortcode="6">
            <selection>tarjontaph60e.px</selection>
            <prestext>Supply table at basic prices 1995-2004</prestext>
            <attribute name="size">158 kb</attribute>
            <attribute name="modified">20061215 09:00</attribute>
          </Link>
          <Link type="table" sortcode="7">
            <selection>tkaytto60e.px</selection>
            <prestext>Use table for imports at basic prices 1995-2004</prestext>
            <attribute name="size">197 kb</attribute>
            <attribute name="modified">20061215 09:00</attribute>
          </Link>
          <Link type="table" sortcode="8">
            <selection>tyop60e.px</selection>
            <prestext>Labour input and labour input coefficients 1995-2004</prestext>
            <attribute name="size">34 kb</attribute>
            <attribute name="modified">20061215 09:00</attribute>
          </Link>
        </MenuItem>
        <MenuItem selection="286" sortcode="2">
          <prestext>Financial accounts</prestext>
          <description>Financial accounts</description>
          <Link type="table" sortcode="0">
            <selection>FA_ASSET_BS.px</selection>
            <prestext>Financial Assets, Balance sheets.</prestext>
            <attribute name="size">24 kb</attribute>
            <attribute name="modified">20061016 14:50</attribute>
          </Link>
          <Link type="table" sortcode="1">
            <selection>FA_LIAB_BS.px</selection>
            <prestext>Financial Liabilities, Balance sheets.</prestext>
            <attribute name="size">23 kb</attribute>
            <attribute name="modified">20061016 16:01</attribute>
          </Link>
          <Link type="table" sortcode="2">
            <selection>FA_LIAB_TR.px</selection>
            <prestext>Financial Liabilities, Transactions.</prestext>
            <attribute name="size">21 kb</attribute>
            <attribute name="modified">20061016 16:12</attribute>
          </Link>
        </MenuItem>
        <MenuItem selection="288" sortcode="3">
          <prestext>Annual national accounts</prestext>
          <description>Annual national accounts</description>
          <Link type="table" sortcode="0">
            <selection>001_vtp_bktmarkkinahintaan_en.px</selection>
            <prestext>Gross domestic product, at market prices, 1975-2006</prestext>
            <attribute name="size">4 kb</attribute>
            <attribute name="modified">20070301 10:00</attribute>
          </Link>
          <Link type="table" sortcode="1">
            <selection>002_vtp_huoltotase_en.px</selection>
            <prestext>National balance of supply and demand, revised time serie 1975-2006</prestext>
            <attribute name="size">11 kb</attribute>
            <attribute name="modified">20070301 10:00</attribute>
          </Link>
          <Link type="table" sortcode="2">
            <selection>003_vtp_nettoluotonanto_en.px</selection>
            <prestext>Net lending by sectors, revised time serie 1975-2006</prestext>
            <attribute name="size">5 kb</attribute>
            <attribute name="modified">20070301 10:00</attribute>
          </Link>
          <Link type="table" sortcode="3">
            <selection>004_vtp_tuotos_en.px</selection>
            <prestext>Output of industries 1975-2005</prestext>
            <attribute name="size">174 kb</attribute>
            <attribute name="modified">20070131 09:00</attribute>
          </Link>
          <Link type="table" sortcode="4">
            <selection>005_vtp_vtk_en.px</selection>
            <prestext>Intermediate consumption of industries 1975-2005</prestext>
            <attribute name="size">166 kb</attribute>
            <attribute name="modified">20070131 09:00</attribute>
          </Link>
          <Link type="table" sortcode="5">
            <selection>006_vtp_arvinlisays_en.px</selection>
            <prestext>Value added of industries 1975-2005</prestext>
            <attribute name="size">170 kb</attribute>
            <attribute name="modified">20070131 09:00</attribute>
          </Link>
          <Link type="table" sortcode="6">
            <selection>007_vtp_palkansaajakorv_en.px</selection>
            <prestext>Compensation of employees by industries 1975-2005</prestext>
            <attribute name="size">57 kb</attribute>
            <attribute name="modified">20070131 09:00</attribute>
          </Link>
          <Link type="table" sortcode="7">
            <selection>008_vtp_toimintayl_en.px</selection>
            <prestext>Operating surplus of industries 1975-2005</prestext>
            <attribute name="size">50 kb</attribute>
            <attribute name="modified">20070131 09:00</attribute>
          </Link>
          <Link type="table" sortcode="8">
            <selection>009_vtp_tyollisyys_en.px</selection>
            <prestext>Employment by industry 1975-2005</prestext>
            <attribute name="size">79 kb</attribute>
            <attribute name="modified">20070131 09:00</attribute>
          </Link>
          <Link type="table" sortcode="9">
            <selection>010_vtp_palkansaajat_en.px</selection>
            <prestext>Employees by industry 1975-2005</prestext>
            <attribute name="size">78 kb</attribute>
            <attribute name="modified">20070131 09:00</attribute>
          </Link>
          <Link type="table" sortcode="10">
            <selection>011_vtp_yrittajat_en.px</selection>
            <prestext>Self-employed by industry 1975-2005</prestext>
            <attribute name="size">19 kb</attribute>
            <attribute name="modified">20070131 09:00</attribute>
          </Link>
          <Link type="table" sortcode="11">
            <selection>012_vtp_tyotunnit_en.px</selection>
            <prestext>Total hours worked by industry 1975-2005</prestext>
            <attribute name="size">81 kb</attribute>
            <attribute name="modified">20070131 09:00</attribute>
          </Link>
          <Link type="table" sortcode="12">
            <selection>013_vtp_palkstunnit_en.px</selection>
            <prestext>Employees hours worked by industry 1975-2005</prestext>
            <attribute name="size">79 kb</attribute>
            <attribute name="modified">20070131 09:00</attribute>
          </Link>
          <Link type="table" sortcode="13">
            <selection>014_vtp_yrittunnit_en.px</selection>
            <prestext>Self-employed hours worked by industry 1975-2005</prestext>
            <attribute name="size">21 kb</attribute>
            <attribute name="modified">20070131 09:00</attribute>
          </Link>
        </MenuItem>
      </MenuItem>
      <MenuItem selection="395" sortcode="3">
        <prestext>Health</prestext>
        <description>Health</description>
        <MenuItem selection="396" sortcode="0">
          <prestext>Causes of Death</prestext>
          <description>Causes of Death</description>
          <Link type="table" sortcode="0">
            <selection>001_ksyyt_001_1969_001_en.px</selection>
            <prestext>Deaths and sex and age-specific death rates per 100 000 mean population by cause of death</prestext>
            <attribute name="size">176 kb</attribute>
            <attribute name="modified">20061027 11:31</attribute>
          </Link>
        </MenuItem>
      </MenuItem>
      <MenuItem selection="421" sortcode="4">
        <prestext>Elections</prestext>
        <description>Elections</description>
        <MenuItem selection="422" sortcode="0">
          <prestext>euvaa</prestext>
          <description>euvaa</description>
          <Link type="url" sortcode="0">
            <selection>http://statfin.stat.fi/statweb/start.asp?LA=en&amp;DM=SLEN&amp;lp=catalog&amp;clg=european_parliament_elections</selection>
            <prestext>European Parliament elections (Old StatFin)</prestext>
          </Link>
        </MenuItem>
        <MenuItem selection="423" sortcode="1">
          <prestext>Parliamentary elections</prestext>
          <description>Parliamentary elections</description>
          <MenuItem selection="424" sortcode="0">
            <prestext>Parliamentary elections - Time series</prestext>
            <description>Parliamentary elections - Time series</description>
            <Link type="table" sortcode="0">
              <selection>oi57_statfin_aikas1e_1983_2007_en.Px</selection>
              <prestext>Parliamentary elections 1983-2007, data on voting</prestext>
              <attribute name="size">242 kb</attribute>
              <attribute name="modified">20070322 07:45</attribute>
            </Link>
            <Link type="table" sortcode="1">
              <selection>oi57_statfin_aikas2e_1983_2007_en.Px</selection>
              <prestext>Parliamentary elections 1983-2007, support for parties</prestext>
              <attribute name="size">1751 kb</attribute>
              <attribute name="modified">20070322 07:45</attribute>
            </Link>
          </MenuItem>
        </MenuItem>
      </MenuItem>
      <MenuItem selection="429" sortcode="5">
        <prestext>Population</prestext>
        <description>Population</description>
        <MenuItem selection="431" sortcode="0">
          <prestext>Citizenships granted</prestext>
          <description>Citizenships granted</description>
          <Link type="table" sortcode="0">
            <selection>kans_tau_001_en.px</selection>
            <prestext>Citizenships granted according to country of previous citizenship 1990-2006</prestext>
            <attribute name="size">453 kb</attribute>
            <attribute name="modified">20070504 09:00</attribute>
          </Link>
        </MenuItem>
        <MenuItem selection="432" sortcode="1">
          <prestext>Deaths</prestext>
          <description>Deaths</description>
          <Link type="table" sortcode="0">
            <selection>kuol_tau_001_en.px</selection>
            <prestext>Deaths by age, gender and area 1987 - 2006</prestext>
            <attribute name="size">1156 kb</attribute>
            <attribute name="modified">20070420 09:00</attribute>
          </Link>
          <Link type="table" sortcode="1">
            <selection>kuol_tau_002_en.px</selection>
            <prestext>Deaths by age and gender 1980 - 2006</prestext>
            <attribute name="size">32 kb</attribute>
            <attribute name="modified">20070420 09:00</attribute>
          </Link>
          <Link type="table" sortcode="2">
            <selection>vamuu_tau_001_en.px</selection>
            <prestext>All vital statistics by area 1987-2006</prestext>
            <attribute name="size">502 kb</attribute>
            <attribute name="modified">20070420 09:00</attribute>
          </Link>
          <Link type="table" sortcode="3">
            <selection>vamuu_tau_002_en.px</selection>
            <prestext>Vital statistics and population 1749-2006, whole country</prestext>
            <attribute name="size">23 kb</attribute>
            <attribute name="modified">20070420 09:00</attribute>
          </Link>
          <Link type="table" sortcode="4">
            <selection>vamuu_tau_003_en.px</selection>
            <prestext>Vital statistics by area 1980-2006</prestext>
            <attribute name="size">512 kb</attribute>
            <attribute name="modified">20070420 09:00</attribute>
          </Link>
        </MenuItem>
        <MenuItem selection="433" sortcode="2">
          <prestext>Migration</prestext>
          <description>Migration</description>
          <Link type="table" sortcode="0">
            <selection>muutl_tau_004_en.px</selection>
            <prestext>Immigration and emigration by age, gender and area 1987-2006</prestext>
            <attribute name="size">1493 kb</attribute>
            <attribute name="modified">20070427 09:00</attribute>
          </Link>
          <Link type="table" sortcode="1">
            <selection>muutl_tau_005_en.px</selection>
            <prestext>Immigration and emigration by country of exit and entry and by age and gender 1987-2006</prestext>
            <attribute name="size">19234 kb</attribute>
            <attribute name="modified">20070420 09:00</attribute>
          </Link>
          <Link type="table" sortcode="2">
            <selection>vamuu_tau_001_en.px</selection>
            <prestext>All vital statistics by area 1987-2006</prestext>
            <attribute name="size">502 kb</attribute>
            <attribute name="modified">20070420 09:00</attribute>
          </Link>
          <Link type="table" sortcode="3">
            <selection>vamuu_tau_002_en.px</selection>
            <prestext>Vital statistics and population 1749-2006, whole country</prestext>
            <attribute name="size">23 kb</attribute>
            <attribute name="modified">20070420 09:00</attribute>
          </Link>
          <Link type="table" sortcode="4">
            <selection>vamuu_tau_003_en.px</selection>
            <prestext>Vital statistics by area 1980-2006</prestext>
            <attribute name="size">512 kb</attribute>
            <attribute name="modified">20070420 09:00</attribute>
          </Link>
        </MenuItem>
        <MenuItem selection="434" sortcode="3">
          <prestext>Families</prestext>
          <description>Families</description>
          <Link type="table" sortcode="0">
            <selection>perh_001_2000_001_en.px</selection>
            <prestext>Families by family type and number of children by area 2000-2005</prestext>
            <attribute name="size">1051 kb</attribute>
            <attribute name="modified">20060601 09:00</attribute>
          </Link>
        </MenuItem>
        <MenuItem selection="435" sortcode="4">
          <prestext>Changes in marital status</prestext>
          <description>Changes in marital status</description>
          <Link type="table" sortcode="0">
            <selection>vamuu_tau_001_en.px</selection>
            <prestext>All vital statistics by area 1987-2006</prestext>
            <attribute name="size">502 kb</attribute>
            <attribute name="modified">20070420 09:00</attribute>
          </Link>
          <Link type="table" sortcode="1">
            <selection>vamuu_tau_002_en.px</selection>
            <prestext>Vital statistics and population 1749-2006, whole country</prestext>
            <attribute name="size">23 kb</attribute>
            <attribute name="modified">20070420 09:00</attribute>
          </Link>
        </MenuItem>
        <MenuItem selection="436" sortcode="5">
          <prestext>Births</prestext>
          <description>Births</description>
          <Link type="table" sortcode="0">
            <selection>synt_tau_001_en.px</selection>
            <prestext>Live births by gender, mother's age and by area 1987 - 2006</prestext>
            <attribute name="size">495 kb</attribute>
            <attribute name="modified">20070420 09:00</attribute>
          </Link>
          <Link type="table" sortcode="1">
            <selection>vamuu_tau_001_en.px</selection>
            <prestext>All vital statistics by area 1987-2006</prestext>
            <attribute name="size">502 kb</attribute>
            <attribute name="modified">20070420 09:00</attribute>
          </Link>
          <Link type="table" sortcode="2">
            <selection>vamuu_tau_002_en.px</selection>
            <prestext>Vital statistics and population 1749-2006, whole country</prestext>
            <attribute name="size">23 kb</attribute>
            <attribute name="modified">20070420 09:00</attribute>
          </Link>
          <Link type="table" sortcode="3">
            <selection>vamuu_tau_003_en.px</selection>
            <prestext>Vital statistics by area 1980-2006</prestext>
            <attribute name="size">512 kb</attribute>
            <attribute name="modified">20070420 09:00</attribute>
          </Link>
        </MenuItem>
        <MenuItem selection="440" sortcode="6">
          <prestext>Population Structure</prestext>
          <description>Population Structure</description>
          <Link type="table" sortcode="0">
            <selection>vaerak_tau_001_en.PX</selection>
            <prestext>Nationality according to age and gender by region 1990-2006</prestext>
            <attribute name="size">8312 kb</attribute>
            <attribute name="modified">20070323 09:00</attribute>
          </Link>
          <Link type="table" sortcode="1">
            <selection>vaerak_tau_002_en.px</selection>
            <prestext>Language according to age and gender by region 1990-2006</prestext>
            <attribute name="size">6227 kb</attribute>
            <attribute name="modified">20070323 09:00</attribute>
          </Link>
          <Link type="table" sortcode="2">
            <selection>vaerak_tau_003_en.px</selection>
            <prestext>Country of birth according to age and gender by region 1990-2006</prestext>
            <attribute name="size">8775 kb</attribute>
            <attribute name="modified">20070323 09:00</attribute>
          </Link>
          <Link type="table" sortcode="3">
            <selection>vaerak_tau_004_en.px</selection>
            <prestext>Population according to age (1-year) and gender by area 1980-2006</prestext>
            <attribute name="size">10297 kb</attribute>
            <attribute name="modified">20070323 09:00</attribute>
          </Link>
          <Link type="table" sortcode="4">
            <selection>vaerak_tau_005_en.px</selection>
            <prestext>Population according to age (5-year) and gender in the whole country 1865-2006</prestext>
            <attribute name="size">57 kb</attribute>
            <attribute name="modified">20070323 09:00</attribute>
          </Link>
          <Link type="table" sortcode="5">
            <selection>vaerak_tau_007_en.px</selection>
            <prestext>Population according to language and the number of foreigners and land area km2 by area 1980-2006</prestext>
            <attribute name="size">347 kb</attribute>
            <attribute name="modified">20070323 09:00</attribute>
          </Link>
        </MenuItem>
      </MenuItem>
    </MenuItem>
  </Language>
</Menu>