<?xml version="1.0" encoding="utf-8"?>
<settings>
  <homePages />
  <searchIndex>
    <status>Indexed</status>
    <indexUpdated>20230404 08:53</indexUpdated>
    <updateMethod>
    </updateMethod>
  </searchIndex>
  <protection>
    <isProtected>False</isProtected>
    <authorizationMethod>
    </authorizationMethod>
  </protection>
  <metadata>
    <useMetadata>False</useMetadata>
    <metaSystemConfigFile>
    </metaSystemConfigFile>
    <metaLinkMethod>
    </metaLinkMethod>
  </metadata>
  <dcat>
    <BaseURI>https://pxwebdemo.scb.se</BaseURI>
    <BaseApiUrl>https://pxwebdemo.scb.se/api/v1</BaseApiUrl>
    <LandingPageUrl>https://pxwebdemo.scb.se/goto</LandingPageUrl>
    <CatalogTitle>Catalog title</CatalogTitle>
    <CatalogDescription>Catalog description</CatalogDescription>
    <Publisher>SCB - test</Publisher>
    <Database>Example</Database>
    <DatabaseType>PX</DatabaseType>
    <License>http://creativecommons.org/publicdomain/zero/1.0/</License>
    <DcatFileStatus>Created</DcatFileStatus>
    <FileUpdated>20231120 13:22</FileUpdated>
    <LanguageSpecific>
      <Language>sv</Language>
      <CatalogTitle>Statistiska centralbyråns katalog</CatalogTitle>
      <CatalogDescription>Det här är våra tabeller</CatalogDescription>
      <PublisherName>Statistikmyndigheten</PublisherName>
    </LanguageSpecific>
    <LanguageSpecific>
      <Language>en</Language>
      <CatalogTitle>Statistics Sweden catalog</CatalogTitle>
      <CatalogDescription>This is our tables</CatalogDescription>
      <PublisherName>Statistics Sweden</PublisherName>
    </LanguageSpecific>
  </dcat>
</settings>