<?xml version="1.0" encoding="utf-8"?>
<settings>
  <homePages />
  <searchIndex>
    <status>Indexed</status>
    <indexUpdated>20230404 08:53</indexUpdated>
    <updateMethod>
    </updateMethod>
  </searchIndex>
  <protection>
    <isProtected>False</isProtected>
    <authorizationMethod>
    </authorizationMethod>
  </protection>
  <metadata>
    <useMetadata>False</useMetadata>
    <metaSystemConfigFile>
    </metaSystemConfigFile>
    <metaLinkMethod>
    </metaLinkMethod>
  </metadata>
  <dcat>
    <BaseURI>https://baseURI.com/</BaseURI>
    <BaseApiUrl>https://baseAPI.com/</BaseApiUrl>
    <LandingPageUrl>https://baseLandingPage.com/</LandingPageUrl>
    <CatalogTitle>Catalog title</CatalogTitle>
    <CatalogDescription>Catalog description</CatalogDescription>
    <Publisher>SCB - test</Publisher>
    <Database>Example</Database>
    <DatabaseType>PX</DatabaseType>
    <License>http://creativecommons.org/publicdomain/zero/1.0/</License>
    <DcatFileStatus>NotCreated</DcatFileStatus>
    <FileUpdated>
    </FileUpdated>
  </dcat>
</settings>