@include file-header("_Admin.scss");

body {
  background-color: #666666;
  margin: 0px 0px 0px 6px;
  font-size: 80%;
  font-family: Verdana,arial;
  font-weight: normal;
  color: #000000;
}

img {
  border-style: none;
  border-color: inherit;
  border-width: 0;
  margin: 0px;
  width: 14px;
  height: 16px;
}

p {
  margin: 0px 2px 8px 0px;
  line-height: 135%
}

h1 {
  font-size: large;
  margin: 3px 0px 10px 0px;
  white-space: nowrap;
}

h2 {
  font-size: larger;
  margin: 3px 0px 5px 0px;
  white-space: nowrap;
  text-transform: capitalize;
  font-variant: small-caps;
}

select {
  margin: 0px 10px 0px 0px;
}

input {
  margin: 0px 5px 0px 0px;
}

#pagewrapper {
  max-width: 1017px;
  min-width: 760px;
}

#header {
  width: 100%;
  height: 55px;
  background-color: #3086d0;
  padding-top: 6px;
  text-indent: 10px;
}

  #header h1 {
    font-weight: normal;
    font-size: 1.875em;
    text-transform: capitalize;
    color: #fdfee9;
    font-family: 'lucida sans unicode';
    font-variant: small-caps;
    text-decoration: none;
  }

#headerleft {
  float: left;
}

#headerright {
  float: right;
}

.logout_link {
  font-weight: bold;
  color: White;
  text-decoration: none;
  padding-right: 5px;
}

.navigation-level1 {
  float: left;
  width: 100%;
  background-color: #111111;
  padding-bottom: 10px;
  text-transform: capitalize;
  font-variant: small-caps;
  text-indent: 10px;
  padding-top: 10px;
}

.navigation-level2 {
  float: left;
  width: 100%;
  background-color: #444444;
  padding-bottom: 10px;
  text-transform: capitalize;
  font-variant: small-caps;
  text-indent: 10px;
  padding-top: 10px;
}

.navigation-level3 {
  float: left;
  background-color: #444444;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: capitalize;
  font-variant: small-caps;
  margin-right: 10px;
  height: 100%;
  overflow: hidden;
  width: 22%;
}

#placeholder-content {
  float: left;
  width: 75%;
}

#page-content {
  margin: 0 auto 0;
  padding: 10px;
  height: 100%;
  background-color: #f0f8ff;
  min-height: 500px;
}

#page-content-wrapper {
  float: left;
  width: 100%;
  /*border:solid 1px;*/
}

#navigation-fontsize {
  /*vertical-align:top;*/
}

.navigation_unselected {
  color: #fdfee9;
  margin-right: 20px;
  font-weight: normal;
}

.navigation_selected {
  color: $pxweb-white;
  margin-right: 20px;
  font-weight: bold;
}

#footer {
  float: left;
  text-align: center;
  width: 100%;
  background-color: #cccccc;
  height: 40px;
  padding-top: 10px;
}

  #footer a {
    font-weight: bold;
    font-variant: small-caps;
    text-decoration: none;
    color: #fdfee9;
  }

    #footer a:hover {
      text-decoration: underline;
    }

.setting-field {
  margin-bottom: 5px;
}

.setting-field {
  clear: both;
}

  .setting-field span {
    float: left;
    width: 200px;
  }

  .setting-field .status-value {
    width: 310px;
    margin-right: 5px;
  }

  .setting-field input {
    width: 300px;
  }

  .setting-field .setting-field-validator {
    float: none;
    width: 20px;
  }

  .setting-field .smallinput {
    width: 40px;
  }

  .setting-field .mediuminput {
    width: 80px;
  }

  .setting-field .toolbutton {
    width: 100px;
    margin-top: 40px;
    margin-right: 30px;
    margin-bottom: 40px;
  }

.default_button {
  cursor: pointer;
}

.save_button {
  float: right;
}

.language_dropdown {
  float: right;
}

a {
  color: #00008B;
  text-decoration: none;
}

p a:link {
  text-decoration: underline;
}

a:visited {
  color: #8A2BE2;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

.setting_keyword {
  font-weight: bold;
}

.settingsListingTypesHeaderDD {
  width: 24%;
  display: inline-block;
  text-align: center;
  margin-right: 1%;
}

.settingsListingTypesHeaderDD_hidden {
  visibility: hidden;
}

.settingsListingTypesHeaderBT {
  width: 12%;
  display: inline-block;
  text-align: center;
  margin-right: 1%;
}

.settingsListingTextCommandBar {
  width: 20%;
  display: inline-block;
}

.settingsListingCheckboxCommandBar {
  width: 12%;
  display: inline-block;
  text-align: center;
  margin-right: 1%;
}

.settingsListingCheckboxCommandBar_hidden {
  visibility: hidden;
}

.settingsListingTextLanguage {
  width: 20%;
  display: inline-block;
}

.settingsListingDropdownLanguage {
  width: 20%;
  display: inline-block;
}

.settingsListingTextboxLanguage {
  width: 30%;
  display: inline-block;
}

.settingsListingTextLanguageHeader {
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

.settingsListingDropdownLanguageHeader {
  width: 20%;
  display: inline-block;
  padding: 2px;
  padding-right: 8px;
  vertical-align: top;
}

.settingsListingTextboxLanguageHeader {
  width: 30%;
  display: inline-block;
  padding: 2px;
  vertical-align: top;
}

.evenRow {
  width: 100%;
  background-color: inherit; /*#f0f8ff*/
  padding: 2px 0 2px 0;
  margin: 0 0 0 0;
}

.oddRow {
  width: 100%;
  background-color: #e0e0e0;
  padding: 2px 0 2px 0;
  margin: 0 0 0 0;
}

.languageManagerTable {
  width: 750px;
}

.languageManagerTableRow {
}

.languageManagerTableAlternatingRow {
  background-color: #eeeeee;
}

.languageManagerKeyColumn {
  width: 10%;
  text-align: left;
  vertical-align: top;
}

.languageManagerFallbackColumn {
  width: 45%;
  text-align: left;
  vertical-align: top;
}

.languageManagerLanguageColumn {
  width: 45%;
  text-align: left;
  vertical-align: top;
}

#AdminHomeWrapper {
  width: 1000px;
}

.AdminHomeTitle {
  font-size: xx-large;
  color: #aaaaaa;
  font-family: Arial Baltic;
}

.AdminHomeImage {
  margin-top: 150px;
  margin-bottom: 150px;
}

.errortext {
  color: Red;
}

.infotext {
}

.hiddenField {
  display: none;
}

input.colorTextField {
  margin-top: 7px;
  width: 80px;
}

.settingFieldText {
  width: 200px;
  margin-top: 7px;
}

.settingFieldControls {
  width: 70%;
  position: relative;
  float: left;
}

.apiDatabaseCell {
  width: 100px;
}

/* Database settings page*/
.databaseHeaderCell {
  padding-left: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-weight: bold;
  font-size: 90%;
}

.databaseCell {
  padding-left: 20px;
}

.databaseSelectedCell {
  width: 200px;
}

.databaseCreatedCell {
  width: 100px;
}

.databaseIndexStatusCell {
  width: 100px;
}

.databaseIndexCell {
  width: 100px;
}

.infoBox {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: #3086d0;
  display: inline-block;
}