@include file-header("_datasort.scss TODO");

#pxwebcontent #datasort_content {
  width: 99%;
  /*background-color: #f0f8ff;*/
}

#pxwebcontent #datasort_description {
  padding-top: 5px;
  padding-bottom: 10px;
}

#pxwebcontent .datasort_sortdescription {
  font-size: 100%;
  font-weight: normal;
  line-height: 100%;
}

#pxwebcontent .datasort_copydescription {
  font-size: 100%;
  font-weight: normal;
  line-height: 100%;
}

#pxwebcontent .datasort_tabletitle {
    /*font-size: 100%;
  font-weight: bold;
  line-height: 150%;
  padding-bottom: 5px;*/
    @include pxweb-table-title;
}

#pxwebcontent table.tablesorter thead tr th {
  background-color: $pxweb-green-1;
}


#pxwebcontent .tablesorter th {
  font-size: 16px;

}

#pxwebcontent .tablesorter td {
  @include font-normal-text;
}

#pxwebcontent table.tablesorter thead tr th span{
  /*Making room for the magic background icon*/
  padding-right: 12px;
}

#pxwebcontent table.tablesorter thead tr th input {
  /*Making room for the magic background icon*/
  padding-right: 20px;
  border:none;
  background-color:transparent;
  position:static;/*For fullscreen*/
}

#pxwebcontent table.tablesorter thead tr .header {
  background-image: get-icon( 'arrow-up-and-down', $btn-icon);
}

#pxwebcontent table.tablesorter thead tr .headerSortDown {
  background-image: get-icon( 'arrow-up', $btn-icon);
}

#pxwebcontent table.tablesorter thead tr .headerSortUp {
  background-image: get-icon( 'arrow-down', $btn-icon);
}

/*hide all 3, then show one*/
#pxwebcontent table.tablesorter thead th .screenreader-only span {
  display:none;
}

#pxwebcontent table.tablesorter thead th.headerSortDown .screenreader-only span.isSortedAsc {
  display: flex;
}

#pxwebcontent table.tablesorter thead th.headerSortUp .screenreader-only span.isSortedDesc {
  display: flex;
}

#pxwebcontent table.tablesorter thead th:not(.headerSortUp):not(.headerSortDown) .screenreader-only span.isUnsorted {
  display: flex;
}

/*background-color on hover rows*/
#pxwebcontent table.tablesorter tbody tr {
  background-color: $pxweb-white;
}
#pxwebcontent table.tablesorter tbody tr:hover {
  background-color: $pxweb-purple-1;
}

