@include file-header("_excel.scss TODO");

#pxwebcontent div.excelcontainer {
  width: 10em;
}

  #pxwebcontent div.excelcontainer div.description {
    float: left;
    width: 4em;
    height: 1.8em;
    padding-bottom: 1px;
  }

  #pxwebcontent div.excelcontainer div.value {
    float: right;
    width: 4em;
    height: 1.8em;
    padding-bottom: 0.1em;
  }

    #pxwebcontent div.excelcontainer div.value input {
      width: 2em;
    }