@include file-header("_hierarchical.scss TODO");
#pxwebcontent .hierarchical_selectionbutton {
  padding-left: 2px;
  padding-right: 1em;
  vertical-align: top;
}

#pxwebcontent .hierarchical_selectall_button {
  width: 19px;
  height: 17px;
  background: $pxweb-white url(../../../images/SelectAll.gif) no-repeat;
  vertical-align: middle;
  outline: none;
}

#pxwebcontent .hierarchical_unselectall_button {
  background: $pxweb-white url(../../../images/UnSelect.gif) no-repeat;
  outline: none;
  vertical-align: middle;
  width: 19px;
  height: 17px;
}

#pxwebcontent .hierarchical_openall_button {
  background: $pxweb-white url(../../../images/hierarchy.gif) no-repeat;
  outline: none;
  vertical-align: middle;
  width: 19px;
  height: 17px;
}

#pxwebcontent .hierarchical_closeall_button {
  background: $pxweb-white url(../../../images/closeall.gif) no-repeat;
  outline: none;
  vertical-align: middle;
  width: 19px;
  height: 17px;
}

#pxwebcontent .hierarchical_continuebutton {
  margin-top: 2em;
}

#pxwebcontent .hierarchical_variabletitle {
  margin: 4em 0 -1em 0;
  font-weight: bold;
}

/*.hierarchical_tableinformation_title, #pxwebcontent .h2title h2 {
    @include pxweb-table-title;
}*/
.hierarchical_tableinformation_title {
    @include pxweb-table-title;
}

#pxwebcontent .hierarchical_tableinformation_description {
  font-weight: bold;
  margin-bottom: 20px;
}
