@include file-header("_information.scss");
/* Used for Information webcontrol, and also metaid stuff from Selection.aspx*/
/* generall style for the definitionlist */
/* Define if specific style is to be used for presentation of a heading or value for some of the information*/

#pxwebcontent .dl.information_definitionlist dl {
  /*margin-top: 10px;*/
  line-height: 120%;
  /*font-weight: bold;*/
  break-inside: avoid-column;
  -webkit-column-break-inside: avoid;
}

#pxwebcontent .dl.information_definitionlist dt {
  margin-top: 10px;
  line-height: 120%;
  font-weight: bold;
  /*margin-left: 20px;*/
}

#pxwebcontent .dl.information_definitionlist dd {
  line-height: 120%;
  /*margin-left: 20px;*/
}

#pxwebcontent .information_definitionlist .dd {
  @include font-normal-text;
}

#pxwebcontent .information_definitionlist_heading {
  margin-top: 10px;
  font-weight: bold;
}

#pxwebcontent .information_definitionlist dd a {
  color: initial;
  text-decoration: underline;
}

#pxwebcontent div.settingpanel.information {
  @include just-open-sans;
}

#pxwebcontent .pxweb_about_the_statistics {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 3px;
}

  #pxwebcontent .pxweb_about_the_statistics .pxweb-link {
    margin-top: 3px;
  }

#pxwebcontent #SelectionPage .pxweb-accordion.about-table {
    width: 75%;
}

@media #{$mobile} {
  #pxwebcontent #SelectionPage .pxweb-accordion.about-table {
    width: 100%;
  }
}
/*
#pxwebcontent #SelectionPage .pxweb-accordion.about-table .accordion-header .header-text {
    padding-right: 20px;
}
  */
