@include file-header("_login_admin_from_rev283_.scss");
/*TODO This came in rev283 and is used by pxweb/admin/login.aspx which is not included in projekt. Outdated ?*/

#pxwebcontent .login_container {
  position: absolute;
  top: 150px;
  left: 150px;
  background-color: #eeeeee;
  padding: 30px;
}

#pxwebcontent .login_caption {
  font-weight: bold;
  padding-bottom: 20px;
}

#pxwebcontent .login_left {
  float: left;
  padding-bottom: 5px;
  padding-right: 5px;
  line-height: 22px;
  vertical-align: middle;
}

#pxwebcontent .login_right {
  float: right;
  padding-bottom: 5px;
  padding-left: 5px;
}

#pxwebcontent .login_error {
  clear: both;
  padding-top: 5px;
  color: Red;
}

#pxwebcontent .login_buttoncontainer {
  clear: both;
  float: right;
  padding-top: 10px;
}

#pxwebcontent .login_button {
  padding: 5px;
}

#pxwebcontent .login_textbox {
  margin-bottom: 5px;
  width: 150px;
}

