@include file-header("_login.scss");
#pxwebcontent .login {
  position: relative;
  padding: 3em 0em 3em 0em;
  overflow: hidden;
}

#pxwebcontent .loginBannerHeader {
  float: left;
  font-size: 3em;
}

#pxwebcontent .logindiv {
  margin-right: 10px;
}

#pxwebcontent #logindiv legend {
  padding-left: 0.25em;
}

#pxwebcontent .box {
  padding: 0em 0em;
  width: 16em;
  border: thin solid $pxweb-black-2;
  ;
}

#pxwebcontent .box-top {
  margin-bottom: 0em;
}

#pxwebcontent .pxweb-buttons.key-icon {
  margin-bottom: 3px;
  margin-right: 0px;
}

#pxwebcontent .wrap {
  padding: 1em 1em;
  margin-bottom: 0px;
}

  #pxwebcontent .wrap input {
    height: 1.7em;
  }

#pxwebcontent .row {
  clear: both;
}

#pxwebcontent .px-login-hjelp {
  margin-top: 14px;
  margin-left: 14px;
}
