@include file-header("_PxWebButtons.scss");

@mixin button-icons-pxweb ($icon, $rename: "") {
  $name: #{$icon}-icon;
  @if $rename != "" {
    $name: $rename;
  }

  &.#{$name} {
    background-image: get-icon( #{$icon}, $btn-icon);

    &:hover, &:focus {
      background-image: get-icon( #{$icon}, $btn-icon-hover);
    }
  }
}

@mixin button-icons-pxweb-primary ($icon, $rename: "") {
    $name: #{$icon}-icon;

    @if $rename != "" {
        $name: $rename;
    }

    &.#{$name} {
        background-image: get-icon( #{$icon}, $pxweb-primary-btn-icon);

        &:hover, &:focus {
            background-image: get-icon( #{$icon}, $pxweb-primary-btn-icon-hover);
        }
    }
}

@mixin button-icons-pxbox ($icon, $rename:"") {
  $name: #{$icon}-icon;
  @if $rename != "" {
    $name: $rename;
  }

  &.#{$name} {
    background-image: get-icon( #{$icon}, $pxbox-btn-icon);

    &:hover, &:focus {
      background-image: get-icon( #{$icon}, $pxbox-btn-icon-hover);
    }
  }
}


#pxwebcontent .pxweb-buttons {
  background-repeat: no-repeat;
  margin-right: 20px;
  margin-top: 10px;
  font-size: 14px;

  @include button-icons-pxweb-primary( 'minimize');
  @include button-icons-pxweb-primary( 'maximize');
  @include button-icons-pxweb( 'key');
  @include button-icons-pxweb( 'rotate-manual', 'pivotManual');
  @include button-icons-pxweb( 'rotate-cw', 'pivotCW');
  @include button-icons-pxweb( 'rotate-ccw', 'pivotCCW');
  @include button-icons-pxweb( 'x-circle-big', 'deleteVariable');
  @include button-icons-pxweb( 'code', 'changeTextCodePresentation');
  @include button-icons-pxweb( 'percent', 'perPart');
  @include button-icons-pxweb( 'plus', 'sum');
  @include button-icons-pxweb( 'minus', 'subtract');
  @include button-icons-pxweb( 'divide', 'divide');
  @include button-icons-pxweb( 'x-plain', 'multiply');
  @include button-icons-pxweb( 'shuffle', 'changeValueOrder');
  @include button-icons-pxweb( 'column-graph', 'chartViewColumn');
  @include button-icons-pxweb( 'line-graph', 'chartViewLine');
  @include button-icons-pxweb( 'chevrons-down', 'tableViewSorted');
  @include button-icons-pxweb( 'download', 'download-icon');


  @include button-icons-pxbox( 'database');
  @include button-icons-pxbox( 'select-all', 'checked-icon');
  @include button-icons-pxbox( 'cancel');
  @include button-icons-pxweb( 'arrow-down','arrow-down');
  @include button-icons-pxweb( 'arrow-up','arrow-up');
  @include button-icons-pxweb( 'arrow-left','arrow-left');
  @include button-icons-pxweb( 'arrow-right','arrow-right');


  @include button-icons-pxbox( 'select-all', 'selectfromgroup-groupsbutton');
  @include button-icons-pxbox( 'cancel', 'selectfromgroup-cancel');
  @include button-icons-pxweb( 'burger_menu');
  @include button-icons-pxweb( 'burger_menu_open');
}

#pxwebcontent .pxweb-symbol-buttons {
    background-repeat: no-repeat;
    font-size: 14px;
    padding: 10px 12px;
    height: 1px;
    min-height: 30px;
    @include button-icons-pxweb( 'arrow-up','arrow-up');
    @include button-icons-pxweb( 'arrow-down','arrow-down');
    @include button-icons-pxweb( 'arrow-left','arrow-left');
    @include button-icons-pxweb( 'arrow-right','arrow-right');
}

    #pxwebcontent .variableselector-buttons {
        background-repeat: no-repeat;
        margin-right: 20px;
        margin-top: 10px;
        font-size: 14px;

        @include button-icons-pxbox( 'deselect-all','variableselector_valuesselect_deselect_all_button ');
        @include button-icons-pxbox( 'select-all', 'variableselector_valuesselect_select_all_button');

        @include button-icons-pxweb( 'list-view', 'variableselector-list-view');
        @include button-icons-pxweb( 'compact-view', 'variableselector-compact-view');
    }