@include file-header("_searchvariablevalues.scss Remove?");
/*Came in rev 65, never changed*/

.searchvariablevalues_container
{
    border: solid 4px #738a9c;
    padding: 10px 40px 10px 10px;    
    clear:both;
    float:none;
    margin: 0 0 10px 0;
}
.searchvariabelvalues_selectedvalues_listbox
{
    width: 500px;
    height: 250px;
    margin-bottom: 10px;
    overflow: auto;
}
.searchvariabelvalues_searchmatcheslist
{
    width: 500px;
    height: 200px;
    margin-bottom: 10px;
    overflow: auto;
}
.searchvariablevalues_title
{
    font-weight:bold;
    margin-bottom: 1em;
}


.searchvariablevalues_text
{
    height: 1em;
    overflow: hidden;
}

.searchvariablevalues td
{
    padding-right: 10px;
}

.selectedvariablevalues
{
    width: 6em;
}