@include file-header("_tablequery.scss");
/* Used for TableQuery webcontrol, displays api query on resultpage */
#pxwebcontent .tablequery_informationpanel {
  margin-top: 30px;
  padding: 10px;
  border-style: dashed;
  border-width: 2px;
  border-color: $pxweb-green-4;
}

#pxwebcontent .tablequery_informationtext {
  display: block;
}

#pxwebcontent .tablequery_urlcaption {
  display: block;
  font-weight: bold;
  margin-top: 5px;
}
#pxwebcontent .tablequery_V2caption {
    font-size: 20px;
    display: block;
    font-weight: bold;
}

#pxwebcontent .tablequery_url {
    display: block;
    width: 95%;
    @include SourceCodeProTablequery_url;
    font-size: 14px;
}

#pxwebcontent .tablequery_querycaption {
  display: block;
  font-weight: bold;
  margin-top: 5px;
}

#pxwebcontent .tablequery_query {
  display: block;
  width: 95%;
  margin-bottom: 10px;
  @include SourceCodeProTablequery_url;
  font-size: 14px; 

  &:focus {
    @include focus-ring;
  }
}

.tablequery_moreinformation {
  color: black !important;
  float: right;
}

#pxwebcontent .tablequery_savequery {
  @include roboto-condenced;
  float: left;
  background: $pxweb-green-4;
  color: $pxweb-white;
}

#pxwebcontent #urlV2container {
    width: 100%;
    display: flex;
    flex-direction: column;
}