@include file-header("_tablequery.scss TODO in real use?");
#pxwebcontent .textsearch select {
  margin: 10px 0;
  height: 100px;
  width: 164px;
  clear: both;
  display: block;
}

#pxwebcontent .textsearch input[type=text] {
  width: 160px;
}

#pxwebcontent .textsearch ol {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 30px;
}

  #pxwebcontent .textsearch ol li {
    margin-bottom: 10px;
  }

#pxwebcontent .textsearch a {
  color: black;
  font-size: 1em;
}

#pxwebcontent .textsearch-attributes {
  color: Gray;
  font-size: 0.8em;
  font-style: italic;
}