@include file-header("_variableOverview.scss");

#pxwebcontent .variable_overview_container {
  @include roboto-condenced;
  padding: 20px 20px;
  padding-left: 10px;
  display: none;
}

@media screen and (max-width: 767px) {
  #pxwebcontent .variable_overview_container {
    display: block;
  }

  #pxwebcontent .variable_overview_heading {
    font-size: 28px;
  }

  #pxwebcontent .variable_overview_title {
    font-size: 20px;
    font-weight: normal;
    text-transform: capitalize;
  }

  #pxwebcontent .variable_overview_mandatory_text {
    font-size: 12px;
  }

  #pxwebcontent .variable_overview_mandatory_star {
    font-size: 20px;
  }
}