@include file-header("_global-styles-on-elements.scss");
// This file is for selectors that uses only html-elements.

#{$selector_prefix2} body {
  @include open-sans;
}

#{$selector_prefix2} a {
  text-decoration: none;
}

#pxwebcontent html {
  /* Always display scroll. This prevents the auto-centering of the page to jump around between pages 
    /* where one page has scrollbar and the other one do not*/
  height: 102%;
}

h1 {
    @include pxweb-h1-title;
}

h2 {
    @include pxweb-h2-title;
}

h3 {
    @include pxweb-h3-title;
}

#pxwebcontent p {
  margin-bottom: 4px;
}

#pxwebcontent a:focus {
  @include focus-ring;
}

#pxwebcontent select:focus {
  @include focus-ring;
}

#pxwebcontent select {
  @include font-normal-text;
}

#pxwebcontent input {
  @include font-normal-text;
}

#pxwebcontent input:focus {
  @include focus-ring;
}

#pxwebcontent img {
  border: none;
}

#pxwebcontent a {
  text-decoration: none;
}

#pxwebcontent a:hover {
  text-decoration: underline;
}
