@include file-header("_icon-backgrounds.scss");

#pxwebcontent .pxbox .arrow-right-pxbox-icon {
  padding-left: 25px;
  background-repeat: no-repeat;
  //background-size: auto;
  width: 100%;
  background-image: get-icon( 'arrow-right', $pxbox-link-icon-ink);
  background-position-y: center;
  &:hover {
    background-image: get-icon( 'arrow-right', $pxbox-link-hover-ink);
  }
}

#pxwebcontent .external-link-pxbox-icon {
  padding-left: 22px;
  background-repeat: no-repeat;
  width: 100%;
  background-image: get-icon( 'external-link', $pxbox-link-icon-ink);
  background-position-y: center;
  &:hover {
    background-image: get-icon( 'external-link', $pxbox-link-hover-ink)
  }
}

#pxwebcontent .external-link-icon {
  padding-left: 22px;
  background-repeat: no-repeat;
  width: 100%;
  background-image: get-icon( 'external-link', $pxweb-link-first-ink);
  background-position-y: center;
  &:hover {
    background-image: get-icon( 'external-link', $pxweb-link-hover-ink)
  }
}