/*This file shall end up empty, its just a helper*/

@mixin VerdanaErrorMessage {
  font-family: 'Verdana' ;
}

@mixin CourierNewSavequery_url {
  font-family: 'Courier New';
}

@mixin SourceCodeProTablequery_url {
  font-family: 'Source Code Pro';
}

@mixin OpenSansRegular_MenuExplanation {
    font-family: 'Open Sans Regular';
}