/*#region  Active colors */
$pxweb-green-1: #ecfeed;
$pxweb-green-2: #b6e8b8;
$pxweb-green-3: #1a9d49;
$pxweb-green-4: #00824d;
$pxweb-red-3: #ed5935;
$pxweb-dark-2: #c3dcdc;
$pxweb-dark-4: #2d6975;
$pxweb-dark-5: #274247;
$pxweb-dark-6: #162327;
$pxweb-white: #fff;
$pxweb-purple-3: #9272fc;
$pxweb-blue-3: #3396d2;
$pxweb-black-1: #333;
$pxweb-black-2: #000;
$pxweb-black-3: #293F44;
$px-messages-border: #fba504;
$px-messages-warning: #ffb216;
$header-h1-sort-of-grey: #57626a;
$header-h2-sort-of-grey: #ccc; // and more
$tableAlternatingRow-grey: #eee; //aka #footer grey and the new searchvalues-usage-tips
$another-errormessage: #B0272E;
$breadcrumb-background: #eee;
$breadcrumb-text: #2870ae;
$breadcrumb-text-nolink: #000;
$pxweb-purple-1: #f2f0ff;
/*#endregion*/

/*#region  Active colors inside pxbox*/
//$pxbox-green-1: #ecfeed;
$pxbox-green-2: #b6e8b8;
$pxbox-green-3: #1a9d49;
$pxbox-green-4: #00824d;
$pxbox-red-3: #ed5935;
$pxbox-dark-2: #c3dcdc;
$pxbox-dark-4: #2d6975;
$pxbox-dark-5: #274247;
$pxbox-dark-6: #162327;
$pxbox-white: #fff;
$pxbox-purple-3: #9272fc;
$pxbox-blue-3: #3396d2;
$pxbox-black-1: #333;
$pxbox-black-2: #000;
$pxbox-black-3: #293F44;
$pxbox-usage-tips: #eee; // =$tableAlternatingRow-grey;
/*#endregion*/

//most used colors:
$pxweb-green-4: #4b86b4;
$pxbox-green-4: #4b86b4;
$pxbox-green-2: #63ace5;

/*#region  Main color scheme */
//main
$pxweb-background: $pxweb-white;
$pxweb-ink-main: $pxweb-black-1;

//box
$pxbox-background: #e7eff6;
$pxbox-border: #2a4d69;
$pxbox-ink: #2a4d69;

/*#region Buttons */
//buttons
$pxweb-btn-color: $pxbox-green-4;
$pxweb-btn-bg: $pxbox-white;
$btn-icon: $pxweb-btn-color;
$btn-icon-hover: $pxweb-btn-bg;

//primary button
$pxweb-primary-btn-color: $pxbox-white;
$pxweb-primary-btn-bg: $pxweb-green-4;
$pxweb-primary-btn-bg-hover: $pxweb-dark-5;
$pxweb-primary-btn-icon: $pxbox-white;
$pxweb-primary-btn-icon-hover: $pxbox-white;

//buttons inside box
$pxbox-btn-color: $pxbox-white;
$pxbox-btn-bg: #2a4d69;
$pxbox-btn-icon: $pxbox-btn-color;
$pxbox-btn-icon-hover: $pxbox-btn-bg;
/*#endregion*/

/*#region Links */
//All pxbox links has icon.
$pxbox-link-icon-ink: $pxbox-green-2; //corespons to pxweb-link-first-ink
$pxbox-link-text-ink: $pxbox-ink;
$pxbox-link-hover-ink: $pxbox-dark-6;
$pxbox-link-hover-background: $pxbox-green-2;

$pxweb-link-first-ink: $pxweb-green-4; //for the icons and for text for links without icons
$pxweb-link-text-ink: $pxweb-dark-6; //for text ink for links with icons
$pxweb-link-hover-ink: white;
$pxweb-link-hover-background: $pxweb-green-4;
/*#endregion*/
/*#endregion*/
