@include file-header("common/_checkbox.scss");

#{$selector_prefix}-checkbox {
  @include roboto;
  /*color: $pxweb-dark-6;*/
  cursor: pointer;
  display: block;
  font-size: 14px;
  min-width: 200px;
  outline: none;
  position: relative;
  text-align: left;
  user-select: none;

  &:hover, &:focus {

    .checkbox-label {

      &:before {
        border: 2px solid $pxweb-green-4;
      }
    }
  }

  input[type=checkbox] {
    cursor: pointer;
    opacity: 0;
    position: absolute;

    &:focus + .checkbox-label {

      &:before {
        border: 2px solid $pxweb-green-4;
      }
    }

    &:checked + .checkbox-label {

      &:before {
        background: $pxweb-dark-5;
      }

      &:after {
        border: solid $pxweb-white;
        border-width: 0 2px 2px 0;
        content: '';
        display: block;
        height: 10px;
        left: 6px;
        position: absolute;
        top: 2px;
        transform: rotate(45deg);
        width: 6px;
      }
    }

    &:disabled + .checkbox-label {
      background: $pxweb-white;
      color: $pxweb-dark-2;
      cursor: default;

      &:before {
        border: 1px solid $pxweb-dark-2;
      }
    }
  }

  .checkbox-label {
    align-items: center;
    cursor: pointer;
    display: flex;
    margin-bottom: 12px;
    position: relative;

    &:before {
      background: $pxweb-white;
      border: 1px solid $pxweb-dark-5;
      border-radius: 2px;
      box-sizing: border-box;
      content: '';
      display: block;
      height: 20px;
      margin-right: 12px;
      width: 20px;
    }
  }
}
