@include file-header("common/_divider.scss");

#{$selector_prefix}-divider {
  border: 0;
  border-top: 2px solid;
  display: block;
  height: 2px;
  margin: 0;
  position: relative;
  width: 100%;

  border-top-color: $pxweb-dark-5;

  &.with-margin {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
