@include file-header("common/_glossary-pxbox.scss");

#{$selector_prefix-pxbox}-glossary {
   
    .glossary-text-wrap {
        border-bottom: 1px dotted $pxbox-green-4;
    }

    .glossary-logo {
        color: $pxbox-green-3;
    }

    & .glossary-animate-background {
	    background: $pxbox-green-2;
	}
	
    &:hover , &:focus  {
      .glossary-logo {
            color: $pxbox-dark-6;
      } 
    }

    .glossary-popup {
        &:after {
            border-color: transparent transparent $pxbox-dark-5 transparent;
        }

        .content-box {
            background: $pxbox-dark-5;
            color: $pxbox-white;

            .pxweb-glossary-closing {
               
                .icon {
                    color: $pxbox-dark-5;
                    fill: $pxbox-green-2;
                }
            }

            .info-text {
                color: $pxbox-white;
            }
        }
    }
}
