@include file-header("common/_link-pxbox.scss");

#{$selector_prefix-pxbox}-link {
  &.negative {
    background-image: linear-gradient(120deg, $pxbox-link-hover-background 0%, $pxbox-link-hover-background 100%);
    border-bottom: 1px solid $pxbox-link-text-ink;
    color: $pxbox-link-text-ink;

    .link-text {
      color: $pxbox-link-text-ink;
    }

    &.with-icon {
      border-bottom: none;

      .link-text {
        color: $pxbox-link-text-ink;
      }

      &:hover, &:focus {
        color: $pxbox-link-hover-ink;

        .link-text {
          color: $pxbox-link-hover-ink;
        }
      }
    }
    /*
    &:hover, &:focus {
      color: $pxbox-dark-5;

      .link-text {
        color: $pxbox-dark-5;
      }
    }
    */
  }
}
