
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700&display=swap");

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#pxwebcontent .no-margin {
  margin: 0;
}

#pxwebcontent body {
  font-family: 'Open Sans', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  /*color: #162327;*/
}

#pxwebcontent a {
  text-decoration: none;
}

#pxwebcontent .flex-row {
  display: flex;
  flex-direction: row;
}

#pxwebcontent .flex-column {
  display: flex;
  flex-direction: column;
}

#pxwebcontent .justify-space-between {
  justify-content: space-between;
}

#pxwebcontent .justify-space-around {
  justify-content: space-around;
}

#pxwebcontent .flex-wrap {
  flex-wrap: wrap;
}

#pxwebcontent .pxweb-accordion {
  display: grid;
  width: 100%;
}

  #pxwebcontent .pxweb-accordion .accordion-header {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-stretch: condensed;
    font-weight: bold;
    font-size: 20px;
  }

    #pxwebcontent .pxweb-accordion .accordion-header:focus {
      outline: #9272fc solid 2px;
      outline-offset: 2px;
    }

    #pxwebcontent .pxweb-accordion .accordion-header .button-grid {
      align-items: center;
      cursor: pointer;
      display: grid;
      grid-column-gap: 28px;
      grid-template-columns: 20px auto;
      margin-right: 12px;
      /*for IE*/
      /*
        display: -ms-grid;
        -ms-grid-columns: 1fr 1fr;
        -ms-grid-rows: 1fr;
		*/
    }

    #pxwebcontent .pxweb-accordion .accordion-header .expand-icon {
      color: #00824d;
    }

    #pxwebcontent .pxweb-accordion .accordion-header .header-text {
      color: #162327;
      /*for IE*/
      padding-left: 28px;
      -ms-grid-column: 2;
      -ms-grid-row: 1;
    }

@supports (grid-column-gap: 28px) {
  #pxwebcontent .pxweb-accordion .accordion-header .header-text {
    padding-left: 0;
  }
}

#pxwebcontent .pxweb-accordion .accordion-header .sub-header {
  color: #00824d;
}

#pxwebcontent .pxweb-accordion .accordion-header:hover .header-text, #pxwebcontent .pxweb-accordion .accordion-header:hover .sub-header {
  color: #00824d;
}

#pxwebcontent .pxweb-accordion:not(.without-borders):before {
  border-top: 1px solid #c3dcdc;
  content: '';
  height: 2px;
  padding-bottom: 8px;
  display: block;
}

#pxwebcontent .pxweb-accordion:not(.without-borders):after {
  border-bottom: 1px solid #c3dcdc;
  content: '';
  height: 2px;
  margin-bottom: -1px;
  padding-top: 8px;
  display: block;
}

#pxwebcontent .pxweb-accordion.with-sub-header .button-grid {
  grid-template-columns: fit-content(100px) auto 20px;
}

#pxwebcontent .pxweb-accordion.with-sub-header .accordion-header .header-text {
  grid-column-start: 2;
}

#pxwebcontent .pxweb-accordion.with-sub-header .accordion-header .sub-header {
  align-self: start;
  grid-column-start: 1;
}

#pxwebcontent .pxweb-accordion .accordion-body {
  font-family: Roboto, sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  color: #162327;
  font-size: 16px;
  padding: 8px 50px 8px 0;
}

  #pxwebcontent .pxweb-accordion .accordion-body.closed {
    display: none;
    height: 0;
  }

#pxwebcontent .pxweb-block-content {
  font-family: 'Open Sans', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  background-color: #fff;
  border-top: 4px solid #1a9d49;
  box-shadow: 0 2px 4px 1px rgba(200, 200, 200, 0.5);
  box-sizing: border-box;
  margin-bottom: 80px;
  max-width: 1200px;
  padding: 100px;
  position: relative;
  width: 100%;
}

  #pxwebcontent .pxweb-block-content .section-number {
    font-family: 'Roboto', sans-serif !important;
    font-stretch: normal;
    font-weight: normal;
    color: #62919a;
    font-size: 30px;
    margin-top: -35px;
  }

    #pxwebcontent .pxweb-block-content .section-number:before {
      background-color: #1a9d49;
      content: '';
      display: inline-block;
      height: 22px;
      margin-right: 10px;
      width: 10px;
    }

#pxwebcontent .pxweb-breadcrumbs {
  font-family: 'Open Sans', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  font-stretch: normal;
  line-height: 1.25;
}

#pxwebcontent .pxweb-btn {
  font-family: 'Roboto', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  /*background-color: transparent;*/
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  text-align: left;
  align-items: center;
  background-color: #fff;
  border: 2px solid #00824d;
  border-radius: 2px;
  color: #00824d;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  height: fit-content;
  line-height: 1.25;
  min-height: 40px;
  padding: 12px 20px;
  text-align: center;
  text-underline-position: under;
  transition: background .18s, color .18s;
  white-space: normal;
}

  #pxwebcontent .pxweb-btn:focus {
    outline: #9272fc solid 2px;
    outline-offset: 2px;
  }

  #pxwebcontent .pxweb-btn:hover, #pxwebcontent .pxweb-btn:active {
    cursor: pointer;
  }

  #pxwebcontent .pxweb-btn:hover, #pxwebcontent .pxweb-btn:focus {
    background-color: #00824d;
    color: #fff;
    text-decoration: underline;
  }

  #pxwebcontent .pxweb-btn:active {
    background-color: #274247;
    color: #fff;
  }

  #pxwebcontent .pxweb-btn:disabled {
    background-color: #fff;
    border-color: #c3dcdc;
    color: #c3dcdc;
    cursor: not-allowed;
  }

    #pxwebcontent .pxweb-btn:disabled:hover, #pxwebcontent .pxweb-btn:disabled:focus {
      text-decoration: none;
    }

  #pxwebcontent .pxweb-btn.negative {
    background-color: #274247;
    color: #FFFFFF;
    border-color: #FFFFFF;
  }

    #pxwebcontent .pxweb-btn.negative:hover, #pxwebcontent .pxweb-btn.negative:focus {
      background-color: #FFFFFF;
      color: #274247;
    }

    #pxwebcontent .pxweb-btn.negative:active {
      background-color: #fff;
      color: #274247;
    }

    #pxwebcontent .pxweb-btn.negative:disabled {
      opacity: 0.3;
    }

      #pxwebcontent .pxweb-btn.negative:disabled:hover, #pxwebcontent .pxweb-btn.negative:disabled:focus {
        text-decoration: none;
      }

  #pxwebcontent .pxweb-btn.primary-btn {
    background-color: #00824d;
    color: #fff;
  }

    #pxwebcontent .pxweb-btn.primary-btn:hover, #pxwebcontent .pxweb-btn.primary-btn:active, #pxwebcontent .pxweb-btn.primary-btn:focus {
      background-color: #274247;
      border: 2px solid #274247;
      text-decoration: underline;
    }

    #pxwebcontent .pxweb-btn.primary-btn:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }

      #pxwebcontent .pxweb-btn.primary-btn:disabled:hover, #pxwebcontent .pxweb-btn.primary-btn:disabled:focus {
        text-decoration: none;
      }

    #pxwebcontent .pxweb-btn.primary-btn.negative {
      background-color: #b6e8b8;
      color: #274247;
    }

      #pxwebcontent .pxweb-btn.primary-btn.negative:hover, #pxwebcontent .pxweb-btn.primary-btn.negative:active, #pxwebcontent .pxweb-btn.primary-btn.negative:focus {
        background-color: #fff;
      }

      #pxwebcontent .pxweb-btn.primary-btn.negative:disabled {
        background-color: #2d6975;
        color: #274247;
      }

  #pxwebcontent .pxweb-btn .sb-icon {
    display: inline-flex;
    font-size: 18px;
    margin-right: 5px;
  }

#pxwebcontent .pxweb-card .clickable {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  text-align: left;
}

  #pxwebcontent .pxweb-card .clickable:focus {
    outline: #9272fc solid 2px;
    outline-offset: 2px;
  }

  #pxwebcontent .pxweb-card .clickable img {
    height: 214px;
    width: 380px;
  }

  #pxwebcontent .pxweb-card .clickable.left-orientation {
    display: flex;
    flex-direction: row;
  }

    #pxwebcontent .pxweb-card .clickable.left-orientation .card-content {
      height: 214px;
    }

  #pxwebcontent .pxweb-card .clickable.top-orientation {
    display: flex;
    flex-direction: column;
  }

  #pxwebcontent .pxweb-card .clickable:hover .card-content {
    border: 1px solid #1a9d49;
  }

    #pxwebcontent .pxweb-card .clickable:hover .card-content:not(.with-image) {
      border-top: 5px solid #1a9d49;
    }

#pxwebcontent .pxweb-card .card-content {
  background: #fff;
  border: 1px solid #c3dcdc;
  border-top: 5px solid #1a9d49;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  flex-direction: column;
  max-width: 380px;
  padding: 20px;
  width: 380px;
}

  #pxwebcontent .pxweb-card .card-content.centered {
    align-items: center;
    display: inline-flex;
    text-align: center;
  }

  #pxwebcontent .pxweb-card .card-content.with-image {
    border-top: 1px solid #c3dcdc;
  }

#pxwebcontent .pxweb-card .download-section {
  font-family: 'Open Sans', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  align-items: center;
  border: 1px solid #c3dcdc;
  cursor: pointer;
  display: flex;
  height: 60px;
  text-decoration: none;
}

  #pxwebcontent .pxweb-card .download-section:focus {
    outline: #9272fc solid 2px;
    outline-offset: 2px;
  }

  #pxwebcontent .pxweb-card .download-section:hover {
    border: 1px solid #1a9d49;
  }

  #pxwebcontent .pxweb-card .download-section .download-icon {
    color: #00824d;
    font-size: 20px;
    margin: 0 18px;
  }

  #pxwebcontent .pxweb-card .download-section span {
    color: #162327;
    font-size: 16px;
  }

#pxwebcontent .pxweb-checkbox {
  font-family: 'Roboto', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  color: #162327;
  cursor: pointer;
  display: block;
  font-size: 16px;
  min-width: 200px;
  outline: none;
  position: relative;
  text-align: left;
  user-select: none;
}

  #pxwebcontent .pxweb-checkbox:hover .checkbox-label:before, #pxwebcontent .pxweb-checkbox:focus .checkbox-label:before {
    border: 2px solid #00824d;
  }

  #pxwebcontent .pxweb-checkbox input[type=checkbox] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
  }

    #pxwebcontent .pxweb-checkbox input[type=checkbox]:focus + .checkbox-label:before {
      border: 2px solid #00824d;
    }

    #pxwebcontent .pxweb-checkbox input[type=checkbox]:checked + .checkbox-label:before {
      background: #274247;
    }

    #pxwebcontent .pxweb-checkbox input[type=checkbox]:checked + .checkbox-label:after {
      border: solid #fff;
      border-width: 0 2px 2px 0;
      content: '';
      display: block;
      height: 10px;
      left: 6px;
      position: absolute;
      top: 2px;
      transform: rotate(45deg);
      width: 6px;
    }

    #pxwebcontent .pxweb-checkbox input[type=checkbox]:disabled + .checkbox-label {
      background: #fff;
      color: #c3dcdc;
      cursor: default;
    }

      #pxwebcontent .pxweb-checkbox input[type=checkbox]:disabled + .checkbox-label:before {
        border: 1px solid #c3dcdc;
      }

  #pxwebcontent .pxweb-checkbox .checkbox-label {
    align-items: center;
    cursor: pointer;
    display: flex;
    margin-bottom: 12px;
    position: relative;
  }

    #pxwebcontent .pxweb-checkbox .checkbox-label:before {
      background: #fff;
      border: 1px solid #274247;
      border-radius: 2px;
      box-sizing: border-box;
      content: '';
      display: block;
      height: 20px;
      margin-right: 12px;
      width: 20px;
    }

#pxwebcontent .pxweb-checkbox-group {
  font-family: 'Roboto', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  display: inline-block;
}

  #pxwebcontent .pxweb-checkbox-group .boxes {
    display: flex;
  }

  #pxwebcontent .pxweb-checkbox-group .checkbox-group-header {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  #pxwebcontent .pxweb-checkbox-group input {
    margin: 3px 3px 3px 4px;
  }

#pxwebcontent .pxweb-dialog {
  font-family: 'Open Sans', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  display: flex;
  max-width: 1180px;
  min-width: 100%;
  min-height: 95px;
  width: 100%;
}

  #pxwebcontent .pxweb-dialog .icon-panel {
    color: #fff;
    display: flex;
    flex-shrink: 0;
    font-size: 36px;
    justify-content: center;
    padding-top: 20px;
    width: 90px;
  }

    #pxwebcontent .pxweb-dialog .icon-panel .icon {
      font-size: 40px;
    }

  #pxwebcontent .pxweb-dialog .dialog-content {
    padding: 16px;
  }

    #pxwebcontent .pxweb-dialog .dialog-content .dialog-title {
      font-weight: bold;
    }

    #pxwebcontent .pxweb-dialog .dialog-content .content {
      margin-top: 8px;
    }

  #pxwebcontent .pxweb-dialog.warning {
    border: 2px solid #ed5935;
  }

    #pxwebcontent .pxweb-dialog.warning .icon-panel {
      background: #ed5935;
    }

  #pxwebcontent .pxweb-dialog.info {
    border: 2px solid #3396d2;
  }

    #pxwebcontent .pxweb-dialog.info .icon-panel {
      background: #3396d2;
    }

#pxwebcontent .pxweb-divider {
  border: 0;
  border-top: 1px solid;
  display: block;
  height: 2px;
  margin: 0;
  position: relative;
  width: 100%;
}

  #pxwebcontent .pxweb-divider.type-dark {
    border-top-color: #274247;
  }

  #pxwebcontent .pxweb-divider.type-light {
    border-top-color: #c3dcdc;
  }

#pxwebcontent .pxweb-dropdown {
  font-family: 'Roboto', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  transition: all .25s ease-in-out;
  max-width: 350px;
  min-width: 150px;
  position: relative;
}

  #pxwebcontent .pxweb-dropdown label {
    font-size: 14px;
    line-height: normal;
    margin-bottom: 5px;
  }

  #pxwebcontent .pxweb-dropdown .dropdown-interactive-area {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
    text-align: left;
    cursor: pointer;
    position: relative;
  }

    #pxwebcontent .pxweb-dropdown .dropdown-interactive-area:focus {
      outline: #9272fc solid 2px;
      outline-offset: 2px;
    }

    #pxwebcontent .pxweb-dropdown .dropdown-interactive-area button {
      background-color: transparent;
      border: none;
      color: inherit;
      cursor: pointer;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      padding: 0;
      text-align: left;
      width: 100%;
    }

      #pxwebcontent .pxweb-dropdown .dropdown-interactive-area button:focus {
        outline: #9272fc solid 2px;
        outline-offset: 2px;
      }

    #pxwebcontent .pxweb-dropdown .dropdown-interactive-area .dd-icon {
      color: #00824d;
      font-size: 24px;
      position: absolute;
      right: 12px;
      top: 10px;
    }

    #pxwebcontent .pxweb-dropdown .dropdown-interactive-area input {
      background-color: #fff;
      border: 1px solid #162327;
      box-sizing: border-box;
      cursor: pointer;
      font-size: 16px;
      height: 44px;
      padding: 4px 44px 4px 12px;
      text-overflow: ellipsis;
      width: 100%;
    }

      #pxwebcontent .pxweb-dropdown .dropdown-interactive-area input::placeholder {
        color: #162327;
      }

      #pxwebcontent .pxweb-dropdown .dropdown-interactive-area input:hover {
        border: 1px solid #00824d;
      }

      #pxwebcontent .pxweb-dropdown .dropdown-interactive-area input:focus, #pxwebcontent .pxweb-dropdown .dropdown-interactive-area input.focused {
        border: 1px solid #00824d;
        outline: #00824d auto 1px;
      }

  #pxwebcontent .pxweb-dropdown .list-of-options {
    font-family: 'Roboto', sans-serif !important;
    font-stretch: normal;
    font-weight: normal;
    background: #fff;
    border: 1px solid #162327;
    left: 0;
    list-style: none;
    margin: 0;
    max-height: 235px;
    min-width: 150px;
    overflow-y: auto;
    padding-left: 0;
    position: absolute;
    top: 44px;
    z-index: 9999;
    width: 100%;
  }

    #pxwebcontent .pxweb-dropdown .list-of-options .option-list-element {
      background-color: transparent;
      border: none;
      color: inherit;
      cursor: pointer;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      padding: 0;
      text-align: left;
      font-family: 'Roboto', sans-serif !important;
      font-stretch: normal;
      font-weight: normal;
      background: #fff;
      cursor: pointer;
      display: block;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.25;
      overflow: hidden;
      padding: 12px;
      text-overflow: ellipsis;
      transition: all .18s;
      width: 100%;
    }

      #pxwebcontent .pxweb-dropdown .list-of-options .option-list-element:focus {
        outline: #9272fc solid 2px;
        outline-offset: 2px;
      }

      #pxwebcontent .pxweb-dropdown .list-of-options .option-list-element:hover, #pxwebcontent .pxweb-dropdown .list-of-options .option-list-element:focus {
        background: #274247;
        color: #fff;
        z-index: 2;
      }

      #pxwebcontent .pxweb-dropdown .list-of-options .option-list-element.selected {
        background: #00824d;
        color: #fff;
        font-weight: bold;
      }

  #pxwebcontent .pxweb-dropdown ::-webkit-scrollbar {
    width: 6px;
  }

  #pxwebcontent .pxweb-dropdown ::-webkit-scrollbar-track {
    background: #fff;
    border-bottom: 1px solid #162327;
  }

  #pxwebcontent .pxweb-dropdown ::-webkit-scrollbar-thumb {
    background: #b0b0b0;
    border-radius: 3px;
  }

#pxwebcontent .pxweb-fact-box {
  border: 1px solid #00824d;
  margin: 16px 0;
  padding: 20px 16px;
  width: 100%;
}

#pxwebcontent .pxweb-footer-wrapper {
  background: #274247;
  box-sizing: border-box;
  color: #fff;
  padding: 36px 112px 58px;
  width: 100%;
}

  #pxwebcontent .pxweb-footer-wrapper .top-row {
    border-bottom: 1px solid #fff;
    margin-bottom: 36px;
  }

    #pxwebcontent .pxweb-footer-wrapper .top-row > * {
      margin-bottom: 36px;
    }

  #pxwebcontent .pxweb-footer-wrapper .bottom-row {
    margin-top: 100px;
  }

    #pxwebcontent .pxweb-footer-wrapper .bottom-row > * {
      margin-top: 20px;
    }

    #pxwebcontent .pxweb-footer-wrapper .bottom-row .global-links > * {
      margin-right: 20px;
    }

    #pxwebcontent .pxweb-footer-wrapper .bottom-row .social-links > * {
      margin-left: 20px;
    }

#pxwebcontent .pxweb-form-error {
  font-family: 'Roboto', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  background: #fff;
  border: 2px solid #ed5935;
  border-left: 4px solid #ed5935;
  display: flex;
  padding: 20px 20px 20px 0;
  width: 100%;
}

  #pxwebcontent .pxweb-form-error .error-icon {
    margin: 0 15px;
  }

    #pxwebcontent .pxweb-form-error .error-icon:before {
      align-items: center;
      background: #ed5935;
      border-radius: 2px;
      color: #fff;
      content: "!";
      display: inline-flex;
      font-size: 18px;
      font-weight: bold;
      height: 28px;
      justify-content: center;
      width: 28px;
    }

  #pxwebcontent .pxweb-form-error .error-title {
    color: #ed5935;
    font-weight: bold;
    line-height: 1.25;
  }

  #pxwebcontent .pxweb-form-error ul {
    color: #162327;
    margin-bottom: 0;
    margin-top: 15px;
    padding-left: 18px;
  }

  #pxwebcontent .pxweb-form-error.negative {
    background: #274247;
  }

    #pxwebcontent .pxweb-form-error.negative ul {
      color: #fff;
    }

#pxwebcontent .pxweb-glossary {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  text-align: left;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

  #pxwebcontent .pxweb-glossary:focus {
    outline: #9272fc solid 2px;
    outline-offset: 2px;
  }

  #pxwebcontent .pxweb-glossary .glossary-text-wrap {
    border-bottom: 1px dotted #00824d;
    display: inline-block;
    line-height: inherit;
  }

  #pxwebcontent .pxweb-glossary .glossary-logo {
    color: #1a9d49;
    margin: 2px;
    transition: color .2s;
    vertical-align: top;
  }

  #pxwebcontent .pxweb-glossary .glossary-animate-background {
    background: #b6e8b8;
    bottom: 0;
    height: 0;
    left: 0;
    position: absolute;
    transition: height .2s;
    width: 100%;
    z-index: -1;
  }

  #pxwebcontent .pxweb-glossary:hover .glossary-animate-background, #pxwebcontent .pxweb-glossary:focus .glossary-animate-background {
    height: 100%;
  }

  #pxwebcontent .pxweb-glossary:hover .glossary-logo, #pxwebcontent .pxweb-glossary:focus .glossary-logo {
    color: #162327;
  }

  #pxwebcontent .pxweb-glossary .glossary-popup {
    font-family: 'Open Sans', sans-serif !important;
    font-stretch: normal;
    font-weight: normal;
    animation: fadein .2s;
    display: none;
    font-size: 14px;
    left: 50%;
    margin-left: -135px;
    opacity: 0;
    position: absolute;
    top: 34px;
    transition: opacity .18s;
    width: 270px;
  }

    #pxwebcontent .pxweb-glossary .glossary-popup:after {
      border-color: transparent transparent #274247 transparent;
      border-style: solid;
      border-width: 12px;
      content: '';
      left: 50%;
      margin-left: -12px;
      position: absolute;
      top: -22px;
    }

    #pxwebcontent .pxweb-glossary .glossary-popup.open {
      display: inline-block;
      opacity: 1;
    }

    #pxwebcontent .pxweb-glossary .glossary-popup .content-box {
      background: #274247;
      color: #fff;
      padding: 20px;
    }

      #pxwebcontent .pxweb-glossary .glossary-popup .content-box .pxweb-glossary-closing {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        user-select: none;
        width: 100%;
      }

        #pxwebcontent .pxweb-glossary .glossary-popup .content-box .pxweb-glossary-closing .icon {
          color: #274247;
          fill: #b6e8b8;
          font-size: 16px;
        }

        #pxwebcontent .pxweb-glossary .glossary-popup .content-box .pxweb-glossary-closing span {
          line-height: 1.43;
          margin-left: 2px;
        }

      #pxwebcontent .pxweb-glossary .glossary-popup .content-box .info-text {
        color: #fff;
        font-size: 14px;
      }

#pxwebcontent .pxweb-image-link {
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: flex-end;
  padding: 64px 20px;
  position: relative;
  width: 380px;
}

  #pxwebcontent .pxweb-image-link .image-background {
    height: 400px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 380px;
    z-index: -1;
  }

  #pxwebcontent .pxweb-image-link .il-type {
    font-family: 'Roboto', sans-serif !important;
    font-stretch: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 12px;
  }

  #pxwebcontent .pxweb-image-link .il-title {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-stretch: condensed;
    font-weight: bold;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.43;
    margin-bottom: 12px;
  }

#pxwebcontent .pxweb-input {
  font-family: 'Roboto', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  cursor: text;
  display: flex;
  flex-direction: column;
  max-width: 205px;
  position: relative;
  width: 100%;
}

  #pxwebcontent .pxweb-input:hover input {
    border: 1px solid #b6e8b8;
    outline: 1px solid #b6e8b8;
  }

    #pxwebcontent .pxweb-input:hover input:disabled {
      border: 1px solid #274247;
    }

  #pxwebcontent .pxweb-input .input-wrapper {
    display: flex;
  }

    #pxwebcontent .pxweb-input .input-wrapper ::placeholder {
      color: #2d6975;
      opacity: 1;
    }

    #pxwebcontent .pxweb-input .input-wrapper :-ms-input-placeholder {
      color: #2d6975;
    }

    #pxwebcontent .pxweb-input .input-wrapper ::-ms-input-placeholder {
      color: #2d6975;
    }

  #pxwebcontent .pxweb-input label {
    color: #162327;
    cursor: text;
    font-size: 14px;
    margin-bottom: 4px;
    user-select: none;
  }

  #pxwebcontent .pxweb-input input {
    font-family: 'Roboto', regular !important;
    font-stretch: normal;
    font-weight: normal;
    background: #fff;
    border: 1px solid #274247;
    box-sizing: border-box;
    color: #2d6975;
    font-size: 14px;
    height: 34px;
    padding: 12px 12px;
    text-overflow: ellipsis;
    width: 100%;
  }

    #pxwebcontent .pxweb-input input.with-icon {
      padding: 4px 44px 4px 10px;
    }

    #pxwebcontent .pxweb-input input:disabled {
      border: 1px solid #274247;
      cursor: not-allowed;
    }

    #pxwebcontent .pxweb-input input:focus {
      outline: 2px solid #9272fc;
      outline-offset: 2px;
    }

  #pxwebcontent .pxweb-input.negative .input-wrapper ::placeholder {
    color: #fff;
    opacity: 1;
  }

  #pxwebcontent .pxweb-input.negative .input-wrapper :-ms-input-placeholder {
    color: #fff;
  }

  #pxwebcontent .pxweb-input.negative .input-wrapper ::-ms-input-placeholder {
    color: #fff;
  }

  #pxwebcontent .pxweb-input.negative:hover input {
    border: 1px solid #b6e8b8;
    outline: 1px solid #b6e8b8;
  }

    #pxwebcontent .pxweb-input.negative:hover input:disabled {
      border: 1px solid #fff;
    }

  #pxwebcontent .pxweb-input.negative label {
    color: #fff;
  }

  #pxwebcontent .pxweb-input.negative input {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
  }

    #pxwebcontent .pxweb-input.negative input:disabled {
      border: 1px solid #fff;
    }

    #pxwebcontent .pxweb-input.negative input:focus {
      border: 1px solid #b6e8b8;
      outline: 1px solid #b6e8b8;
      outline-offset: 0;
    }

  #pxwebcontent .pxweb-input.negative .icon-wrapper > * {
    color: #b6e8b8;
  }

  #pxwebcontent .pxweb-input.negative .icon-wrapper.search-icon {
    cursor: pointer;
  }

    #pxwebcontent .pxweb-input.negative .icon-wrapper.search-icon:hover, #pxwebcontent .pxweb-input.negative .icon-wrapper.search-icon:focus {
      background: #fff;
    }

      #pxwebcontent .pxweb-input.negative .icon-wrapper.search-icon:hover > *, #pxwebcontent .pxweb-input.negative .icon-wrapper.search-icon:focus > * {
        color: #274247;
      }

  #pxwebcontent .pxweb-input.negative.error input {
    border: 1px solid #ed5935;
    outline: 1px solid #ed5935;
  }

  #pxwebcontent .pxweb-input.negative.error .icon-wrapper > * {
    color: #ed5935;
  }

  #pxwebcontent .pxweb-input.error input {
    border: 1px solid #ed5935;
    outline: 1px solid #ed5935;
  }

  #pxwebcontent .pxweb-input.error .icon-wrapper > * {
    color: #ed5935;
  }

  #pxwebcontent .pxweb-input .icon-wrapper {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
    text-align: left;
    align-items: center;
    display: flex;
    font-size: 18px;
    height: 34px;
    justify-content: center;
    margin-left: -44px;
    width: 44px;
  }

    #pxwebcontent .pxweb-input .icon-wrapper:focus {
      outline: #9272fc solid 2px;
      outline-offset: 2px;
    }

    #pxwebcontent .pxweb-input .icon-wrapper > * {
      color: #00824d;
    }

    #pxwebcontent .pxweb-input .icon-wrapper.search-icon {
      cursor: pointer;
    }

      #pxwebcontent .pxweb-input .icon-wrapper.search-icon:hover, #pxwebcontent .pxweb-input .icon-wrapper.search-icon:focus {
        background: #00824d;
        outline-offset: 0px;
      }

        #pxwebcontent .pxweb-input .icon-wrapper.search-icon:hover > *, #pxwebcontent .pxweb-input .icon-wrapper.search-icon:focus > * {
          color: #fff;
        }

#pxwebcontent .pxweb-input-error {
  font-family: 'Roboto', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  background: #ed5935;
  color: #fff;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  justify-content: center;
  line-height: normal;
  margin-top: 12px;
  padding: 4px 8px;
  position: relative;
}

  #pxwebcontent .pxweb-input-error.negative {
    color: #274247;
  }

  #pxwebcontent .pxweb-input-error:before {
    border-color: transparent transparent #ed5935 transparent;
    border-style: solid;
    border-width: 8px;
    content: '';
    position: absolute;
    top: -16px;
  }

#pxwebcontent .pxweb-key-figures {
  font-family: 'Roboto', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  color: #274247;
  column-gap: 16px;
  display: inline-grid;
  grid-auto-flow: column;
}

  #pxwebcontent .pxweb-key-figures .kf-icon {
    color: #274247;
    display: inline-flex;
  }

    #pxwebcontent .pxweb-key-figures .kf-icon > * {
      width: 100%;
    }

  #pxwebcontent .pxweb-key-figures.large .kf-icon {
    max-height: 195px;
    max-width: 195px;
    width: 195px;
  }

  #pxwebcontent .pxweb-key-figures.large .subtitle {
    margin-bottom: 32px;
  }

@media screen and (max-width: 767px) {
  #pxwebcontent .pxweb-key-figures.large .subtitle {
    margin-bottom: 14px;
  }
}

#pxwebcontent .pxweb-key-figures.medium .kf-icon {
  max-height: 150px;
  max-width: 150px;
  width: 150px;
}

#pxwebcontent .pxweb-key-figures.medium .subtitle {
  margin-bottom: 18px;
}

@media screen and (max-width: 767px) {
  #pxwebcontent .pxweb-key-figures.medium .subtitle {
    margin-bottom: 8px;
  }
}

#pxwebcontent .pxweb-key-figures.small .kf-icon {
  max-height: 108px;
  max-width: 108px;
  width: 108px;
}

#pxwebcontent .pxweb-key-figures.small .subtitle {
  margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
  #pxwebcontent .pxweb-key-figures .kf-icon {
    display: none;
  }
}

#pxwebcontent .pxweb-key-figures .number-section {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
}

#pxwebcontent .pxweb-key-figures .kf-time {
  font-family: 'Open Sans', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  font-size: 16px;
  margin-top: 4px;
}

#pxwebcontent .pxweb-key-figures .kf-title {
  font-family: 'Roboto', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  font-size: 20px;
  font-weight: bold;
  line-height: normal;
  margin: 0;
}

  #pxwebcontent .pxweb-key-figures .kf-title.subtitle {
    color: #274247;
  }

#pxwebcontent .pxweb-key-figures .no-number {
  font-family: 'Roboto', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  color: #62919a;
  font-size: 20px;
  font-weight: bold;
}

#pxwebcontent .pxweb-lead-paragraph {
  font-family: 'Open Sans', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  color: #162327;
  font-size: 20px;
  line-height: 32px;
  max-width: 680px;
}

  #pxwebcontent .pxweb-lead-paragraph.negative {
    color: #fff;
  }

#pxwebcontent .pxweb-link {
  font-family: 'Open Sans', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  align-items: center;
  background-image: linear-gradient(120deg, #00824d 0%, #00824d 100%);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 0;
  border-bottom: 1px solid #00824d;
  color: #00824d;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  line-height: 1.25;
  margin-top: -3px;
  margin-bottom: -2px;
  padding: 0 1px 2px 1px;
  position: relative;
  text-decoration: none;
  transition: background-size .2s ease-in, color .1s;
}

  #pxwebcontent .pxweb-link .icon-wrapper {
    display: flex;
    margin-right: 4px;
  }

  #pxwebcontent .pxweb-link.header {
    font-family: 'Roboto', sans-serif !important;
    font-stretch: normal;
    font-weight: normal;
    border-bottom-width: 2px;
    font-size: 20px;
    font-weight: bold;
  }

    #pxwebcontent .pxweb-link.header .link-text {
      color: #162327;
    }

  #pxwebcontent .pxweb-link:hover, #pxwebcontent .pxweb-link:focus {
    background-size: 100% 100%;
    color: #fff;
    outline: 0;
    text-decoration: none;
  }

    #pxwebcontent .pxweb-link:hover .link-text, #pxwebcontent .pxweb-link:focus .link-text {
      color: #fff;
    }

  #pxwebcontent .pxweb-link.negative {
    background-image: linear-gradient(120deg, #b6e8b8 0%, #b6e8b8 100%);
    border-bottom: 1px solid #b6e8b8;
    color: #b6e8b8;
  }

    #pxwebcontent .pxweb-link.negative .link-text {
      color: #b6e8b8;
    }

    #pxwebcontent .pxweb-link.negative.header {
      border-bottom-width: 2px;
    }

      #pxwebcontent .pxweb-link.negative.header .link-text {
        color: #fff;
      }

    #pxwebcontent .pxweb-link.negative.with-icon {
      padding: 2px 2px 0;
      border-bottom: none;
    }

      #pxwebcontent .pxweb-link.negative.with-icon i {
        font-size: 20px;
      }

      #pxwebcontent .pxweb-link.negative.with-icon .link-text {
        color: #fff;
      }

      #pxwebcontent .pxweb-link.negative.with-icon:hover, #pxwebcontent .pxweb-link.negative.with-icon:focus {
        color: #274247;
      }

        #pxwebcontent .pxweb-link.negative.with-icon:hover .link-text, #pxwebcontent .pxweb-link.negative.with-icon:focus .link-text {
          color: #274247;
        }

    #pxwebcontent .pxweb-link.negative:hover, #pxwebcontent .pxweb-link.negative:focus {
      color: #274247;
      outline: 0;
    }

      #pxwebcontent .pxweb-link.negative:hover .link-text, #pxwebcontent .pxweb-link.negative:focus .link-text {
        color: #274247;
      }

  #pxwebcontent .pxweb-link.profiled {
    border-bottom-width: 2px;
    font-size: 18px;
    font-weight: bold;
  }

  #pxwebcontent .pxweb-link.with-icon {
    padding: 2px 2px 0;
    border-bottom: none;
  }

    #pxwebcontent .pxweb-link.with-icon i {
      font-size: 16px;
    }

    #pxwebcontent .pxweb-link.with-icon .link-text {
      color: #162327;
    }

    #pxwebcontent .pxweb-link.with-icon:hover, #pxwebcontent .pxweb-link.with-icon:focus {
      color: #fff;
    }

      #pxwebcontent .pxweb-link.with-icon:hover .link-text, #pxwebcontent .pxweb-link.with-icon:focus .link-text {
        color: #fff;
      }

  #pxwebcontent .pxweb-link .link-text {
    color: #00824d;
    transition: color .1s;
  }

    #pxwebcontent .pxweb-link .link-text:hover, #pxwebcontent .pxweb-link .link-text:focus {
      color: #fff;
      outline: 0;
    }

#pxwebcontent .pxweb-nested-accordion {
  font-family: 'Roboto', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  display: grid;
  margin-top: 8px;
  min-width: 300px;
  width: 100%;
}

  #pxwebcontent .pxweb-nested-accordion .nested-accordion-header {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
    text-align: left;
  }

    #pxwebcontent .pxweb-nested-accordion .nested-accordion-header:focus {
      outline: #9272fc solid 2px;
      outline-offset: 2px;
    }

    #pxwebcontent .pxweb-nested-accordion .nested-accordion-header .button-grid {
      align-items: center;
      cursor: pointer;
      display: grid;
      grid-column-gap: 16px;
      grid-template-columns: 15px 1fr;
    }

    #pxwebcontent .pxweb-nested-accordion .nested-accordion-header .expand-icon {
      color: #00824d;
      font-size: 16px;
    }

    #pxwebcontent .pxweb-nested-accordion .nested-accordion-header .header-text {
      font-family: 'Roboto', sans-serif !important;
      font-stretch: normal;
      font-weight: normal;
      color: #162327;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.25;
    }

    #pxwebcontent .pxweb-nested-accordion .nested-accordion-header:hover .header-text {
      color: #00824d;
    }

    #pxwebcontent .pxweb-nested-accordion .nested-accordion-header.open .header-text, #pxwebcontent .pxweb-nested-accordion .nested-accordion-header.open .sub-header {
      color: #00824d;
    }

  #pxwebcontent .pxweb-nested-accordion .nested-accordion-body {
    font-family: 'Open Sans', sans-serif !important;
    font-stretch: normal;
    font-weight: normal;
    color: #162327;
    font-size: 16px;
    padding: 10px 10px 10px 30px;
  }

    #pxwebcontent .pxweb-nested-accordion .nested-accordion-body.closed {
      display: none;
      height: 0;
    }

#pxwebcontent .pxweb-number {
  font-family: 'Roboto Condensed', sans-serif !important;
  font-stretch: condensed;
  font-weight: bold;
  color: #274247;
  line-height: normal;
  white-space: nowrap;
}

  #pxwebcontent .pxweb-number.small {
    font-size: 56px;
  }

@media screen and (max-width: 767px) {
  #pxwebcontent .pxweb-number.small {
    font-size: 56px;
  }
}

#pxwebcontent .pxweb-number.medium {
  font-size: 100px;
}

@media screen and (max-width: 767px) {
  #pxwebcontent .pxweb-number.medium {
    font-size: 56px;
  }
}

#pxwebcontent .pxweb-number.large {
  font-size: 148px;
}

@media screen and (max-width: 767px) {
  #pxwebcontent .pxweb-number.large {
    font-size: 77px;
  }
}

#pxwebcontent .pxweb-pagination {
  font-family: 'Roboto', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  align-items: center;
  display: flex;
  line-height: 1.25;
}

  #pxwebcontent .pxweb-pagination .nav-button-square {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
    text-align: left;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 2px;
    color: #00824d;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    margin: 0 4px;
    width: 30px;
  }

    #pxwebcontent .pxweb-pagination .nav-button-square:focus {
      outline: #9272fc solid 2px;
      outline-offset: 2px;
    }

    #pxwebcontent .pxweb-pagination .nav-button-square.selected {
      background: #00824d;
      color: #fff;
      font-weight: bold;
    }

    #pxwebcontent .pxweb-pagination .nav-button-square:hover {
      border: 1px solid #00824d;
      border-radius: 2px;
      font-weight: bold;
    }

  #pxwebcontent .pxweb-pagination .dotted-indicator {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 4px;
    width: 30px;
  }

  #pxwebcontent .pxweb-pagination .direction-button {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
    text-align: left;
    align-items: center;
    border: 1px solid transparent;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 30px;
    justify-content: center;
    padding: 4px 10px;
  }

    #pxwebcontent .pxweb-pagination .direction-button:focus {
      outline: #9272fc solid 2px;
      outline-offset: 2px;
    }

    #pxwebcontent .pxweb-pagination .direction-button:first-of-type {
      text-align: right;
    }

    #pxwebcontent .pxweb-pagination .direction-button .chevron-icon {
      color: #00824d;
      font-size: 16px;
    }

    #pxwebcontent .pxweb-pagination .direction-button:hover {
      border-radius: 2px;
      color: #00824d;
      font-weight: bold;
      border: 1px solid #00824d;
    }

    #pxwebcontent .pxweb-pagination .direction-button.previous .chevron-icon {
      margin-right: 2px;
    }

    #pxwebcontent .pxweb-pagination .direction-button.next .chevron-icon {
      margin-left: 2px;
    }

#pxwebcontent .pxweb-paragraph {
  font-family: 'Open Sans', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  color: #162327;
  font-size: 16px;
  line-height: 28px;
  max-width: 580px;
}

  #pxwebcontent .pxweb-paragraph.negative {
    color: #fff;
  }

#pxwebcontent .pxweb-quote {
  font-family: 'Open Sans', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  background-image: linear-gradient(120deg, #ecfeed 0%, #ecfeed 100%);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 50%;
  font-size: 20px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.6;
}

  #pxwebcontent .pxweb-quote.negative {
    background-image: linear-gradient(120deg, #075745 0%, #075745 100%);
    color: #fff;
  }

#pxwebcontent .pxweb-radio {
  font-family: 'Roboto', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  color: #162327;
  cursor: pointer;
  display: block;
  font-size: 16px;
  min-width: 200px;
  outline: none;
  position: relative;
  text-align: left;
  user-select: none;
}

  #pxwebcontent .pxweb-radio:hover .radio-label:before, #pxwebcontent .pxweb-radio:focus .radio-label:before {
    border: 2px solid #00824d;
  }

  #pxwebcontent .pxweb-radio input[type=radio] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
  }

    #pxwebcontent .pxweb-radio input[type=radio]:focus + .radio-label:before {
      border: 2px solid #00824d;
    }

    #pxwebcontent .pxweb-radio input[type=radio]:checked + .radio-label:after {
      background: #274247;
      border-radius: 50%;
      content: '';
      display: block;
      height: 12px;
      left: 4px;
      position: absolute;
      top: 4px;
      transform: rotate(45deg);
      width: 12px;
    }

    #pxwebcontent .pxweb-radio input[type=radio]:disabled + .radio-label {
      background: #fff;
      color: #c3dcdc;
      cursor: default;
    }

      #pxwebcontent .pxweb-radio input[type=radio]:disabled + .radio-label:before {
        border: 1px solid #c3dcdc;
      }

  #pxwebcontent .pxweb-radio .radio-label {
    align-items: center;
    cursor: pointer;
    display: flex;
    margin-bottom: 12px;
    position: relative;
  }

    #pxwebcontent .pxweb-radio .radio-label:before {
      background: #fff;
      border: 1px solid #274247;
      border-radius: 50%;
      box-sizing: border-box;
      content: '';
      display: block;
      height: 20px;
      margin-right: 12px;
      width: 20px;
    }

#pxwebcontent .pxweb-radio-group {
  font-family: 'Roboto', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  display: inline-block;
}

  #pxwebcontent .pxweb-radio-group .boxes {
    display: flex;
  }

  #pxwebcontent .pxweb-radio-group .radio-group-header {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }

#pxwebcontent .pxweb-references {
  display: inline-flex;
  flex-direction: column;
}

  #pxwebcontent .pxweb-references .reference-header {
    font-family: 'Roboto', sans-serif !important;
    font-stretch: normal;
    font-weight: normal;
    color: #162327;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.25;
  }

#pxwebcontent .pxweb-sticky-menu {
  font-family: 'Roboto', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  align-items: center;
  background-color: #fff;
  border: solid 1px #c3dcdc;
  box-shadow: 2px 2px 10px 0 rgba(206, 205, 205, 0.5);
  color: #162327;
  display: flex;
  justify-content: center;
  line-height: normal;
  padding-bottom: 25px;
  padding-top: 25px;
  position: sticky;
  top: 0;
  width: 100%;
}

  #pxwebcontent .pxweb-sticky-menu .menu-content {
    max-width: 1200px;
    width: 100%;
  }

  #pxwebcontent .pxweb-sticky-menu .chevron-down-icon {
    color: #00824d;
    font-size: 18px;
    margin-right: 2px;
  }

  #pxwebcontent .pxweb-sticky-menu input {
    min-width: 180px;
    width: 100%;
  }

  #pxwebcontent .pxweb-sticky-menu .input-header {
    color: #274247;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    white-space: nowrap;
  }

  #pxwebcontent .pxweb-sticky-menu .title {
    font-size: 24px;
    font-weight: bold;
  }

#pxwebcontent .pxweb-tabs {
  display: flex;
  flex-direction: row;
}

  #pxwebcontent .pxweb-tabs .navigation-item {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
    text-align: left;
    font-family: 'Roboto', sans-serif !important;
    font-stretch: normal;
    font-weight: normal;
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
    line-height: 1.25;
    outline: none;
    padding: 20px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background .2s;
  }

    #pxwebcontent .pxweb-tabs .navigation-item:not(:last-of-type) {
      margin-right: 16px;
    }

    #pxwebcontent .pxweb-tabs .navigation-item:before {
      background: #274247;
      bottom: 0;
      content: '';
      display: block;
      height: 0;
      left: 0;
      position: absolute;
      transition: all .2s;
      width: 100%;
    }

    #pxwebcontent .pxweb-tabs .navigation-item.active:before {
      background: #1a9d49;
      height: 4px;
    }

    #pxwebcontent .pxweb-tabs .navigation-item:hover:before, #pxwebcontent .pxweb-tabs .navigation-item:focus:before {
      height: 4px;
    }

#pxwebcontent .pxweb-tag {
  font-family: 'Roboto', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  text-align: left;
  align-items: center;
  background: #fff;
  border: 1px solid #00824d;
  border-radius: 20px;
  color: #00824d;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  height: 36px;
  line-height: 1.25;
  min-height: 26px;
  padding: 8px 16px;
  text-align: center;
  transition: background .18s, color .18s;
  white-space: nowrap;
}

  #pxwebcontent .pxweb-tag:focus {
    outline: #9272fc solid 2px;
    outline-offset: 2px;
  }

  #pxwebcontent .pxweb-tag:hover, #pxwebcontent .pxweb-tag:active {
    cursor: pointer;
  }

  #pxwebcontent .pxweb-tag:hover, #pxwebcontent .pxweb-tag:focus {
    background: #00824d;
    color: #fff;
  }

  #pxwebcontent .pxweb-tag:active {
    background: #274247;
    color: #fff;
  }

  #pxwebcontent .pxweb-tag .st-icon {
    display: inline-flex;
    font-size: 18px;
    margin-right: 5px;
  }

#pxwebcontent .pxweb-text-wrapper {
  font-family: 'Open Sans', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  color: #162327;
  font-size: 16px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.7;
  max-width: 580px;
}

  #pxwebcontent .pxweb-text-wrapper.small-text {
    font-size: 14px;
    line-height: 24px;
  }

  #pxwebcontent .pxweb-text-wrapper.negative {
    color: #fff;
  }

#pxwebcontent .pxweb-text-area {
  font-family: 'Roboto', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  cursor: text;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  position: relative;
}

  #pxwebcontent .pxweb-text-area:hover textarea {
    border: 1px solid #00824d;
    outline: 1px solid #00824d;
  }

    #pxwebcontent .pxweb-text-area:hover textarea:disabled {
      border: 1px solid #274247;
    }

  #pxwebcontent .pxweb-text-area textarea {
    font-family: 'Roboto', sans-serif !important;
    font-stretch: normal;
    font-weight: normal;
    background: #fff;
    border: 1px solid #274247;
    box-sizing: border-box;
    color: #162327;
    font-size: 16px;
    height: 44px;
    line-height: 1.25;
    min-height: 44px;
    min-width: 200px;
    padding: 11px 12px;
    width: 100%;
  }

    #pxwebcontent .pxweb-text-area textarea:focus {
      border: 1px solid #00824d;
      outline: 1px solid #00824d;
      outline-offset: 0;
    }

  #pxwebcontent .pxweb-text-area.negative .text-area-wrapper ::placeholder {
    color: #fff;
    opacity: 1;
  }

  #pxwebcontent .pxweb-text-area.negative .text-area-wrapper :-ms-input-placeholder {
    color: #fff;
  }

  #pxwebcontent .pxweb-text-area.negative .text-area-wrapper ::-ms-input-placeholder {
    color: #fff;
  }

  #pxwebcontent .pxweb-text-area.negative:hover textarea {
    border: 1px solid #b6e8b8;
    outline: 1px solid #b6e8b8;
  }

    #pxwebcontent .pxweb-text-area.negative:hover textarea:disabled {
      border: 1px solid #fff;
    }

  #pxwebcontent .pxweb-text-area.negative label {
    color: #fff;
  }

  #pxwebcontent .pxweb-text-area.negative textarea {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
  }

    #pxwebcontent .pxweb-text-area.negative textarea:disabled {
      border: 1px solid #fff;
    }

    #pxwebcontent .pxweb-text-area.negative textarea:focus {
      border: 1px solid #b6e8b8;
      outline: 1px solid #b6e8b8;
      outline-offset: 0;
    }

  #pxwebcontent .pxweb-text-area.negative.error textarea {
    border: 1px solid #ed5935;
    outline: 1px solid #ed5935;
  }

  #pxwebcontent .pxweb-text-area.error input {
    border: 1px solid #ed5935;
    outline: 1px solid #ed5935;
  }

#pxwebcontent .pxweb-title {
  color: #162327;
  margin-top: 0;
}

  #pxwebcontent .pxweb-title.negative {
    color: #fff;
  }

#pxwebcontent h1 .pxweb-title {
  font-family: 'Roboto Condensed', sans-serif !important;
  font-stretch: condensed;
  font-weight: bold;
  font-size: 56px;
  font-weight: bold;
  line-height: 80px;
}

#pxwebcontent h2 .pxweb-title {
  font-family: 'Roboto Condensed', sans-serif !important;
  font-stretch: condensed;
  font-weight: bold;
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
}

#pxwebcontent h3 .pxweb-title {
  font-family: 'Roboto', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  font-size: 20px;
  font-weight: bold;
  line-height: 32px;
}

#pxwebcontent h4 .pxweb-title {
  font-family: 'Roboto', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  font-size: 16px;
  font-weight: bold;
  line-height: 28px;
}

#pxwebcontent h5 .pxweb-title {
  font-family: 'Roboto', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.7;
}

#pxwebcontent h6 .pxweb-title {
  font-family: 'Roboto', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.7;
}

@media screen and (max-width: 767px) {
  #pxwebcontent h1 .pxweb-title {
    font-size: 44px;
    line-height: 56px;
  }

  #pxwebcontent h2 .pxweb-title {
    font-size: 28px;
    line-height: 36px;
  }
}
