/* Used for Information webcontrol, and also metaid stuff from Selection.aspx*/
/* generall style for the definitionlist */
/* Define if specific style is to be used for presentation of a heading or value for some of the information*/

#pxwebcontent dl.information_definitionlist dl {
  margin-top: 10px;
  line-height: 120%;
  /*font-weight: bold;*/
  break-inside: avoid-column;
  -webkit-column-break-inside: avoid;
}

#pxwebcontent dl.information_definitionlist dt {
  margin-top: 10px;
  line-height: 120%;
  font-weight: bold;
  margin-left: 20px;
}

#pxwebcontent dl.information_definitionlist dd {
  line-height: 120%;
  margin-left: 20px;
}

#pxwebcontent .information_definitionlist {
  /* -webkit-column-count: 2;*/ /* Chrome, Safari, Opera */
  /* -moz-column-count: 2; */ /* Firefox */
  column-count: 2;
}

#pxwebcontent .information_atom {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 767px) {
  #pxwebcontent .information_definitionlist {
    /*  -webkit-column-count: 1;*/ /* Chrome, Safari, Opera */
    /*  -moz-column-count: 1;*/ /* Firefox */
    column-count: 1;
  }
}

#pxwebcontent .information_definitionlist_heading {
  margin-top: 10px;
  font-weight: bold;
}

#pxwebcontent .information_definitionlist dd a {
  color: #003892 !important;
  text-decoration: underline;
}

  #pxwebcontent .information_definitionlist dd a:visited {
    color: #0493ac;
  }

#pxwebcontent div.settingpanel.information {
  font-family: 'Open Sans', sans-serif;
}

#pxwebcontent .pxweb_about_the_statistics {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 3px;
}

  #pxwebcontent .pxweb_about_the_statistics .pxweb-link {
    margin-top: 3px;
  }
