#pxwebcontent .login {
  position: relative;
  padding: 3em 0em 3em 0em;
  overflow: hidden;
}

#pxwebcontent .loginBannerHeader {
  float: left;
  font-size: 3em;
}

#pxwebcontent .logindiv {
  float: right;
  margin-right:10px;
}

#pxwebcontent #logindiv legend {
  padding-left: 0.25em;
}

#pxwebcontent .box {
  padding: 0em 0em;
  width: 16em;
  border: thin solid #2870ae;
}

#pxwebcontent .box-top {
  margin-bottom: 0em;
  width: 16em;
}

  #pxwebcontent .box-top input {
    border: none !important;
    background-color: #2870ae;
    color: white;
    height: 3.4em;
    width: 17em;
  }

    #pxwebcontent .box-top input:hover {
      background-color: #b30086;
      transition: .1s ease-out;
    }

    #pxwebcontent .box-top input:focus {
      outline: #9272fc solid 2px;
      outline-offset: 2px;
    }

#pxwebcontent .wrap {
  padding: 1em 1em;
  margin-bottom: 0px;
}

  #pxwebcontent .wrap input {
    height: 1.7em;
  }

#pxwebcontent .row {
  clear: both;
}

#pxwebcontent .px-login-hjelp {
  margin-top: 14px;
  margin-left: 14px;
}
