#pxwebcontent {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
}

  #pxwebcontent html {
    /* Always display scroll. This prevents the auto-centering of the page to jump around between pages 
    /* where one page has scrollbar and the other one don´t*/
    height: 102%;
  }

  #pxwebcontent p {
    margin-bottom: 4px;
  }

  #pxwebcontent a:focus {
    outline: #9272fc solid 2px;
    outline-offset: 2px;
  }

  #pxwebcontent #wrap {
    margin: 0px auto;
    max-width: 1180px;
  }

@media (max-width: 1180px) {
  #pxwebcontent #wrap {
    margin: 0px 10px;
  }
}

#pxwebcontent #header {
  padding: 10px 0 10px 0;
  min-height: 100px;
  max-height: 200px;
}

  #pxwebcontent #header h1 {
    font-size: 2.2em;
    font-weight: 100;
    letter-spacing: -3px;
    padding: 12px 0 5px 10px;
  }

    #pxwebcontent #header h1 a {
      color: #57626a;
      text-decoration: none;
    }

      #pxwebcontent #header h1 a:hover {
        color: #57626a;
        text-decoration: none;
      }

  #pxwebcontent #header h2 {
    color: #ccc;
    font-size: 1.25em;
    font-weight: 100;
    padding: 0 0 0 11px;
    letter-spacing: -1px;
    line-height: 12px;
  }

  #pxwebcontent #header span {
    font-size: 3.8em;
    font-weight: 100;
    letter-spacing: -3px;
    padding: 12px 0 0 10px;
  }

#pxwebcontent .headerleft {
  float: left;
}

#pxwebcontent .headerright {
  float: right;
  font-weight: 600;
  color: #000;
}

#pxwebcontent #breadcrumb {
  border-top: 3px solid #57626a;
  border-top: 3px solid #2870ae;
  background: #eee;
  text-transform: none;
  padding: 5px 15px;
  min-height: 30px;
}

#pxwebcontent #sitemappath {
  font-family: Verdana;
  font-size: 0.9em;
  color: #ffffff;
}

#pxwebcontent .sitemappath_pathseparator {
  color: Black;
  font-weight: bold;
}

#pxwebcontent .sitemappath_currentnode {
  color: Black;
  font-weight: bold;
}

#pxwebcontent .sitemappath_node {
  color: Black;
}

#pxwebcontent .sitemappath_rootnode {
  color: Black;
}

#pxwebcontent #content {
  padding: 10px 15px;
}

#pxwebcontent #footer {
  background: #eee;
}

#pxwebcontent .footerleft {
  float: left;
}

#pxwebcontent .footerright {
  float: right;
  font-weight: 600;
  color: #000;
}

#pxwebcontent .cboSelectLanguages {
  width: 200px;
}

#pxwebcontent .imgSiteLogo {
  height: 100px;
  width: 100px;
  vertical-align: middle;
}

#pxwebcontent .imgSiteLogoSSB {
  height: 60px;
  vertical-align: middle;
  /*padding-right: 15px;*/
  padding-top: 12px;
}

#pxwebcontent .siteLogoText {
  vertical-align: middle;
}

#pxwebcontent .px-change-lang-div {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-right: 30px;
}

#pxwebcontent #header .pxweb-link.px-change-lang {
  margin: 4px;
}

#pxwebcontent #header .link-text.px-change-lang {
  font-size: 12px;
  letter-spacing: normal;
  padding-top: 0px;
  padding-right: 1px;
  padding-bottom: 2px;
  padding-left: 1px;
}

#pxwebcontent .tableAlternatingRow {
  background-color: #eee;
}

#pxwebcontent .menu_databasename {
  font-family: Arial;
  font-size: 200%;
  font-weight: normal;
  line-height: 100%;
  margin-top: 15px;
  margin-bottom: 30px;
  display: block;
}

#pxwebcontent .menuTopLeftContent {
  float: left;
}

#pxwebcontent .menuTopRightContent {
  float: right;
  vertical-align: top;
}

#pxwebcontent .menuExplanation {
  font-family: 'Open Sans', sans-serif !important;
}

#pxwebcontent .menuExplanationDiv {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-style: dashed;
  border-width: 2px;
  border-color: #25a23c;
}

#pxwebcontent .search_searchresulttext {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

#pxwebcontent .searchTopLeftContent {
  float: left;
}

#pxwebcontent .searchResultTable {
  width: 100%;
}

#pxwebcontent .searchHeaderCell {
  font-weight: bold;
  padding-left: 3px;
}

#pxwebcontent .searchCell {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

#pxwebcontent .searchCellTable {
  width: 90%;
}

#pxwebcontent .searchCellPublished {
  width: 10%;
}

#pxwebcontent .selectionLinksContainer {
  margin-bottom: 15px;
}

#pxwebcontent .settings_panel {
  float: left;
  display: inline-block;
  width: 100%;
}

#pxwebcontent .chart-links {
  float: right;
}

#pxwebcontent .chart-image {
  padding-top: 20px;
}

#pxwebcontent .panelshowlink {
  width: 100%;
  background-color: #E9F3E9;
  padding: 10px 10px 10px 10px;
  margin-top: 5px;
  display: inline-block;
  border: 1px solid #e0e0e0;
  cursor: pointer;
}

  #pxwebcontent .panelshowlink.savequery {
    background-color: #E9F3E9;
  }

#pxwebcontent .px-settings-imagelink {
  vertical-align: middle;
  padding-right: 3px;
  padding-bottom: 3px;
}

#pxwebcontent .px-settings-expandimage {
  width: 16px;
  height: 16px;
  background: url(../images/plus-black-16.gif) no-repeat;
  vertical-align: middle;
  outline: none;
  margin-left: 3px;
  margin-right: 10px;
}

#pxwebcontent .px-settings-collapseimage {
  width: 16px;
  height: 16px;
  background: url(../images/minus-black-16.gif) no-repeat;
  vertical-align: middle;
  outline: none;
  margin-left: 3px;
  margin-right: 10px;
}

#pxwebcontent .px-settings {
  display: inline-block;
  padding: 10px 10px 10px 10px;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
}

#pxwebcontent .px_setting_validator {
  color: Red;
}

#pxwebcontent .px_setting_heading {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

#pxwebcontent .px_setting_label_normal {
  display: inline-block;
  width: 160px;
  vertical-align: top;
  font-weight: bold;
}

#pxwebcontent .px_setting_textbox_normal {
  width: 40px;
  margin-bottom: 5px;
}

#pxwebcontent .px_setting_textbox_title {
  width: 600px;
  margin-bottom: 5px;
}

#pxwebcontent .px_setting_label_width {
  display: inline-block;
  width: 40px;
  margin-left: 10px;
  font-weight: bold;
  margin-right: 5px;
}

#pxwebcontent .px_setting_radiobuttonlist {
  display: inline-block;
}

  #pxwebcontent .px_setting_radiobuttonlist input {
    margin-right: 5px;
    margin-bottom: 7px;
  }

  #pxwebcontent .px_setting_radiobuttonlist label {
    margin-right: 15px;
  }

#pxwebcontent .px_setting_checkbox {
  margin-bottom: 2px;
}

  #pxwebcontent .px_setting_checkbox input {
    margin-right: 5px;
  }

  #pxwebcontent .px_setting_checkbox label {
    margin-right: 15px;
  }

#pxwebcontent .px_settings_buttons {
  display: block;
  margin-top: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}

#pxwebcontent .px_settings_cancel {
  margin-right: 20px;
  background: #25a23c;
  color: white;
  padding: 2px 4px 2px 5px;
  font-weight: bold;
}

#pxwebcontent .px_setting_apply {
  margin-right: 20px;
  background: #25a23c;
  color: white;
  padding: 2px 4px 2px 5px;
  font-weight: bold;
  border: 1px solid #ccc;
}

#pxwebcontent .chart_information {
  background-color: #cccccc;
  padding: 20px 20px 20px 20px;
  display: inline-block;
  width: 731px;
  margin-bottom: 15px;
  margin-top: 5px;
}

#pxwebcontent .chart_information_title {
  font-weight: bold;
}

#pxwebcontent .table-links {
  display: inline-block;
}

#pxwebcontent .login_container {
  position: absolute;
  top: 150px;
  left: 150px;
  background-color: #eeeeee;
  padding: 30px;
}

#pxwebcontent .login_caption {
  font-weight: bold;
  padding-bottom: 20px;
}

#pxwebcontent .login_left {
  float: left;
  padding-bottom: 5px;
  padding-right: 5px;
  line-height: 22px;
  vertical-align: middle;
}

#pxwebcontent .login_right {
  float: right;
  padding-bottom: 5px;
  padding-left: 5px;
}

#pxwebcontent .login_error {
  clear: both;
  padding-top: 5px;
  color: Red;
}

#pxwebcontent .login_buttoncontainer {
  clear: both;
  float: right;
  padding-top: 10px;
}

#pxwebcontent .login_button {
  padding: 5px;
}

#pxwebcontent .login_textbox {
  margin-bottom: 5px;
  width: 150px;
}

#pxwebcontent .search-settings {
  display: inline-block;
  background-color: #eeeeee;
  padding: 10px 10px 10px 10px;
  border: solid 1px #cccccc;
  margin-top: 10px;
}

#pxwebcontent .meta_heading {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

#pxwebcontent .metadata_selectVariable {
  margin-top: 10px;
  font-family: 'Open Sans';
  font-size: 14px;
  color: #333333;
}

#pxwebcontent .meta_tablelink {
  display: block;
  color: #03649c !important;
}

#pxwebcontent .meta_header {
  width: 100%;
  border-bottom: 3px solid #dddddd;
}

#pxwebcontent .metadata_header {
  font-weight: bold;
  margin-top: 30px;
  display: block;
}

#pxwebcontent .meta_row {
  padding-bottom: 5px;
  margin-bottom: 5px;
  width: 100%;
  border-bottom: 1px solid #dddddd;
}

#pxwebcontent .meta_left {
  display: inline-block;
  width: 250px;
  vertical-align: top;
}

#pxwebcontent .meta_right {
  display: inline-block;
}

#pxwebcontent .metadata_no_meta {
  font-style: italic;
}

#pxwebcontent img {
  border: none;
}

#pxwebcontent a {
  text-decoration: none;
}

  #pxwebcontent a:hover {
    text-decoration: underline;
  }

#pxwebcontent .headingtext {
  font-weight: bold;
}

#pxwebcontent .tableCropped {
  font-weight: bold;
  color: Gray;
}

#pxwebcontent .alertimage {
  width: 16px;
  height: 16px;
  background: url(../images/alert-16.gif) no-repeat;
  vertical-align: top;
  outline: none;
}

#pxwebcontent .px-messages {
  display: inline-block;
  border: 1px solid #fba504;
  margin-top: 5px;
  padding: 10px 10px 10px 10px;
  width: 45%;
  vertical-align: middle;
}

#pxwebcontent .saved_query_unsafe_panel {
  width: 100%;
}

#pxwebcontent .errorMessage {
  font-family: Verdana;
  font-size: 0.9em;
  color: #B0272E;
  display: block;
}

#pxwebcontent .top-link.pxweb-btn.negative {
  color: #FFFFFF;
  border-color: #FFFFFF;
  background-color: #274247;
}

  #pxwebcontent .top-link.pxweb-btn.negative:hover, #pxwebcontent top-link.pxweb-btn:focus {
    color: #274247;
    border-color: #274247;
    background-color: #FFFFFF;
  }

#pxwebcontent .top-link {
  min-height: 30px;
  max-height: 30px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 2em 2em 0;
  z-index: 100000;
}

@media screen and (max-width: 767px) {
  #pxwebcontent .top-link {
    min-height: 16px;
    max-height: 16px;
    min-width: 102px;
    max-width: 102px;
    white-space: nowrap;
  }

  #pxwebcontent .icon-top-link-button {
    width: 30px;
    height: 26px;
  }
}

#pxwebcontent .pxweb-buttons {
  background-repeat: no-repeat;
  margin-right: 20px;
  margin-top: 10px;
  font-size: 14px;
}

  #pxwebcontent .pxweb-buttons.database-icon {
    background-image: url(../images/svg/database.svg);
    background-repeat: no-repeat;
  }

    #pxwebcontent .pxweb-buttons.database-icon:hover, #pxwebcontent .pxweb-buttons.database-icon:focus {
      background-image: url(../images/svg/database-hover.svg);
    }

  #pxwebcontent .pxweb-buttons.checked-icon {
    background-image: url(../images/svg/select-all.svg);
    background-repeat: no-repeat;
  }

    #pxwebcontent .pxweb-buttons.checked-icon:hover, #pxwebcontent .pxweb-buttons.checked-icon:focus {
      background-image: url(../images/svg/select-all-hover.svg);
    }

  #pxwebcontent .pxweb-buttons.cancel-icon {
    background-image: url(../images/svg/x-square.svg);
    background-repeat: no-repeat;
  }

    #pxwebcontent .pxweb-buttons.cancel-icon:hover, #pxwebcontent .pxweb-buttons.cancel-icon:focus {
      background-image: url(../images/svg/x-square-hover.svg);
    }

  #pxwebcontent .pxweb-buttons.arrow-down-icon {
    background-image: url(../images/svg/arrow-down.svg);
    background-repeat: no-repeat;
  }

    #pxwebcontent .pxweb-buttons.arrow-down-icon:hover, #pxwebcontent .pxweb-buttons.arrow-down-icon:focus {
      background-image: url(../images/svg/arrow-down-hover.svg);
    }

  #pxwebcontent .pxweb-buttons.arrow-up-icon {
    background-image: url(../images/svg/arrow-up.svg);
    background-repeat: no-repeat;
  }

    #pxwebcontent .pxweb-buttons.arrow-up-icon:hover, #pxwebcontent .pxweb-buttons.arrow-up-icon:focus {
      background-image: url(../images/svg/arrow-up-hover.svg);
    }

#pxwebcontent .some-vertical-space1 {
  margin-top: 10px;
}

#pxwebcontent .some-vertical-space2 {
  margin-top: 20px;
}

#pxwebcontent .flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
