@media only screen and (max-width: 700px) {

  /*#region Navigation bar*/
  .dottedlineLeft {
    border-top: 1px dotted #a6a6a6;
    position: relative;
    left: 46px;
    top: 16px;
    *top: 40px;
    width: 67px;
  }

  .dottedlineRight {
    border-top: 1px dotted #a6a6a6;
    position: relative;
    left: 146px;
    top: 16px;
    *top: 28px;
    width: 67px;
  }

  .col1, .col2, .col3 {
    float: left;
    width: 60px;
    margin-right: 40px;
    text-align: center;
  }

  .number {
    color: white;
    font-size: 1.6em;
    font-weight: bold;
    height: 45px;
    line-height: 15px;
    margin: 0px 14px;
    outline: white none 0px;
    padding-top: 8px;
    text-align: center;
  }
  /*#endregion*/

  /*#region  PxWeb.css*/
  #wrap {
    max-width: 700px;
    min-width: 320px;
  }

  .imgSiteLogo {
    margin-left: 7px;
  }

  #header span.siteLogoText {
    font-size: 36px;
  }

  .cboSelectLanguages {
    font-size: 1.4em;
    margin-right: 7px;
  }

  .menuTopLeftContent {
    float: none;
  }

  .menuTopRightContent {
    float: none;
    vertical-align: top;
    margin-bottom: 10px;
  }

  .searchTopLeftContent {
    float: none;
  }

  .px_setting_textbox_title {
    width: 100%;
  }

  .px_setting_label_normal {
    display: block;
  }

  .px_setting_label_width {
    display: block;
    width: auto;
    margin-left: 0px;
  }

  .px_setting_textbox_normal {
    display: inline-block;
  }

  /*#endregion*/

  /*#region  Search*/
  .search_textbox {
    width: 78%;
  }
  /*#endregion*/
  /*#region  Table*/
  .table-class {
    border-collapse: separate;
  }

  #pcaxis_tablediv {
    width: 100%;
    overflow: auto;
  }
  /*#endregion*/

  /*#region Chart*/
  .chart-image {
    width: auto;
    max-width: 100%;
    min-width: 0;
  }
  /*#endregion*/

  /*#region  Commandbar*/
  .commandbar_dropdown div {
    width: 100%;
  }

  .commandbar_dropdown {
    height: auto;
    width: 100%;
  }

    .commandbar_dropdown select {
      font-size: 1.4em;
      width: 100%;
    }

  .commandbar_saveas_dropdownlist {
    font-size: 1.4em;
  }
  /*#endregion*/

  /*#region  VariableSeclector*/
  .variableselector_valuesselect_search_imagebutton {
    width: 40px;
    height: 35.8px;
    background-size: contain;
  }

  .variableselector_valuesselect_select_all_imagebutton {
    width: 40px;
    height: 35.8px;
    background-size: contain;
  }

  .variableselector_valuesselect_deselect_all_imagebutton {
    width: 40px;
    height: 35.8px;
    background-size: contain;
  }

  .variableselector_valuesselect_sort_asc_imagebutton {
    width: 40px;
    height: 35.8px;
    background-size: contain;
  }

  .variableselector_valuesselect_sort_desc_imagebutton {
    width: 40px;
    height: 35.8px;
    background-size: contain;
  }

  .variableselector_valuesselect_metadataInformation_imagebutton {
    width: 40px;
    height: 35.8px;
    background-size: contain;
  }

  .variableselector_valuesselect_selectionFromGroup_imagebutton {
    width: 40px;
    height: 35.8px;
    background-size: contain;
  }

  .variableselector_valuesselect_search_button {
    width: 30px;
    height: 26.8px;
    background-size: contain;
  }

  .variableselector_valuesselect_box {
    width: 100%;
    margin-bottom: 12px;
  }

  .variableselector_valuesselect_variabletitle {
    font-size: 1.5em;
    display: inline-block;
  }

  .variableselector_valuesselect_aggregations {
    font-size: 1.4em;
  }

  .variableselector_valuesselect_valueslistbox {
    font-size: 1.4em;
  }

  .variableselector_valuesselect_statistics {
    font-size: 1.2em;
  }

  .variableselector_valuesselect_search_textbox {
    margin: 3px;
  }

  .variableselector_valuesselect_searchvalues span {
    font-size: 1.2em;
  }

  .variableselector_outputformats_dropdown {
    font-size: 1.4em;
    width: 100%;
  }

  .variableselector_continue_button {
    font-size: 1.6em;
    width: 100%;
    margin-top: 20px;
  }


  div.ui-resizable-handle.ui-resizable-e {
    background-image: none;
  }
  /*#endregion*/

  /*#region  save query*/
  .savequery_url {
    width: 100%;
  }
  /*#endregion*/
  /*#region  Tablequery*/
  .tablequery_informationpanel {
    display: block;
  }

  .tablequery_url {
    width: 100%;
  }

  .tablequery_query {
    width: 100%;
  }
  /*#endregion*/
}
