#pxwebcontent .searchvalues-container {
  display: flex;
  flex-direction: column;
  background-color: #274247;
  color: #ffffff;
  padding: 12px;
  border: solid 1px #000000;
}

#pxwebcontent .searchvalues-usage-tips {
  padding: 12px;
  background-color: #eeeeee;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 95%;
  color: black;
}

#pxwebcontent .fetch-all-button {
  margin-top: 0px;
  align-self: flex-start;
}

#pxwebcontent hr.green-rule {
  width: 100%;
  border-color: #b6e8b8;
}

#pxwebcontent .searchvalues-listbox-container {
  margin-top: 10px;
}

#pxwebcontent .searchvalues-listbox {
  width: 100%;
  height: 200px;
  margin-bottom: 5px;
  margin-top: 5px;
  overflow: auto;
  font-size: 100%;
}

  #pxwebcontent .searchvalues-listbox:focus {
    outline: #9272fc solid 2px;
    outline-offset: 2px;
  }

  #pxwebcontent .searchvalues-listbox:disabled {
    background-color: #ffffff;
    opacity: 1;
  }

#pxwebcontent .searchvalues_options_container {
  float: left;
  width: 300px;
}

#pxwebcontent .searchvalues-cancel {
  align-self: flex-end;
}

#pxwebcontent .done-container {
  justify-content: center;
}

#pxwebcontent .margin-left-20 {
  margin-left: 20px;
}
