/* Used for Search webcontrol */

#pxwebcontent .search_panel {
  border: solid 3px #2870ae;
  background-color: #eee;
  padding: 3px 10px 10px 10px;
}

#pxwebcontent .search_label {
  font-family: Verdana;
  font-size: 0.9em;
  display: block;
}

#pxwebcontent .search_textbox {
  width: 200px;
}

#pxwebcontent .search_error {
  font-family: Verdana;
  font-size: 0.9em;
  color: #B0272E;
  display: block;
  padding-top: 3px;
}
