#pxwebcontent .selectfromgroup-container {
  display: flex;
  flex-direction: column;
  background-color: #274247;
  color: #fff;
  padding: 12px;
  border: solid 1px #000000;
}

#pxwebcontent .selectfromgroup-variable-container {
  display: flex;
  flex-direction: row;
}

#pxwebcontent .selectfromgroup-variable {
  padding-left: 8px;
}

#pxwebcontent .selectfromgroup-selectgrouping {
  margin-bottom: 1em;
  width: 100%;
}

#pxwebcontent select.selectfromgroup-selectgrouping {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%2300824D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='dd-icon'><polyline points='6 9 12 15 18 9'></polyline></svg>");
  padding: .6em 1.4em .5em 2.2em;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: left .4em top 50%, 0 0;
  background-size: 24px auto, 100%;
  font-size: 16px;
}

  #pxwebcontent select.selectfromgroup-selectgrouping:hover {
    border: 1px solid #B6E8B8;
    outline: #B6E8B8 solid 1px;
  }

  #pxwebcontent select.selectfromgroup-selectgrouping:focus {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%2300824D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='dd-icon'><polyline points='18 15 12 9 6 15'></polyline></svg>");
    outline: #9272fc solid 2px;
    outline-offset: 2px;
  }

#pxwebcontent .selectfromgroup-groupslist {
  width: 100%;
  height: 10em;
  display: block;
  font-size: 14px;
}

#pxwebcontent .selectfromgroup-radiobuttons {
  padding: 12px 0 12px 0;
}

#pxwebcontent .selectfromgroup-groupsbutton {
  background-image: url(../images/svg/select-all.svg);
  background-repeat: no-repeat;
  font-size: 14px;
  align-self: flex-start;
}

  #pxwebcontent .selectfromgroup-groupsbutton:hover, #pxwebcontent .selectfromgroup-groupsbutton:focus {
    background-image: url(../images/svg/select-all-hover.svg);
  }

#pxwebcontent .selectfromgroup-valuespanel {
  padding: 12px 0 12px 0;
}

#pxwebcontent .selectfromgroup-valueslist {
  width: 100%;
  height: 10em;
  display: block;
  font-size: 14px;
}

#pxwebcontent .selectfromgroup-cancel {
  background-image: url(../images/svg/x-square.svg);
  background-repeat: no-repeat;
  margin-right: 20px;
  margin-top: 10px;
  font-size: 14px;
  align-self: flex-end;
}

  #pxwebcontent .selectfromgroup-cancel:hover, #pxwebcontent .selectfromgroup-cancel:focus {
    background-image: url(../images/svg/x-square-hover.svg);
  }

#pxwebcontent .selectfromgroup-button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  justify-content: center;
}
