#pxwebcontent #pcaxis_tablediv .table-title {
  font-size: 150%;
  line-height: 200%;
  text-transform: none;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
  background-color: #ffffff;
  border-style: none;
  padding-bottom: 1em;
  padding-top: 15px;
}

#pxwebcontent .table-class {
  border-right: none;
  border-top: none;
  border-left: none;
  border-bottom: #a9a9a9 1px solid;
  border-collapse: separate;
  font-size: 14px;
  clear: both;
}

  #pxwebcontent .table-class td {
    margin: 0px;
    text-align: right;
    border-right: #a9a9a9 1px solid;
    border-top: #a9a9a9 1px solid;
    border-left: #a9a9a9 1px solid;
    border-bottom: #a9a9a9 1px solid;
    background-color: #ffffff;
    color: #000000;
    font-size: 1em;
  }

#pxwebcontent .table-sort-header {
  background-color: #EEEEEE;
  font-weight: bold;
  cursor: pointer;
}

#pxwebcontent .table-class th, #pxwebcontent .table-class td.left {
  margin: 0px;
  text-align: left;
  border-right: #a9a9a9 1px solid;
  border-top: #a9a9a9 1px solid;
  border-left: #a9a9a9 1px solid;
  border-bottom: #a9a9a9 1px solid;
  background-color: #e1e1e1;
}

#pxwebcontent td.right {
  text-align: right;
}

#pxwebcontent .table-class input {
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  text-decoration: underline;
  font-weight: bold;
  display: block;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: 0;
  overflow: visible;
  width: 100%;
}

#pxwebcontent .table-class tfoot td {
  margin: 0px;
  text-align: left;
}

#pxwebcontent th.table-header-first {
  font-weight: bold;
  background-color: #e1e1e1;
  padding: 5px 5px 5px 5px;
  text-align: center;
}

#pxwebcontent .table-class td.table-header-first {
  font-weight: bold;
  background-color: #e1e1e1;
}

#pxwebcontent .table-header-middle {
  font-weight: bold;
  padding: 5px 5px 5px 5px;
}

#pxwebcontent .table-header-last {
  font-weight: bold;
  padding: 5px 5px 5px 5px;
  text-align: right;
}

#pxwebcontent .table-data-filled {
  border-right: black 1px;
  border-top: black 1px;
  font-size: 0.75em;
  text-transform: capitalize;
  border-left: black 1px;
  color: #696969;
  border-bottom: black 1px;
  white-space: nowrap;
  padding: 5px 5px 5px 5px;
}

#pxwebcontent .attribute-cell {
  background-image: URL("../images/attribute.gif");
  background-repeat: no-repeat;
  background-position: top right;
  cursor: pointer;
}

  #pxwebcontent .attribute-cell a {
    color: Black;
  }

#pxwebcontent .layout2-table-stub {
  font-weight: bold;
}

#pxwebcontent .layout2-table-stub1 {
  padding-left: 3px;
  padding-right: 3px;
  font-weight: bold;
}

#pxwebcontent .layout2-table-stub2 {
  padding-left: 5px;
  padding-right: 3px;
}

#pxwebcontent .layout2-table-stub3 {
  padding-left: 10px;
  padding-right: 3px;
}

#pxwebcontent .layout2-table-stub4 {
  padding-left: 15px;
  padding-right: 3px;
}

#pxwebcontent .layout2-table-stub5 {
  padding-left: 15px;
  padding-right: 3px;
}

#pxwebcontent .layout2-table-stub6 {
  padding-left: 15px;
  padding-right: 3px;
}

#pxwebcontent .layout2-table-stub7 {
  padding-left: 15px;
  padding-right: 3px;
}

#pxwebcontent .layout2-table-stub8 {
  padding-left: 15px;
  padding-right: 3px;
}

#pxwebcontent .layout2-table-stub1h1 {
  padding-left: 0px;
}

#pxwebcontent .layout2-table-stub1h2 {
  padding-left: 10px;
}

#pxwebcontent .layout2-table-stub1h3 {
  padding-left: 15px;
}

#pxwebcontent .layout2-table-stub1h4 {
  padding-left: 20px;
}

#pxwebcontent .layout2-table-stub2h1 {
  padding-left: 5px;
}

#pxwebcontent .layout2-table-stub2h2 {
  padding-left: 15px;
}

#pxwebcontent .layout2-table-stub2h3 {
  padding-left: 25px;
}

#pxwebcontent .layout2-table-stub2h4 {
  padding-left: 35px;
}

#pxwebcontent .layout2-table-stub3h1 {
  padding-left: 10px;
}

#pxwebcontent .layout2-table-stub3h2 {
  padding-left: 20px;
}

#pxwebcontent .layout2-table-stub3h3 {
  padding-left: 30px;
}

#pxwebcontent .layout2-table-stub3h4 {
  padding-left: 40px;
}

#pxwebcontent .layout2-table-stub4h1 {
  padding-left: 10px;
}

#pxwebcontent .layout2-table-stub4h2 {
  padding-left: 20px;
}

#pxwebcontent .layout2-table-stub4h3 {
  padding-left: 30px;
}

#pxwebcontent .layout2-table-stub4h4 {
  padding-left: 40px;
}

#pxwebcontent .layout2-table-stub5h1 {
  padding-left: 10px;
}

#pxwebcontent .layout2-table-stub5h2 {
  padding-left: 20px;
}

#pxwebcontent .layout2-table-stub5h3 {
  padding-left: 30px;
}

#pxwebcontent .layout2-table-stub5h4 {
  padding-left: 40px;
}

#pxwebcontent .layout2-table-stub6h1 {
  padding-left: 10px;
}

#pxwebcontent .layout2-table-stub6h2 {
  padding-left: 20px;
}

#pxwebcontent .layout2-table-stub6h3 {
  padding-left: 30px;
}

#pxwebcontent .layout2-table-stub6h4 {
  padding-left: 40px;
}

#pxwebcontent .layout2-table-stub7h1 {
  padding-left: 10px;
}

#pxwebcontent .layout2-table-stub7h2 {
  padding-left: 20px;
}

#pxwebcontent .layout2-table-stub7h3 {
  padding-left: 30px;
}

#pxwebcontent .layout2-table-stub7h4 {
  padding-left: 40px;
}

#pxwebcontent .layout2-table-stub8h1 {
  padding-left: 10px;
}

#pxwebcontent .layout2-table-stub8h2 {
  padding-left: 20px;
}

#pxwebcontent .layout2-table-stub8h3 {
  padding-left: 30px;
}

#pxwebcontent .layout2-table-stub8h4 {
  padding-left: 40px;
}

#pxwebcontent .layout1-table-stub1 {
  padding: 5px 5px 5px 5px;
}

#pxwebcontent .layout1-table-stub2 {
  padding: 5px 5px 5px 10px;
}

#pxwebcontent .layout1-table-stub3 {
  padding: 5px 5px 5px 15px;
}

#pxwebcontent .layout1-table-stub4 {
  padding: 5px 5px 5px 20px;
}

#pxwebcontent .layout1-table-stub5 {
  padding: 5px 5px 5px 20px;
}

#pxwebcontent .layout1-table-stub6 {
  padding: 5px 5px 5px 20px;
}

#pxwebcontent .layout1-table-stub7 {
  padding: 5px 5px 5px 20px;
}

#pxwebcontent .layout1-table-stub8 {
  padding: 5px 5px 5px 20px;
}

#pxwebcontent .layout1-table-stub1h1 {
  padding: 5px 5px 5px 5px;
}

#pxwebcontent .layout1-table-stub1h2 {
  padding: 5px 5px 5px 15px;
}

#pxwebcontent .layout1-table-stub1h3 {
  padding: 5px 5px 5px 20px;
}

#pxwebcontent .layout1-table-stub1h4 {
  padding: 5px 5px 5px 25px;
}

#pxwebcontent .layout1-table-stub2h1 {
  padding: 5px 5px 5px 10px;
}

#pxwebcontent .layout1-table-stub2h2 {
  padding: 5px 5px 5px 20px;
}

#pxwebcontent .layout1-table-stub2h3 {
  padding: 5px 5px 5px 30px;
}

#pxwebcontent .layout1-table-stub2h4 {
  padding: 5px 5px 5px 40px;
}

#pxwebcontent .layout1-table-stub3h1 {
  padding: 5px 5px 5px 15px;
}

#pxwebcontent .layout1-table-stub3h2 {
  padding: 5px 5px 5px 25px;
}

#pxwebcontent .layout1-table-stub3h3 {
  padding: 5px 5px 5px 35px;
}

#pxwebcontent .layout1-table-stub3h4 {
  padding: 5px 5px 5px 45px;
}

#pxwebcontent .layout1-table-stub4h1 {
  padding: 5px 5px 5px 15px;
}

#pxwebcontent .layout1-table-stub4h2 {
  padding: 5px 5px 5px 25px;
}

#pxwebcontent .layout1-table-stub4h3 {
  padding: 5px 5px 5px 35px;
}

#pxwebcontent .layout1-table-stub4h4 {
  padding: 5px 5px 5px 45px;
}

#pxwebcontent .layout1-table-stub5h1 {
  padding: 5px 5px 5px 15px;
}

#pxwebcontent .layout1-table-stub5h2 {
  padding: 5px 5px 5px 25px;
}

#pxwebcontent .layout1-table-stub5h3 {
  padding: 5px 5px 5px 35px;
}

#pxwebcontent .layout1-table-stub5h4 {
  padding: 5px 5px 5px 45px;
}

#pxwebcontent .layout1-table-stub6h1 {
  padding: 5px 5px 5px 15px;
}

#pxwebcontent .layout1-table-stub6h2 {
  padding: 5px 5px 5px 25px;
}

#pxwebcontent .layout1-table-stub6h3 {
  padding: 5px 5px 5px 35px;
}

#pxwebcontent .layout1-table-stub6h4 {
  padding: 5px 5px 5px 45px;
}

#pxwebcontent .layout1-table-stub7h1 {
  padding: 5px 5px 5px 15px;
}

#pxwebcontent .layout1-table-stub7h2 {
  padding: 5px 5px 5px 25px;
}

#pxwebcontent .layout1-table-stub7h3 {
  padding: 5px 5px 5px 35px;
}

#pxwebcontent .layout1-table-stub7h4 {
  padding: 5px 5px 5px 45px;
}

#pxwebcontent .layout1-table-stub8h1 {
  padding: 5px 5px 5px 15px;
}

#pxwebcontent .layout1-table-stub8h2 {
  padding: 5px 5px 5px 25px;
}

#pxwebcontent .layout1-table-stub8h3 {
  padding: 5px 5px 5px 35px;
}

#pxwebcontent .layout1-table-stub8h4 {
  padding: 5px 5px 5px 45px;
}

#pxwebcontent #pcaxis_tablediv {
  width: 100%;
  overflow: auto;
}

#pxwebcontent .spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  /* half width of the spinner gif */
  margin-top: -50px;
  /* half height of the spinner gif */
  text-align: center;
  z-index: 1234;
  overflow: auto;
  width: 100px;
  /* width of the spinner gif */
  height: 102px;
  /*hight of the spinner gif +2px to fix IE8 issue */
}

/* The below selectors are for a separate html tag from TableCodeBehind.vb in
  Private Sub DisplayCellInformationDialog(ByVal cellInfo As CellInformation) */

.table_cellinformation_cell {
  font-weight: bold !important;
  font-size: 14px !important;
  padding-bottom: 4px !important;
}

.table_cellinformation_attributes {
  font-weight: bold !important;
  font-size: 12px !important;
}

.table_cellinformation_notes {
  font-weight: bold !important;
  font-size: 14px !important;
}

.table_cellinformation_text {
  color: #222222 !important;
  font-size: 13px !important;
  line-height: 1.5 !important;
}

.table_defaultattributes_label {
}
