/* Used for TableQuery webcontrol */

#pxwebcontent .tablequery_showinformationlink {
  text-decoration: underline;
  color: #003892 !important;
}

#pxwebcontent .tablequery_hideinformationlink {
  text-decoration: underline;
  padding-bottom: 10px;
  display: block;
  color: black !important
}

#pxwebcontent .tablequery_informationpanel {
  display: inline-block;
  margin-top: 30px;
  padding: 10px;
  border-style: dashed;
  border-width: 2px;
  border-color: #25a23c;
}

#pxwebcontent .tablequery_informationtext {
  display: block;
}

#pxwebcontent .tablequery_urlcaption {
  display: block;
  font-weight: bold;
  margin-top: 5px;
}

#pxwebcontent .tablequery_url {
  display: block;
  width: 700px;
  font-family: 'Courier New';
}

#pxwebcontent .tablequery_querycaption {
  display: block;
  font-weight: bold;
  margin-top: 5px;
}

#pxwebcontent .tablequery_query {
  display: block;
  width: 700px;
  margin-bottom: 10px;
}

.tablequery_moreinformation {
  color: black !important;
  float: right;
}

#pxwebcontent .tablequery_savequery {
  float: left;
  background: #25a23c;
  color: white;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
}
