
.textsearch select {
  margin: 10px 0;
  height: 100px;
  width: 164px;
  clear: both;
  display: block;
}




.textsearch input[type=text] {
  width: 160px;
}

.textsearch ol {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 30px;
}


  .textsearch ol li {
    margin-bottom: 10px;
  }

.textsearch a {
  color: black;
  font-size: 1em;
}

.textsearch-attributes {
  color: Gray;
  font-size: 0.8em;
  font-style: italic;
}
