.foo {
}
/* W3C CSS validator likes CSS files to start with a class rather than a comment. Soooooo.... */

/* This style sheet is intended to contain RARELY CHANGED rules used when the TreeView control adapter is enabled. */
/* Empty rules are provided merely as a convenience for your future use or experimentation. */

div.AspNet-TreeView {
  margin: 0;
  padding: 0;
}

  div.AspNet-TreeView ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

.AspNet-TreeView-Show {
}

.AspNet-TreeView-Hide {
  display: none;
}

div.AspNet-TreeView ul li {
  white-space: nowrap;
  padding: 3px 0 2px 0;
  font-size: small;
  font-family: Tahoma;
}

div.AspNet-TreeView ul ul {
  margin: 2px 0 2px 10px;
}

div.AspNet-TreeView ul li img {
  border: none;
  vertical-align: middle;
  margin: 0 2px 0 0;
}

div.AspNet-TreeView li a {
  text-decoration: none;
}

div.AspNet-TreeView li.AspNet-TreeView-Root {
}

div.AspNet-TreeView li.AspNet-TreeView-Parent {
  margin-left: 10px;
}

div.AspNet-TreeView li.AspNet-TreeView-Leaf {
  margin-left: 10px;
}

/* Consider changing the cursor value (below) to something like */

/*     cursor: n-resize;                                        */

div.AspNet-TreeView .AspNet-TreeView-ClickableNonlink {
  cursor: pointer;
}

/* Consider changing the cursor value (below) to something like */

/*     cursor: n-resize;                                        */

div.AspNet-TreeView .AspNet-TreeView-Collapse {
  background-image: url(../images/collapse.gif);
  background-repeat: no-repeat;
  background-position: center left;
  width: 15px;
  margin-right: 3px;
  float: left;
  cursor: pointer;
}

/* Consider changing the cursor value (below) to something like */

/*     cursor: n-resize;                                        */

div.AspNet-TreeView .AspNet-TreeView-Expand {
  background: url(../images/expand.gif);
  background-repeat: no-repeat;
  background-position: center left;
  width: 15px;
  margin-right: 3px;
  float: left;
  cursor: pointer;
}

div.AspNet-TreeView a,
div.AspNet-TreeView a:visited,
div.AspNet-TreeView a:active,
div.AspNet-TreeView a:hover,
div.AspNet-TreeView a:link {
  color: #000000;
}

div.AspNet-TreeView .AspNet-TreeView-Selected a {
  font-weight: bold !important;
  color: #8A2BE2 !important;
}

div.AspNet-TreeView .AspNet-TreeView-Selected ul a {
  font-weight: normal !important;
  color: #000000 !important;
}

div.AspNet-TreeView .AspNet-TreeView-SelectExpand {
  cursor: pointer;
  color: #000000;
}
