
/*  ---------  VariableSelector ---------------------------- */

.variableselector_variable_box_container
{
    width:auto;
    margin-bottom:10px;
    margin-top: 20px;
}
.variableselector_clearboth
{
	clear: both;
}
.variableselector_selectionerror_label
{
    color:Red;
    margin-left: 10px;
}

.variableselector_selectionerror_label_text
{
    display : none;
}

.variableselector_continue_button
{
    /*margin-left:10px;*/
    display:inline;
    /*display:block;*/
    margin-bottom: 10px;
    /* Use if button displayed on separate row */
}


/*  ---------  VariableSelectorSelectionInformation ---------- */

.variableselector_selection_limits_label
{
    margin: 10px 0px 10px 0px;
}
.variableselector_selected_rows_label
{
    margin-right: 5px;
}
.variableselector_selected_rows_label_selected
{
    margin-right: 10px;
    font-weight: bold;
}
.variableselector_selected_columns_label
{
    margin-right: 5px;
}
.variableselector_selected_columns_label_selected
{
    margin-right: 10px;
    font-weight: bold;
}

.variableselector_selected_cells_label
{
    margin-right: 5px;
}
.variableselector_selected_cells_label_selected
{
}
.variableselector_selected_cells_number_label
{
    margin-right: 5px;
    font-weight: bold;
}

.variableselector_selection_limits_number
{
}


/*  ---------  VariableSelectorOutputFormats ----------------- */
.variableselector_outputformats
{
    display:inline;
}
.variableselector_outputformats_dropdown
{
    display:inline;
    font-size: 100%;
}


/*  ---------  VariableSelectorMarkingTips ------------------- */
.variableselector_markingtips_text
{
}
.variableselector_markingtips_link
{   
}


/*  ---------  VariableSelectorEliminationInformation -------- */

.variableselector_eliminationinformation_text
{
}
.variableselector_eliminationinformation_image
{
}


/*  ---------  VariableSelectorValueSelect ------------------- */


.variableselector_valuesselect_action
{
}

.variableselector_valuesselect_container
{
    width:auto;
    margin-bottom:10px;
}
.variableselector_valuesselect_box
{
    background-color: #ffffff;
    float:left;
    border: solid 1px #000000;
    width: auto;
    max-width: 800px;    
    height: 100%;
    margin: 0 2px 2px 0;    
}


.ie6 .variableselector_valuesselect_box
{
    width: 30%; 
}

.ie7 .variableselector_valuesselect_box
{
    width: 30%; 
}

.variableselector_valuesselect_variabletitle_panel
{	
    padding: 3px;    
    overflow: hidden;
    min-height: 45px;
}
.variableselector_valuesselect_variabletitle_container
{
    display:block;
}
.variableselector_valuesselect_variabletitle
{
    font-weight:bold;    
}
.variableselector_valuesselect_elimination
{
}

.variableselector_valuesselect_aggregations
{
    margin-top: 5px;
    width: 100%;
}

.variableselector_valuesselect_variabletitlesecond
{
    font-weight: normal;
    font-size: smaller; 
}

.variableselector_valuesselect_eventbutton_panel
{
	width: auto;
    padding: 0 3px 3px 3px;
    overflow: hidden;
}
.variableselector_valuesselect_hiddeneventbutton_panel
{
    height: 22px;
}
.variableselector_valuesselect_statistics_panel
{
    border-top: solid 1px #000000;
    border-bottom: solid 1px #000000;	
	padding: 3px 3px 0 3px;
	white-space: nowrap;
	overflow: hidden;
}
.variableselector_valuesselect_valueslistbox
{
	width:100%;   		
	min-width: 140px;
    min-height: 90px;
	font-size: 100%;
}
.variableselector_valuesselect_valuesselect_panel
{
    padding: 3px;
    overflow: hidden;
}
.variableselector_valuesselect_search_panel
{
	padding: 3px 3px 7px 3px;
}
.variableselector_valuesselect_elimmark
{
    color:Red;
    font-weight:bold;
}
.variableselector_valuesselect_statistics
{
    width:3em;
    border:none;
    display:inline;
}
.variableselector_valuesselect_statistics_NumberSelected_TextBox
{
    width:4em; 
    border:0;   
}
.variableselector_valuesselect_showall_button
{
    background: url(../images/Searchtext.gif) 0 0 no-repeat;
	outline: none;
	vertical-align: middle;
    width:19px;
    height:17px;
}
.variableselector_valuesselect_search_button
{
    background: #FFFFFF url(../images/Searchtext.gif) no-repeat;
	outline: none;
	vertical-align: middle;
    width:19px;
    height:17px;
    padding-bottom:1px;
}
.variableselector_valuesselect_searchvalues
{
    padding: 0 0 3px 0;
}

.variableselector_valuesselect_search_textbox
{
    width:5em;
}
.variableselector_valuesselect_search_textstart_checkbox label
{
    padding-left : 3px;
}

.variableselector_valuesselect_search_textstart_checkbox input
{   
}


.variableselector_valuesselect_search_imagebutton
{
   background: #FFFFFF url(../images/search.gif) no-repeat;
	outline: none;
	vertical-align: middle;
   width:19px;
   height:17px;
}
.variableselector_valuesselect_deselect_all_imagebutton
{
    background: #FFFFFF url(../images/UnSelect.gif) no-repeat;
	outline: none;
	vertical-align: middle;
    width:19px;
    height:17px;
}
.variableselector_valuesselect_select_all_imagebutton
{
    width:19px;
    height:17px;
    background: #FFFFFF url(../images/SelectAll.gif) no-repeat;
    vertical-align: middle;
	outline: none;
}
.variableselector_valuesselect_sort_asc_imagebutton
{
    width:19px;
    height:17px;
    background: #FFFFFF url(../images/MoveUp.gif) no-repeat;
    vertical-align: middle;
	outline: none;
}
.variableselector_valuesselect_sort_desc_imagebutton
{
    width:19px;
    height:17px;
    background: #FFFFFF url(../images/MoveDown.gif) no-repeat;
    vertical-align: middle;
	outline: none;
}
.variableselector_valuesselect_selectionFromGroup_imagebutton  
{
    width:19px;
    height:17px;
    background: #FFFFFF url(../images/small_button_select_by_group.gif) no-repeat;
    vertical-align: middle;
	outline: none;
}
.variableselector_valuesselect_metadataInformation_imagebutton
{
    width:19px;
    height:17px;
    background: #FFFFFF url(../images/info.gif) no-repeat;
    vertical-align: middle;
	outline: none;
}
.variableselector_valuesselect_select_hierarcical_imagebutton
{  
    width:19px;
    height:17px;
    background: #FFFFFF url(../images/Hierarchy.gif) no-repeat;
    vertical-align: middle;
	outline: none;
}
.variableselector_valuesselect_manyvalues_panel
{
    padding: 5px 5px 5px 5px;
    width : auto;
    max-width : 150px;
    white-space:normal;
}

.variableselector_radioButtonList td
{
    padding : 0 0 3px 0;
    vertical-align : middle;
}

.variableselector_radioButtonList label
{
    padding : 0 0 0 5px;
    vertical-align : text-bottom;
}

.variableselector_showAllButton
{
    margin-top: 10px;
}

.variableselector_searchresultsselectall
{
    margin-top: 10px;
}

.variableselector_searchinformationlink
{
    background: url(../images/Arrow_Right_Gray.gif) 0 0 no-repeat;
    padding-left:10px; 
    line-height: 80px; 
}