#pxwebcontent {
    /*  ---------  VariableSelector ---------------------------- */
    /*  ---------  VariableSelectorSelectionInformation ---------- */
    /*  ---------  VariableSelectorOutputFormats ----------------- */
    /*  ---------  VariableSelectorMarkingTips ------------------- */
    /*  ---------  VariableSelectorEliminationInformation -------- */
    /*  ---------  VariableSelectorValueSelect ------------------- */
}

    #pxwebcontent .variableselector_variable_box_container {
        width: auto;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    #pxwebcontent .variableselector_variable_box_container_list {
        display: flex;
        flex-direction: column
    }

@media screen and (min-width: 400px) {
    #pxwebcontent .variableselector_variable_box_container_compact {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap
    }
}

#pxwebcontent .variableselector_variable_box_container_compact {
    /* for javascript in selection.aspx. Intentionally left empty*/
}

#pxwebcontent .variableselector_clearboth {
    clear: both;
}

#pxwebcontent .variableselector_selectionerror_label {
    color: Red;
    margin-left: 10px;
}

#pxwebcontent .variableselector_selectionerror_label_text {
    display: none;
}

#pxwebcontent .variableselector_info_selected_cells {
    display: flex;
    justify-content: center;
    margin: 1em
}

#pxwebcontent .variableselector_error_summary {
    display: flex;
    flex-direction: column;
    background: url('../images/error_red.png') no-repeat;
    color: black;
    text-align: left;
    padding-left: 60px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    background-position-x: 10px;
    background-position-y: 10px;
    border: 2px solid #ed5935 !important;
    border-left: 4px solid #ed5935 !important;
    width: auto;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 20px;
}

    #pxwebcontent .variableselector_error_summary ul {
        border-style: none;
    }

    #pxwebcontent .variableselector_error_summary li {
        font-size: 16px;
        list-style-type: disc;
        list-style-position: inside;
        color: black
    }

#pxwebcontent .variableselector_error {
    display: flex;
}

#pxwebcontent .variableselector_show_table_container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

#pxwebcontent .variableselector_selected_cells {
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}

#pxwebcontent .variableselector_selected_cells_one {
    justify-content: center;
    display: flex;
}

#pxwebcontent .variableselector_selected_cells_two {
    justify-content: center;
    display: flex;
}

#pxwebcontent .variableselector_selected_rows {
    justify-content: center
}

#pxwebcontent .variableselector_selected_rows_one {
    justify-content: center;
    display: flex;
}

#pxwebcontent .variableselector_selected_rows_two {
    justify-content: center;
    display: flex;
}

#pxwebcontent .variableselector_continue_button {
    background: #00824d;
    justify-content: center;
    font-size: xx-large;
    height: 86px;
    width: 294px;
    font-size: 28px;
    font-stretch: condensed;
    font-weight: bold;
}

#pxwebcontent .variableselector_selection_limits_label {
    margin: 10px 0px 10px 0px;
}

#pxwebcontent .variableselector_selected_rows_label {
    margin-right: 5px;
}

#pxwebcontent .variableselector_selected_rows_label_selected {
    font-weight: bold;
}

#pxwebcontent .variableselector_selected_columns_label {
    margin-right: 5px;
}

#pxwebcontent .variableselector_selected_columns_label_selected {
    font-weight: bold;
}

#pxwebcontent .variableselector_selected_cells_label {
    margin-right: 5px;
}

#pxwebcontent .variableselector_selected_cells_number_label {
    margin-right: 5px;
    font-weight: bold;
}

#pxwebcontent .variableselector_outputformats {
    display: inline;
}

#pxwebcontent .variableselector_outputformats_dropdown {
    display: inline;
    /*font-size: 100%;*/
    font-family: 'Open Sans', sans-serif;
    color: #333333;
}

#pxwebcontent .variableselector_valuesselect_container {
    /*width: auto;*/
    width: 100%;
    margin-bottom: 10px;
}

#pxwebcontent .variableselector_valuesselect_box {
    background-color: #274247;
    float: left;
    border: solid 1px #000000;
    margin-bottom: 20px;
    padding: 12px;
    box-sizing: border-box;
}

#pxwebcontent .variableselector_valuesselect_box_compact {
    float: none;
    margin-right: 20px;
}

@media screen and (min-width: 400px) {
    #pxwebcontent .variableselector_valuesselect_box_compact {
        margin-right: 20px;
        width: 350px;
        min-width: 350px;
    }
}

#pxwebcontent .variableselector_valuesselect_box_list {
    width: 100%;
}

#pxwebcontent .variableselector_valuesselect_box_error {
    border: solid 2px red;
}

#pxwebcontent .ie6 .variableselector_valuesselect_box {
    width: 30%;
}

#pxwebcontent .ie7 .variableselector_valuesselect_box {
    width: 30%;
}

#pxwebcontent .variableselector_valuesselect_variabletitle_panel {
    padding: 3px;
    overflow: hidden;
    min-height: 45px;
}

#pxwebcontent .variableselector_valuesselect_variabletitle_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

#pxwebcontent .variableselector_valuesselect_variabletitle {
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 28px;
    color: #ffffff;
    display: inline-block;
    padding-right: 40px;
    overflow-wrap: break-word;
}

#pxwebcontent .variableselector_valuesselect_aggregations {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #162327;
    cursor: pointer;
}

#pxwebcontent select.variableselector_valuesselect_aggregations {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%2300824D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='dd-icon'><polyline points='6 9 12 15 18 9'></polyline></svg>");
    padding: .6em 1.4em .5em 2.2em;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: left .4em top 50%, 0 0;
    background-size: 24px auto, 100%;
}

    #pxwebcontent select.variableselector_valuesselect_aggregations:hover {
        border: 1px solid #B6E8B8;
        outline: #B6E8B8 solid 1px;
    }

    #pxwebcontent select.variableselector_valuesselect_aggregations:focus {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%2300824D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='dd-icon'><polyline points='18 15 12 9 6 15'></polyline></svg>");
        outline: #9272fc solid 2px;
        outline-offset: 2px;
    }

#pxwebcontent .variableselector_valuesselect_variabletitlesecond {
    font-weight: normal;
    font-size: smaller;
}

#pxwebcontent .variableselector_valuesselect_eventbutton_panel {
    display: flex;
    flex-direction: row;
    padding-bottom: 0px;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -10px;
}

#pxwebcontent .variableselector_valuesselect_hiddeneventbutton_panel {
    height: 22px;
}

#pxwebcontent .variableselector_valuesselect_statistics_panel {
    white-space: nowrap;
    overflow: hidden;
}

#pxwebcontent .variableselector_valuesselect_valueslistbox {
    width: 100%;
    min-width: 140px;
    min-height: 90px;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    overflow: auto;
    color: #333333;
    text-indent: 2px;
}

    #pxwebcontent .variableselector_valuesselect_valueslistbox:focus {
        outline: #9272fc solid 2px;
        /*Can not have overflow hidden*/
        outline-offset: 2px;
    }

#pxwebcontent .variableselector_valuesselect_valuesselect_panel {
    /*If you comment this in, then the outline-offset-line above must be removed . */
    /*overflow: hidden; */
}

#pxwebcontent .variableselector_valuesselect_search_panel {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    flex-wrap: wrap;
    flex-grow: 1;
}

#pxwebcontent .search-panel {
    flex: 1 0 250px;
    padding-right: 20px;
}

#pxwebcontent .variableselector_valuesselect_elimmark {
    color: Red;
    font-weight: bold;
}

#pxwebcontent .variableselector_valuesselect_statistics {
    width: 3em;
    border: none;
    display: inline;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #ffffff;
}

#pxwebcontent .variableselector_valuesselect_statistics_NumberSelected_TextBox {
    width: 4em;
    border: 0;
}

#pxwebcontent .variableselector_valuesselect_showall_button {
    background: url(../images/Searchtext.gif) 0 0 no-repeat;
    outline: none;
    vertical-align: middle;
    width: 19px;
    height: 17px;
}

#pxwebcontent .variableselector_valuesselect_searchvalues {
    padding: 0 0 3px 0;
    font-family: 'Roboto Condensed', sans-serif;
    color: #333333;
    padding-top: 1.0em;
    padding-bottom: 0.5em
}

#pxwebcontent .variableselector_valuesselect_search_textstart_checkbox {
    color: #ffffff;
    margin-top: 6px;
}

#pxwebcontent .variableselector_valuesselect_search_imagebutton {
    background: #FFFFFF url(../images/search.gif) no-repeat;
    outline: none;
    vertical-align: middle;
    width: 19px;
    height: 17px;
}

#pxwebcontent .variableselector-buttons.variableselector_valuesselect_deselect_all_button {
    background-image: url(../images/svg/deselect-all.svg);
}

    #pxwebcontent .variableselector-buttons.variableselector_valuesselect_deselect_all_button:hover, #pxwebcontent .variableselector-buttons.variableselector_valuesselect_deselect_all_button:focus {
        background-image: url(../images/svg/deselect-all-hover.svg);
    }

#pxwebcontent .variableselector-buttons.variableselector_valuesselect_select_all_button {
    background-image: url(../images/svg/select-all.svg);
}

    #pxwebcontent .variableselector-buttons.variableselector_valuesselect_select_all_button:hover, #pxwebcontent .variableselector-buttons.variableselector_valuesselect_select_all_button:focus {
        background-image: url(../images/svg/select-all-hover.svg);
    }

#pxwebcontent .switch-layout-container {
    display: none;
}

@media screen and (min-width: 768px) {
    #pxwebcontent .switch-layout-container {
        display: flex;
        justify-content: flex-end;
    }
}

#pxwebcontent .variableselector-buttons.variableselector-list-view {
    background-image: url(../images/svg/list.svg);
    margin: 10px;
}

    #pxwebcontent .variableselector-buttons.variableselector-list-view:hover, #pxwebcontent .variableselector-buttons.variableselector-list-view:focus {
        background-image: url(../images/svg/list-hover.svg);
    }

#pxwebcontent .variableselector-buttons.variableselector-compact-view {
    background-image: url(../images/svg/compact.svg);
    margin: 10px;
}

    #pxwebcontent .variableselector-buttons.variableselector-compact-view:hover, #pxwebcontent .variableselector-buttons.variableselector-compact-view:focus {
        background-image: url(../images/svg/compact-hover.svg);
    }

#pxwebcontent .variableselector_valuesselect_selectionFromGroup_imagebutton {
    width: 19px;
    height: 17px;
    background: #FFFFFF url(../images/small_button_select_by_group.gif) no-repeat;
    vertical-align: middle;
    outline: none;
}

#pxwebcontent .variableselector_valuesselect_metadataInformation_imagebutton {
    width: 19px;
    height: 17px;
    background: #FFFFFF url(../images/info.gif) no-repeat;
    vertical-align: middle;
    outline: none;
}

#pxwebcontent .variableselector_valuesselect_select_hierarcical_imagebutton {
    width: 19px;
    height: 17px;
    background: #FFFFFF url(../images/Hierarchy.gif) no-repeat;
    vertical-align: middle;
    outline: none;
}

#pxwebcontent .variableselector_valuesselect_manyvalues_panel {
    padding: 5px 5px 5px 5px;
    width: auto;
    max-width: 150px;
    white-space: normal;
    color: #FFFFFF;
}

#pxwebcontent .variableselector_radioButtonList td {
    padding: 0 0 3px 0;
    vertical-align: middle;
}

#pxwebcontent .variableselector_radioButtonList label {
    padding: 0 0 0 5px;
    vertical-align: text-bottom;
}

#pxwebcontent .variableselector_showAllButton {
    margin-top: 10px;
}

#pxwebcontent .variableselector_searchresultsselectall {
    margin-top: 10px;
}

#pxwebcontent .variableselector_searchinformationlink {
    background: url(../images/Arrow_Right_Gray.gif) 0 0 no-repeat;
    padding-left: 10px;
    line-height: 80px;
}

#pxwebcontent .variableselector_info_button {
    float: left;
    border: none;
    box-sizing: border-box;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 28px;
    color: black !important
}

#pxwebcontent .variableselector_info_box {
    float: left;
    border: 1px solid green;
    box-sizing: border-box;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-bottom: 10px
}

#pxwebcontent .variableselector-buttons {
    background-repeat: no-repeat;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 14px;
}

#pxwebcontent .icon-placement {
    background-position: 8px 8px;
    padding-left: 40px !important;
}

/*Green background color inside valuelist*/
#pxwebcontent select[multiple] option:checked {
    background: #00824d linear-gradient(0deg, #00824d 0%, #00824d 100%);
    -webkit-text-fill-color: white;
}

#pxwebcontent .box-divider-line {
    border: .5px solid #b6e8b8;
    margin-bottom: 4px;
}

#pxwebcontent .variableselector_valuesselect_search_textstart_checkbox.pxweb-checkbox input[type=checkbox] {
    border-color: #b6e8b8;
}

#pxwebcontent .pxweb-checkbox .checkbox-label:before {
    background: #274247;
    border: 1px solid #b6e8b8;
}

#pxwebcontent .pxweb-checkbox input[type=checkbox]:checked + .checkbox-label:after {
    border: solid #b6e8b8;
    border-width: 0 2px 2px 0;
    content: '';
    display: block;
    height: 10px;
    left: 6px;
    position: absolute;
    top: 2px;
    transform: rotate(45deg);
    width: 6px;
}

#pxwebcontent .pxweb-checkbox input[type=checkbox]:hover + .checkbox-label:before {
    background: #b6e8b8;
}

#pxwebcontent .pxweb-checkbox input[type=checkbox]:checked:hover + .checkbox-label:after {
    background-color: #b6e8b8;
    border: solid #274247;
    border-width: 0 2px 2px 0;
    content: '';
    display: block;
    height: 10px;
    left: 6px;
    position: absolute;
    top: 2px;
    transform: rotate(45deg);
    width: 6px;
}

#pxwebcontent .pxweb-checkbox input[type=checkbox]:checked:focus + .checkbox-label:after {
    border: solid #274247;
    border-width: 0 2px 2px 0;
    content: '';
    display: block;
    height: 10px;
    left: 6px;
    position: absolute;
    top: 2px;
    transform: rotate(45deg);
    width: 6px;
}

#pxwebcontent .pxweb-checkbox input[type=checkbox]:focus + .checkbox-label:before {
    background: #b6e8b8;
}

#pxwebcontent .pxweb-checkbox:hover .checkbox-label:before, #pxwebcontent .pxweb-checkbox:focus .checkbox-label:before {
    border: 2px solid #b6e8b8;
}

#pxwebcontent .pxweb-checkbox input[type=checkbox]:focus + .checkbox-label:before {
    outline: 2px solid #9272fc;
    outline-offset: 2px;
}

#pxwebcontent .mandatory_container {
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
}

#pxwebcontent .variableselector_valuesselect_mandatory_text {
    font-size: 12px;
}

#pxwebcontent .variableselector_valuesselect_mandatory_star {
    font-size: 28px;
}

#pxwebcontent .link-buttons-container {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    padding-top: 12px;
}

#pxwebcontent .pxweb-link.negative.with-icon {
    /*CSS from CMS has important tag set for links*/
    color: #b6e8b8 !important;
}

    #pxwebcontent .pxweb-link.negative.with-icon:hover {
        /*CSS from CMS has important tag set for links*/
        color: #274247 !important;
    }

    #pxwebcontent .pxweb-link.negative.with-icon.variableselector-search {
        margin-bottom: 12px;
    }

#pxwebcontent .optional-variable-panel {
    background-color: #FFFFFF;
    box-sizing: border-box;
    border: solid #3496d2 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#pxwebcontent .optional-variable-text {
    color: #000000;
    padding-left: 5px;
    font-size: 14px;
    font-weight: bold;
    font-family: Roboto Condensed, sans-serif;
}

#pxwebcontent .optional-variable-icon-panel {
    background-color: #3496d2;
    box-sizing: border-box;
    width: 22px;
    height: 21px;
    border: solid #3496d2 2px;
}
