name: MSBuild

on: push

jobs:
  build:

    runs-on: windows-2019

    strategy:
      matrix:
        configuration: [Debug, Release]

    steps:

    - uses: actions/checkout@v4

    - uses: microsoft/setup-msbuild@v2.0.0

    - uses: NuGet/setup-nuget@v2.0.1

    - name: Restore NuGet packages
      run: nuget restore

    - name: Build the application
      run: msbuild /p:Configuration=$env:Configuration
      env:
        Configuration: ${{ matrix.configuration }}
