<?xml version="1.0" encoding="utf-8"?>
<Menu>
  <Language lang="en" default="true">
    <MenuItem selection="Database" sortCode="Database">
      <Description></Description>
      <Text>Database</Text>
      <TextShort></TextShort>
      <MenuItem selection="Database\EN" sortCode="Environment">
        <Description></Description>
        <Text>Environment</Text>
        <TextShort></TextShort>
        <MenuItem selection="Database\EN\EN02" sortCode="Miscellaneous">
          <Description></Description>
          <Text>Miscellaneous</Text>
          <TextShort></TextShort>
          <Link selection="Database\EN\EN02\TAB005.px" sortCode="TAB005" type="PX" category="O" tableId="TAB005" status="A">
            <Description></Description>
            <Text>Land use in Sweden, hectares by region, land use, contents and year</Text>
            <TextShort>TAB005</TextShort>
            <Attribute name="Var1Name">region</Attribute>
            <Attribute name="Var1Values">Sweden, Upplands Väsby, Vallentuna, Österåker, ..., Kiruna</Attribute>
            <Attribute name="Var1NumberOfValues">291</Attribute>
            <Attribute name="Var2Name">land use</Attribute>
            <Attribute name="Var2Values">arable land, grazing land, productive forest, non-productive forest, ..., total land area</Attribute>
            <Attribute name="Var2NumberOfValues">11</Attribute>
            <Attribute name="Var3Name">contents</Attribute>
            <Attribute name="Var3Values">Land use, hectares, </Attribute>
            <Attribute name="Var3NumberOfValues">1</Attribute>
            <Attribute name="Var4Name">year</Attribute>
            <Attribute name="Var4Values">2010, 2015, </Attribute>
            <Attribute name="Var4NumberOfValues">2</Attribute>
            <Attribute name="size">52375</Attribute>
            <Attribute name="cells">6402</Attribute>
            <Attribute name="updated">20230703 11:01</Attribute>
            <Attribute name="modified">20230525 15:42</Attribute>
            <Published>2023-07-03 11:01:19</Published>
            <LastUpdated>2023-05-25 15:42:00</LastUpdated>
            <StartTime>2010</StartTime>
            <EndTime>2015</EndTime>
          </Link>
        </MenuItem>
      </MenuItem>
    </MenuItem>
  </Language>
  <Language lang="sv" default="false">
    <MenuItem selection="Database" sortCode="Database">
      <Description></Description>
      <Text>Database</Text>
      <TextShort></TextShort>
      <MenuItem selection="Database\EN" sortCode="Miljö">
        <Description></Description>
        <Text>Miljö</Text>
        <TextShort></TextShort>
        <MenuItem selection="Database\EN\EN02" sortCode="Diverse">
          <Description></Description>
          <Text>Diverse</Text>
          <TextShort></TextShort>
          <Link selection="Database\EN\EN02\TAB005.px" sortCode="TAB005" type="PX" category="O" tableId="TAB005" status="A">
            <Description></Description>
            <Text>Markanvändningen i Sverige, hektar efter region, markanvändning, tabellinnehåll och år</Text>
            <TextShort>TAB005</TextShort>
            <Attribute name="Var1Name">region</Attribute>
            <Attribute name="Var1Values">Riket, Upplands Väsby, Vallentuna, Österåker, ..., Kiruna</Attribute>
            <Attribute name="Var1NumberOfValues">291</Attribute>
            <Attribute name="Var2Name">markanvändning</Attribute>
            <Attribute name="Var2Values">åkermark, betesmark, skogsmark, produktiv, skogsmark, improduktiv, ..., total landareal</Attribute>
            <Attribute name="Var2NumberOfValues">11</Attribute>
            <Attribute name="Var3Name">tabellinnehåll</Attribute>
            <Attribute name="Var3Values">Land use, hectares, </Attribute>
            <Attribute name="Var3NumberOfValues">1</Attribute>
            <Attribute name="Var4Name">år</Attribute>
            <Attribute name="Var4Values">2010, 2015, </Attribute>
            <Attribute name="Var4NumberOfValues">2</Attribute>
            <Attribute name="size">52375</Attribute>
            <Attribute name="cells">6402</Attribute>
            <Attribute name="updated">20230703 11:01</Attribute>
            <Attribute name="modified">20230525 15:42</Attribute>
            <Published>2023-07-03 11:01:19</Published>
            <LastUpdated>2023-05-25 15:42:00</LastUpdated>
            <StartTime>2010</StartTime>
            <EndTime>2015</EndTime>
          </Link>
        </MenuItem>
      </MenuItem>
    </MenuItem>
  </Language>
</Menu>